<div class="network--campaign">
    <ul class="networkList container">
        {{#each channel}}
        <li class="networkItem">
            <a href="{{link}}" class="networkLink" target="_blank" rel="noopener noreferrer">
                <img src="{{img}}" alt="{{title}}" width="{{width}}" height="{{height}}" class="networkImg">
            </a>
        </li>
        {{/each}}
    </ul>
</div>