<div class="addressSelect">
    <div class="formWrap select2 -formAdd">
        {{!-- <input type="text" class="formInput" name="pAddress" id="pAddress" value=""
            placeholder="Provinsi, kota, kecamatan, kode pos"> --}}
        <!-- province -->
        <div class="selectWrap -province">
            <select id="pAddress" name="pAddress" aria-label="select province">
                <option></option>
                {{#each province}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="selectWrap -city">
            <!-- city -->
            <select id="pCAddress" name="pCAddress" aria-label="select city">
                <option></option>
                {{#each cities}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="selectWrap -district">
            <!-- city -->
            <select id="pDAddress" name="pDAddress" aria-label="select district">
                <option></option>
                {{#each subdistrict}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="selectWrap -zip">
            <!-- city -->
            <select id="pZAddress" name="pZAddress" aria-label="select zip code">
                <option></option>
                {{#each zip}}
                <option value="{{code}}">{{code}}</option>
                {{/each}}
            </select>
        </div>
        <input type="text" class="formInput" name="inputpAddress" id="inputpAddress" value=""
            placeholder="Provinsi, kota, kecamatan, kode pos" readonly>
        <button class="button addressDel" aria-label="Delete address" type="button">
            Hapus
        </button>
    </div>
    <div class="addressSelectDrop" id="paddressDrop"></div>
</div>