<div class="breadcrumbItem">
    <a href="index.html" class="breadcrumbTitle">Home</a>
</div>
<div class="breadcrumbItem">
    {{#if link}}
    <a href="{{link}}" class="breadcrumbTitle{{#if subtitle}}{{else}} active{{/if}}">{{title}}</a>
    {{else}}
    <div class="breadcrumbTitle{{#if subtitle}}{{else}} active{{/if}}">{{title}}</div>
    {{/if}}
</div>
{{#if subtitle}}
<div class="breadcrumbItem">
    {{#if sublink}}
    <a href="{{sublink}}" class="breadcrumbTitle active">{{subtitle}}</a>
    {{else}}
    <div class="breadcrumbTitle active">{{subtitle}}</div>
    {{/if}}    
</div>
{{/if}}