<footer class="footer spacing-lg">
    <div class="container container-xl">
        <hr>
        <div class="footerWrap">
            {{#each footerMenu}}
            <div class="footerNav">
                <div class="footerLabel">{{title}}</div>
                {{#if menu}}
                <div class="footerMenu">
                    {{#each menu}}
                    <a href="{{link}}" class="footerLink">{{title}}
                    </a>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div class="footerWrap">
            <div class="footerPayment">
                <div class="footerLabel">Metode Pembayaran</div>
                <ul class="footerList">
                    {{#each paymentMethod}}
                    <li class="footerItem">
                        <img src="./asset/images/{{image}}" alt="{{title}}" loading="lazy" width="76" height="35">
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="footerBank">
                <div class="footerLabel">Bank Transfer</div>
                <ul class="footerList">
                    {{#each bankTransfer}}
                    <li class="footerItem">
                        <img src="./asset/images/{{image}}" alt="{{title}}" loading="lazy" width="73" height="37">
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="footerDelivery">
                <div class="footerLabel">Jasa Pengiriman</div>
                <ul class="footerList">
                    {{#each delivery }}
                    <li class="footerItem">
                        <img src="./asset/images/{{image}}" alt="{{title}}" loading="lazy" width="75" height="26">
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="footerWrap footerBottom">
            <div class="footerCopy">
                <a href="index.html">
                    <img src="./asset/images/logo-smexpo.svg" class="footerLogo" alt="Pertamina Smexpo" width="195"
                        height="195"></a>
                <div class="footerCopyTxt">
                    Situs jual beli online UMKM binaan Pertamina <span>mudah & terpercaya</span> <br>
                    Copyright © 2023
                </div>
            </div>
            <div class="socmed">
                {{>socmed}}
            </div>
        </div>
    </div>
</footer>