{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="boxItem{{#if ../col}} {{../col}}{{/if}}">
    {{#if ../link}}
    <a href="{{link}}" class="boxWrap">
    {{else}}
    <div class="boxWrap">
    {{/if}}
        <div class="{{../imgclass}}">
            <img src="{{images}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}}loading="lazy" {{/if}}>
        </div>
        <div class="boxContent">
        {{#if ../tag}}
        <{{.. /tag}} class="{{../titleclass}}">{{title}}</{{.. /tag}}>
        {{else}}
        <div class="{{../titleclass}}">{{title}}</div>
        {{/if}}

        {{#if ../button}}
        <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="buttonTxt">{{../button}}<span class="ico icoArrow"></span></a>
        {{/if}}
        </div>
    {{#if ../link}}
    </a>
    {{else}}
    </div>
    {{/if}}
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}