{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="eventItem{{#if ../col}} {{../col}}{{/if}}">
    <a href="{{link}}" class="eventLink">
        <div class="eventImg">
            <img src="{{images}}" alt="{{title}}" width="337" height="190" {{#if ../lazy}}loading="lazy" {{/if}}>
        </div>
        <div class="eventContent">
            {{#if ../caption}}
            <div class="eventCaption titleH4">Upcoming Event</div>
            <div class="titleLead">{{dates}}</div>
            {{else}}
            <div class="eventTag">Events & Promo</div>
            {{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="eventTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="eventTitle titleH5">{{title}}</div>
            {{/if}}
            {{#if ../lead}}
            <div class="eventLead titleBody400">{{lead}}</div>
            <div class="buttonTxt">Read more <span class="ico icoArrow"></span></div>
            {{/if}}
        </div>
        {{#if ../lead}}
        {{else}}
        <span class="ico icoLink eventLinkIco"></span>
        {{/if}}
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}