<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.name}} - {{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{site.name}} - {{site.description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{site.name}}" />
    <meta name="twitter:description" content="{{site.name}} - {{site.description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=1x16 href="{{site.logo}}">
    {{#if swiper}}
    <!-- swiper plugin -->
    <link rel="stylesheet" href="./asset/css/swiper-bundle.min.css" />
    {{/if}}
    {{#if page}}
    <link rel="stylesheet" href="./asset/css/style-{{page}}.css" type="text/css">
    {{else}}
    <link type="text/css" rel="stylesheet" href="./asset/css/style.css">
    {{/if}}
    <link rel="preload" href="./asset/images/gramedia-logo.svg" as="image" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        @font-face {
            font-family: 'Gotham-Bold';
            src: local('Gotham Bold'), local('Gotham-Bold'),
                url('./asset/fonts/Gotham-Bold.woff2') format('woff2'),
                url('./asset/fonts/Gotham-Bold.woff') format('woff'),
                url('./asset/fonts/Gotham-Bold.ttf') format('truetype');
            font-weight: 700;
            font-display: swap;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham-Medium';
            src: local('Gotham Medium'), local('Gotham-Medium'),
                url('./asset/fonts/Gotham-Medium.woff2') format('woff2'),
                url('./asset/fonts/Gotham-Medium.woff') format('woff'),
                url('./asset/fonts/Gotham-Medium.ttf') format('truetype');
            font-weight: 500;
            font-display: swap;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: local('Gotham'), local('Gotham Book'),
                url('./asset/fonts/Gotham-Book.woff2') format('woff2'),
                url('./asset/fonts/Gotham-Book.woff') format('woff'),
                url('./asset/fonts/Gotham-Book.ttf') format('truetype');
            font-weight: 400;
            font-display: swap;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham Italic';
            src: local('Gotham Italic'), local('Gotham Book Italic'),
                url('./asset/fonts/Gotham-BookItalic.woff2') format('woff2'),
                url('./asset/fonts/Gotham-BookItalic.woff') format('woff'),
                url('./asset/fonts/Gotham-BookItalic.ttf') format('truetype');
            font-weight: 400;
            font-display: swap;
            font-style: italic;
        }
    </style>
</head>