{{#eq type compare="--video"}}
{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="mediaItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}{{#if ../class}} {{../class}}{{/if}}">
    <button class="button mediaLink" onclick="event.stopPropagation(); triggerActive('.-gVideo')">
        <div class="mediaImg">
            <img src="{{#if images_big}}{{images_big}}{{else}}{{images}}{{/if}}" alt="{{title}}" width="355"
                height="200" {{#if ../lazy}}loading="lazy" {{/if}}>
        </div>
        <div class="mediaContent center-flex">
            <div class="mediaDates">{{publish}}</div>
            {{#if ../tag}}
            <{{.. /tag}} class="mediaTitle titleH5 text-center">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="mediaTitle titleH5 text-center">{{title}}</div>
            {{/if}}
        </div>
    </a>
    <figcaption itemprop="caption description" class="mediaLead sr-only">
        {{lead}}
    </figcaption>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
{{else}}
{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="mediaItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}{{#if ../class}} {{../class}}{{/if}}">
    <button class="button mediaLink -photoswipeTrig">
        <div class="mediaImg">
            <img src="{{#if images_big}}{{images_big}}{{else}}{{images}}{{/if}}" alt="{{title}}" width="355"
                height="200" {{#if ../lazy}}loading="lazy" {{/if}}>
        </div>
        <div class="mediaContent center-flex">
            <div class="mediaDates">{{publish}}</div>
            {{#if ../tag}}
            <{{.. /tag}} class="mediaTitle titleH5 text-center">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="mediaTitle titleH5 text-center">{{title}}</div>
            {{/if}}
        </div>
    </a>
    <figcaption itemprop="caption description" class="mediaLead sr-only">
        {{lead}}
    </figcaption>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
{{/eq}}