{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="newsItem{{#if ../col}} {{../col}}{{/if}}">
    <a href="{{link}}" class="newsLink">
        <div class="newsImg">
            <img src="{{images}}" alt="{{title}}" width="337" height="190"{{#if ../lazy}} loading="lazy"{{/if}}>
        </div>
        <div class="newsContent">
            <div class="newsDates">{{publish}}</div>
            {{#if ../tag}}
            <{{.. /tag}} class="newsTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="newsTitle titleH5">{{title}}</div>
            {{/if}}
            <div class="newsLead">{{lead}}</div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}