{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem">
    <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="productLink">
        <div class="productImg">
            <img src="{{images}}" alt="{{title}}" width="200" height="300" {{#if ../lazy}}loading="lazy" {{/if}}>
            {{#if disc}}
            <div class="productDisc">
                {{disc}}
            </div>
            {{/if}}
        </div>
        <div class="productContent">
            {{#if ../tag}}
            <{{.. /tag}} class="productTitle">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="productTitle">{{title}}</div>
            {{/if}}
            <div class="productAuthor">{{author}}</div>
            <div class="productPrice">{{pricefinal}}
                {{#if price}}
                <span class="productPrice --final">{{price}}</span>
                {{/if}}
            </div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}