{{#each widget}}
<div class="widgetItem{{#if ../col}} {{../col}}{{/if}}">
    <a href="{{link}}" class="widgetWrap">
        <div class="widgetImg">
            <img src="{{images}}" alt="" loading="lazy" width="110" height="111">
        </div>
        <div class="widgetContent">
            <div class="widgetTitle">{{title}}</div>
            <div class="widgetTxt">
                <div class="widgetTxtDesc">{{desc}}</div>
                <div class="widgetCta">See details</div>
            </div>
        </div>
    </a>
</div>
{{/each}}