{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
{{#each submenu}}
<div class="sidebarItem">
    <h3 class="sidebarTitle titleH4">{{title}}</h3>
    <div class="sidebarList">
        {{#each subchild}}
        <h4 class="sidebarListItem">
            <a href="{{link}}" class="sidebarLink{{#eq title compare=../../../page}} active{{/eq}}">
                <div class="titleH6">{{title}}</div>
            </a>
        </h4>
        {{/each}}
    </div>
</div>
{{/each}}
{{/gte}}
{{else}}
{{/gte}}
{{/each}}