{{#each media}}
<div class="mediaItem col-12 col-md-6">
    <a href="{{link}}" class="mediaLink">
        <h3 class="titleArt">{{title}}</h3>
        <p class="mediaLead">{{lead}}</p>
        <img src="{{image}}" class="mediaLogo" alt="{{source}}" width="144" height="30" loading="lazy">
    </a>
</div>
{{/each}}