<!-- s: more article -->
<div class="highlight">
    <ul class="highlightList row">
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <li class="highlightItem col-gd12-4 mt30">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">{{item.subtitle}}</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
                <h2 class="highlightTitle mt10"><a href="{{item.link}}" class="highlightLink">{{item.title}}</a></h2>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <li class="highlightItem col-gd12-4 mt30">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">{{item.subtitle}}</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
                <h2 class="highlightTitle mt10"><a href="{{item.link}}" class="highlightLink">{{item.title}}</a></h2>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <li class="highlightItem col-gd12-4 mt30">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">{{item.subtitle}}</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
                <h2 class="highlightTitle mt10"><a href="{{item.link}}" class="highlightLink">{{item.title}}</a></h2>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <li class="highlightItem col-gd12-4 mt30">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">{{item.subtitle}}</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
                <h2 class="highlightTitle mt10"><a href="{{item.link}}" class="highlightLink">{{item.title}}</a></h2>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
</div>
<!-- e: more article -->