<div class="liniList row">
    {{#eachIndex imprints}}
    <div class="liniItem col">
        <a href="{{item.link}}" class="liniLink">
            <h2 class="liniTitle liniTitle{{index}}">
                {{item.title}}
            </h2>
            <div class="liniImg">
                <img src="{{item.image}}" alt="{{item.title}}" width="221" height="330" {{#eq index compare=3}}
                    loading="lazy" {{/eq}}{{#eq index compare=4}} loading="lazy" {{/eq}}>
            </div>
        </a>
    </div>
    {{/eachIndex}}
</div>