{{#each product}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="cartBox productLink">
    <div class="cartCheckProduct">
        <input type="checkbox" name="" class="formCheck" {{#if ../checked}} checked{{/if}} aria-label="{{title}}">
        <span class="formCheckbox"></span>
    </div>
    <div class="cartContent">
        <a href="{{link}}" class="productBoxWrap">
            <div class="productImg">
                <img src="{{image}}" alt="{{title}}" width="180" height="180">
            </div>
            <div class="productBoxContent">
                <div class="productTitle">{{title}}
                </div>
                <div class="productDisc">
                    <span class="priceDisc">-{{disc}}</span>
                    <span class="priceNet">{{pricenet}}</span>
                    <span class="productPrice">{{price}}</span>
                </div>
            </div>
        </a>
        <div class="cartVariantWrap">variasi
            <span class="icon iconChevron"></span>
            <span class="cartVariant">Abu-abu</span>
        </div>
    </div>
    <div class="cartContent">
        <div class="cartMsg">
            <button class="button cartMsgTrig" onclick="triggerActiveButton(this)">Tulis Catatan</button>
            <div class="cartMsgWrap">
                <textarea class="formArea formInput cartMsgInput" name="" cols="45" rows="2" inputmode="text"
                    placeholder="Tulis catatan" aria-label="Write message"></textarea>
                <div class="cartMsgClose">
                    <button class="button cartMsgCta" onclick="triggerClose(this, '.cartMsg', '.cartMsgTrig')">Tutup
                        <span>0/144</span></button>
                </div>
            </div>
        </div>
        <div class="qtyWrap">
            <button class="button cartDel">Hapus</button>
            <div class="qty">
                <button onclick="dec(this, '0')" class="button qtyBtn disable">-</button>
                <input name="number" type="text" value="0" class="qtyInput" id="qty" aria-label="Atur Jumlah">
                <button onclick="inc(this, '8')" class="button qtyBtn">+</button>
            </div>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}