{{#if pos}}
<div class="detailsCover{{#if pos}} -{{pos}}{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="detailsCoverImg artImg">
        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=740&h=420" alt="{{title}}" width="740" height="420"
            class="image" url="https://images.bisnis.com/posts/{{img}}">
        <button class="button detailsZoom" onclick="openModalImage('detail-modal-image', this)" aria-label="Zoom image">
            <span class="icoInline icoZoom"></span>
        </button>
    </div>
    <div class="detailsImgCaption caption">{{imgcap}}</div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>
{{else}}
<div class="detailsCover{{#if mt}} mt{{mt}}{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{#if ../premium}}
    <div class="detailsCoverImg artImg">
        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=1080&h=606" alt="{{title}}" width="1080" height="606">
    </div>

    {{>detail/title premium=../premium channel=../channel index_start=../index_start index_end=../index_end}}
    {{else}}
    <figure class="detailsCoverImg artImg">
        <a href="https://images.bisnis.com/posts/{{img}}" data-pswp-width="1000" data-pswp-height="667"
            data-cropped="true">
            <img src="https://images.bisnis.com/posts/{{img}}" alt="Felis eget egestas sapien netus." width="1080"
                height="378" />
        </a>
        <button class="button detailsZoom" onclick="openModalImage('detail-modal-image', this)" aria-label="Zoom image">
            <span class="icoInline icoZoom"></span>{{#eq zoomtxt compare=false}}{{else}}Perbesar{{/eq}}
        </button>
    </figure>
    {{/if}}
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>
{{/if}}