<div class="detailsPaging">
    <div class="detailsPagingCaption">
        {{page}} dari 3 halaman
    </div>
    <div class="detailsPagingWrap{{#eq page compare=1}} -first{{/eq}}">
        {{#eq page compare=1}}
        <a href="details-{{kanal}}-series-2.html" class="detailsPagingItem">
            <div class="detailsPagingThumb">
                <img src="./asset/images/thumb.jpg" alt="" width="124" height="70" loading="lazy">
            </div>
            <div class="detailsPagingContent">
                <div class="detailsPagingLead">Selanjutnya</div>
                <div class="detailsPagingTitle">Menyusun Catatan Kegiatan</div>
            </div>
        </a>
        {{/eq}}
        {{#eq page compare=2}}
        <a href="details-{{kanal}}-series.html" class="detailsPagingItem">
            <div class="detailsPagingThumb">
                <img src="https://images.bisnis.com/thumb/posts/2023/04/05/1644026/6_tips_produktif_saat_puasa,_apa_saja__(pexels).jpg?w=124&amp;h=70"
                    alt="" width="124" height="70" loading="lazy">
            </div>
            <div class="detailsPagingContent">
                <div class="detailsPagingLead">Sebelumnya</div>
                <div class="detailsPagingTitle">Simak 6 Tips Produktif Saat Puasa Agar Lebih Bersemangat</div>
            </div>
        </a>
        <a href="details-{{kanal}}-series-3.html" class="detailsPagingItem">
            <div class="detailsPagingThumb">
                <img src="./asset/images/thumb.jpg" alt="" width="124" height="70" loading="lazy">
            </div>
            <div class="detailsPagingContent">
                <div class="detailsPagingLead">Selanjutnya</div>
                <div class="detailsPagingTitle">Kurangi Kegiatan Yang Tidak Perlu</div>
            </div>
        </a>
        {{/eq}}
        {{#eq page compare=3}}
        <a href="details-{{kanal}}-series-2.html" class="detailsPagingItem">
            <div class="detailsPagingThumb">
                <img src="./asset/images/thumb.jpg" alt="" width="124" height="70" loading="lazy">
            </div>
            <div class="detailsPagingContent">
                <div class="detailsPagingLead">Sebelumnya</div>
                <div class="detailsPagingTitle">Menyusun Catatan Kegiatan</div>
            </div>
        </a>
        {{/eq}}
    </div>
</div>