<div class="detailsTitle{{#if premium}}{{else}} text-center{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{#if ../premium}}
    <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
    {{else}}
    <div class="artChannel">{{channel}}</div>
    {{/if}}
    <h1 class="detailsTitleCaption">{{title}}</h1>
    <div class="detailsAttribute{{#if ../premium}}{{else}} center-flex{{/if}}">
        <span class="detailsAttributeAuthor">
            <div class="profileImg{{#if ../default}} profileImgDefault{{/if}}">
                <img src="{{authorphoto}}" alt="{{author}}" loading="lazy" width="26" height="26">
            </div>
            <div class="authorName">{{author}}</div>
        </span>
        <span>{{dates}}</span>
        <span>5 menit baca</span>
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>