<div class="detailsTitle text-center">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="artChannel">{{channel}}</div>
    <h1 class="detailsTitleCaption">{{title}}</h1>
    <div class="detailsAttribute center-flex">
        <span class="detailsAttributeAuthor">
            <div class="profileImg">
                <img src="{{authorphoto}}" alt="{{author}}" loading="lazy" width="26" height="26">
            </div>
            <div class="authorName">{{author}}</div>
        </span>
        <span>{{dates}}</span>
        <span>5 menit baca</span>
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>