{{#each catalogMenu}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div
    class="catalogItem col-5 col-md-3 col-xl-2">
    <a href="{{link}}" class="catalogMenuLink">
        <div class="catalogImg">
            <img src="./asset/images/{{image}}" alt="{{title}}" width="70" height="70">
        </div>
        <h3 class="catalogTitle">{{title}}</h3>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}