{{#eq type compare="categ"}}
<div class="sortBox sortCategBox -jsTogglePar">
    <button class="button sortTrig -jsToggle" onclick="toggleItem(this)">
        <div class="sortIcon"><img src="./asset/images/icon-grad/categ.png" alt="" width="20" height="20"></div>
        <div class="sortTitle">Kategori</div>
        <span class="icon iconChevron"></span>
    </button>
    <div class="sortTarget -jsToggleTg">
        <div class="sortItem">
            <a href="{{link}}" class="sortLink active">
                Semua Kategori
            </a>
        </div>
        {{>catalog/sort-catalog total=6 index_start=0 index_end=6}}
    </div>
</div>
{{/eq}}
{{#eq type compare="loc"}}
<div class="sortBox sortLocBox -jsTogglePar">
    <button class="button sortTrig -jsToggle" onclick="toggleItem(this)">
        <div class="sortIcon"><img src="./asset/images/icon-grad/loc.png" alt="" width="20" height="20"></div>
        <div class="sortTitle">Lokasi</div>
        <span class="icon iconChevron"></span>
    </button>
    <div class="sortTarget -jsToggleTg">
        {{>catalog/sort-location total=5 index_start=0 index_end=5}}

        <button class="button sortMore" onclick="triggerPopover(this);event.stopPropagation();">Lihat Lainnya</button>
        <div class="sortPopover popover">
            <div class="popoverTitle">
                Lokasi
            </div>
            <button class="button popoverClose" aria-label="Close popup" onclick="closePopover(this);">
                <span class="icon iconClose"></span>
            </button>
            <div class="popoverContent">
                <div class="spacing-sm">
                    {{>catalog/sort-location total=5 index_start=0 index_end=5}}
                </div>
                <div class="spacing-sm"><strong>A</strong></div>
                <div class="spacing-xs">
                    {{>catalog/sort-location total=2 index_start=6 index_end=7}}
                </div>
                <div class="spacing-sm"><strong>B</strong></div>
                <div class="spacing-xs">
                    {{>catalog/sort-location total=4 index_start=7 index_end=10}}
                </div>
                <br><br>
            </div>
            <div class="popoverCtaWrap">
                <button class="button popoverReset" onclick="resetLocationOption()">
                    Reset
                </button>
                <button class="button popoverCta">
                    Terapkan
                </button>
            </div>
        </div>
    </div>
</div>
{{/eq}}
{{#eq type compare="price"}}
<div class="sortBox sortPriceBox -jsTogglePar">
    <button class="button sortTrig -jsToggle" onclick="toggleItem(this)">
        <div class="sortIcon"><img src="./asset/images/icon-grad/price.png" alt="" width="20" height="20"></div>
        <div class="sortTitle">Harga</div>
        <span class="icon iconChevron"></span>
    </button>
    <div class="sortTarget -jsToggleTg">
        <div class="sortLabel">Harga Minimum</div>
        <div class="sortPrice">
            <input type="text" name="" class="formText sortInput" inputmode="numeric">
            <div class="sortCurr">Rp</div>
        </div>
        <div class="sortLabel">Harga Maksimum</div>
        <div class="sortPrice">
            <input type="text" name="" class="formText sortInput" inputmode="numeric">
            <div class="sortCurr">Rp</div>
        </div>
    </div>
</div>
{{/eq}}
{{#eq type compare="filter"}}
<div class="formSelectWrap custom-select">
    <select name="sort" id="sort" class="formSelect" aria-label="Filter">
        {{#eachIndex filter}}
        <option value="{{index}}"{{#if item.active compare=true}} selected{{/if}}>{{item.title}}</option>
        {{/eachIndex}}
    </select>
</div>
{{/eq}}
{{#eq type compare="filter-mobile"}}
<ul class="sortFilter">
    {{#eachIndex filter}}
    <li>
        <input type="radio" id="sortmob{{index}}" name="sortmob" class="formPill" {{#if item.active compare=true}}
            checked="checked" {{/if}}>
        <label for="sortmob{{index}}" class="formPill__label">
            {{item.title}}
        </label>
    </li>
    {{/eachIndex}}
</ul>
{{/eq}}