{{#each city}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="sortItem sortLoc">
    <input type="checkbox" name="loc{{@index}}" class="formCheck" aria-label="{{name}}">
    <span class="formCheckbox"></span>
    <label class="sortLabel">{{name}}</label>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}