<div class="latest{{#if mt}} mt{{mt}}{{/if}}">
    <div class="latestWrap{{#if pos}} -{{pos}}{{/if}}">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <div class="latestItem">
            <a href="{{link}}" class="artLink{{#if ../type}} art--{{../type}}{{/if}}">
                <div class="latestImg artImg">
                    {{#eq ../pos compare="three"}}
                    {{#eq @index compare=0}}
                    {{#if ../subkanal}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=740&h=393" width="740" height="393"
                        alt="{{title}}">
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=740&h=393" width="740" height="393"
                        alt="{{title}}" loading="lazy">
                    {{/if}}
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=354&h=200" width="354" height="200"
                        alt="{{title}}" loading="lazy">
                    {{/eq}}
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=213&h=120" width="213" height="120"
                        alt="{{title}}" loading="lazy">
                    {{/eq}}
                    {{#if live}}
                    <div class="artLive"><span>Live</span></div>
                    {{/if}}
                </div>
                <div class="artContent">
                    <div class="artContentWrap">
                        {{#if premium}}
                        <div class="artChannel -premium">
                            Premium<span class="icoInline icoPremium"></span>
                        </div>
                        {{else}}
                        {{#if ../subkanal}}
                        <div class="artChannel">
                            Gadget
                        </div>
                        {{else}}
                        <div class="artChannel">
                            {{channel}}
                        </div>
                        {{/if}}
                        {{/if}}
                        <div class="artDate">
                            22 November 2022
                        </div>
                    </div>
                    <h4 class="latestTitle artTitle">
                        {{title}}
                    </h4>
                </div>
            </a>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
</div>