<div class="hL">
    <div class="hLBig -js-hl-big">
        {{#each channel}}
        {{#gte @index compare=../index_big_start}}
        {{#gte @index compare=../index_big_end}}
        {{else}}
        <div class="hLBigItem">
            <a href="{{link}}" class="hLLink artLink" aria-label="{{title}}">
                {{#compare @index "==" 0}}
                <div class="hLBigImg artImg" id="imgLCP">
                    {{!-- <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=384&h=216" alt="{{title}}" width="384" height="216"> --}}
                    <img src="./asset/images/thumb.jpg" alt="{{title}}" width="150" height="125">
                </div>
                {{else}}
                <div class="hLBigImg artImg">
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=384&h=216" alt="{{title}}" width="384" height="216">
                </div>
                {{/compare}}
            </a>
            <div class="hLBigContent">
                <div class="artContentWrap">
                    <div class="artChannel{{#if premium}} -premium{{/if}}">
                        <a href="#">
                            {{#if premium}}
                            <span class="icoInline icoPremium"></span>Premium
                            {{else}}
                            {{channel}}
                            {{/if}}
                        </a>
                    </div>
                </div>
                <a href="{{link}}" class="hLLink artLink">
                    <h1 class="hLBigTitle artTitle">
                        {{title}}
                    </h1>
                </a>
            </div>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
    <div class="hLSmall artWrap -col mt30">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <div class="hLSmallItem artItem">
            <a href="{{link}}" class="hLLink artLink">
                <div class="hLSmallImg artImg">
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=200&h=112" alt="{{title}}" width="200" height="112">
                </div>
            </a>
            <div class="hLContent">
                <div class="artContentWrap">
                    <div class="artChannel{{#if premium}} -premium{{/if}}">
                        <a href="#">
                            {{#if premium}}
                            <span class="icoInline icoPremium"></span>Premium
                            {{else}}
                            {{channel}}
                            {{/if}}
                        </a>
                    </div>
                </div>
                <a href="{{link}}" class="hLLink artLink">
                    <h2 class="hLSmallTitle artTitle">
                        {{title}}
                    </h2>
                </a>
            </div>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
</div>