<div
    class="highlight{{#if col}} highlight--{{col}}{{/if}}{{#if type}} highlight--{{type}}{{/if}}{{#if mt}} mt{{mt}}{{/if}}{{#if style}} {{style}}{{/if}}">
    <ul class="highlightList row{{#if wrap}} article--wrap{{/if}}">
        {{#each headline}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <li class="highlightItem{{#if ../cols}} {{../cols}}{{/if}}{{#if ../mb}} mb{{../mb}}{{/if}}">
            <a href="{{link}}" class="highlightImg__wrap" aria-label="{{title}}">
                {{#eq img compare=""}}
                <img src="./asset/images/default-thumbnail.jpg" class="highlightImg" alt="" width="152" height="113" loading="lazy">
                {{else}}
                <img src="{{img}}{{@index}}.webp" class="highlightImg" alt="" width="152" height="113" loading="lazy">
                {{/eq}}
            </a>
            <div class="highlightContent">
                {{#if ../sub}}<div class="articleSubtitle mt5">{{subtitle}}</div>{{/if}}
                {{#if ../tag}}
                <{{.. /tag}} class="articleTitle articleTitle__box mt5">
                    <a href="{{link}}" class="highlightLink">{{title}}</a>
                </{{.. /tag}}>
                {{else}}
                <div class="articleTitle articleTitle__box mt5">
                    <a href="{{link}}" class="highlightLink">{{title}}</a>
                </div>
                {{/if}}
                {{#eq ../style compare="text-center"}}
                <div class="articleDetail flex-center mt5">
                    {{#if ../user}}
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    {{/if}}
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                {{else}}
                <div class="articleDetail display-flex aitems-center mt5">
                    {{#if ../user}}
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    {{/if}}
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                {{/eq}}
            </div>
        </li>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </ul>
</div>