<div class="hL">
    <div class="hLWrap{{#if pos}} -{{pos}}{{/if}}">
        <div class="hLBig">
            <div class="hLSlide -js-hL-slider-for">
                {{#each channel}}
                {{#gte @index compare=../index_start}}
                {{#gte @index compare=../index_end}}
                {{else}}
                <div class="hLBigItem">
                    <div class="hLBigImg">
                        <img src="https://images.bisnis.com/posts/{{img}}" alt="{{title}}" width="1080" height="610">
                    </div>
                    <div class="hLBigContent{{#if premium}} -premium{{/if}}">
                        {{#if ../dates}}
                        <div class="artContentWrap">
                            <div class="artChannel">
                                {{#if premium}}
                                Premium<span class="icoInline icoPremium"></span>
                                {{else}}
                                {{channel}}
                                {{/if}}
                            </div>
                            <div class="artDate">
                                22 November 2022
                            </div>
                        </div>
                        {{else}}
                        <div class="artChannel">
                            {{#if premium}}
                            Premium<span class="icoInline icoPremium"></span>
                            {{else}}
                            {{channel}}
                            {{/if}}
                        </div>
                        {{/if}}
                        <a href="{{link}}" class="hLLink">
                            <h1 class="hLBigTitle hLTitle">
                                {{title}}
                            </h1>
                        </a>
                        {{#if ../others}}
                        <a href="{{link}}" class="titleOthers">Baca selengkapnya<span
                                class="icoInline icoArrow"></span></a>
                        {{/if}}
                        {{#if ../dates}}
                        {{else}}
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/gte}}
                {{else}}
                {{/gte}}
                {{/each}}
            </div>
        </div>
        <div class="hLNav">
            <div class="hLSlide -js-hL-slider-nav">
                {{#each channel}}
                {{#gte @index compare=../index_start}}
                {{#gte @index compare=../index_end}}
                {{else}}
                <div class="hLNavItem">
                    <div class="hLNavWrap{{#if premium}} -premium{{/if}}">
                        <div class="hLNavImg artImg">
                            {{#if ../width}}
                            <img src="https://images.bisnis.com/thumb/posts/{{img}}?w={{../width}}&h={{../height}}"
                                alt="{{title}}" width="{{../width}}" height="{{../height}}">
                            {{else}}
                            <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=98&h=98" alt="{{title}}"
                                width="98" height="98">
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/gte}}
                {{else}}
                {{/gte}}
                {{/each}}
            </div>
        </div>
    </div>
</div>