<div class="art">
    <div class="artWrap">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <div class="artItem -photo">
            <a href="{{link}}">
                <div class="artImg">
                    <img src="https://images.bisnis.com/photos/{{img}}" width="300" height="221" alt="{{title}}"
                        loading="lazy">
                </div>
                <div class="artPhotoCount">
                    <span class="icoInline icoPhoto"></span>5+
                </div>
            </a>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
</div>