<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->

    <div class="bgStatic bgStatic--warn">
        <div class="articleContent text-center">
            For better experience, rotate your screen or switch to bigger screen.
        </div>
    </div>

    <!--popup-->
    {{!-- <div class="videoPop popup" id="popup0">
        <div class="videoPop__wrap">
            <button class="button buttonClose" aria-label="Close popup">
                <span class="icon iconClose"></span>
            </button>
            <div class="videoPop__content text-center">
                <div class="videoPop__title">e-financing support</div>
                <div class="videoPop__txt"><strong>SI APIK:</strong> Aplikasi digital bagi UMKM
                    untuk
                    membantu pencatatan keuangan dan dapat menghasilkan laporan keuangan sebagai referensi bank
                    dalam menganalisis kinerja keuangan UMKM, sehingga UMKM berpotensi memperoleh kredit/pembiayaan.
                </div>
                <div id="videoAnim" class="videoPop__img">
                </div>
            </div>
        </div>
    </div> --}}
    <!--popup-->

    <!-- content -->
    <div id="content" class="content appLayout">
        <div class="section cover" id="cover">
            <div class="coverBg">
            </div>
            <div class="coverWrap container">
                <div class="coverContent">
                    <div class="coverIsland mobile-hide">
                        <picture>
                            <source srcset="./asset/images/cover-title.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/cover-title.png" media="(max-width: 767px)">
                            <img src="./asset/images/cover-title.png" alt="">
                        </picture>
                    </div>
                    <h1 class="coverCaption coverTitle">Merajut Nadi Sumatera:</h1>
                    <h2 class="coverCaption coverTitleSub">Jalan Tol hingga Gerbang Dunia</h2>
                </div>
            </div>
            <div class="articleDash"></div>
        </div>
        <div class="section intro">
            <div class="introBg"></div>
            <div class="introWrap scroll-area">
                <div class="scrollStage section container">
                    <div class="scrollBox introBox introBox1">
                        <div class="introContent introContent1">
                            <p>Sumatera adalah raksasa ekonomi yang sedang menggeliat. Dengan kekayaan alam melimpah dan
                                posisi geopolitik yang strategis, pulau ini memiliki semua syarat untuk menjadi pusat
                                gravitasi ekonomi baru.</p>

                            <p>Tantangannya bukan lagi soal 'apa yang dimiliki', melainkan 'bagaimana menghubungkannya'.
                                Sumatera membutuhkan infrastruktur yang efisien dan mampu menjadi landasan pacu bagi
                                pertumbuhan yang eksponensial.</p>
                        </div>
                        <picture>
                            <source srcset="./asset/images/intro-how.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/intro-how-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/intro-how.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="scrollBox introBox introBox2">
                        <div class="introContent introContent2">Investasi menjadi kunci. Namun lebih dari itu, Sumatera
                            membutuhkan visi jangka panjang untuk memastikan setiap rupiah yang dikucurkan mampu
                            menggarap
                            potensi secara optimal, berkelanjutan, dan berdampak luas.</div>
                        <picture>
                            <source srcset="./asset/images/intro-plan.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/intro-plan.png" media="(max-width: 767px)">
                            <img src="./asset/images/intro-plan.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="scrollBox introBox introBox3">
                        <div class="introContent introContent3">
                            <p>Menjawab urgensi akan investasi bervisi masa depan,
                                Indonesia Investment Authority (INA) hadir sebagai katalisator strategis.</p>
                            <p>Dalam menavigasi dinamika investasi global, INA bergerak dengan kompas yang jelas. Setiap
                                langkah strategisnya dipandu oleh dua pilar fundamental yang tak terpisahkan: Kemitraan
                                Strategis (co-investment) serta prinsip Lingkungan, Sosial, dan Tata Kelola (ESG).</p>
                        </div>
                        <picture>
                            <source srcset="./asset/images/intro-base.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/intro-base.png" media="(max-width: 767px)">
                            <img src="./asset/images/intro-base.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="scrollBox introBox introBox4">
                        <div class="introContent introContent4">
                            <p>Melalui mekanisme co-investment, INA memastikan arus modal yang masuk membawa dampak
                                ganda.
                                Kemitraan dengan entitas global tidak sekadar membuka akses pendanaan, tetapi juga
                                menjadi
                                jembatan transfer teknologi mutakhir dan penanaman standar operasional kelas dunia di
                                tanah
                                air.</p>

                            <p>Di sisi lain, integrasi prinsip ESG menjamin bahwa setiap infrastruktur yang dibangun
                                tidak
                                hanya diukur dari imbal hasil finansial, tetapi juga dari kontribusi positifnya terhadap
                                alam dan manusia. Ini memastikan pembangunan dapat mengalir panjang dan melintasi
                                generasi.
                            </p>
                        </div>
                        <picture>
                            <source srcset="./asset/images/intro-nature.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/intro-nature.png" media="(max-width: 767px)">
                            <img src="./asset/images/intro-nature.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="section infra bgColor__teal">
            <div class="articleDash --top"></div>
            <div class="infraBg">
                <div class="infraBgItem --top">
                    <div class="infraBgItemPic"></div>
                </div>
                <div class="infraBgItem --bottom">
                    <div class="infraBgItemPic"></div>
                </div>
            </div>
            <div class="infraWrap container">
                <p>Manifestasi dari pendekatan strategis ini terwujud nyata pada dua infrastruktur vital yang menjadi
                    tulang punggung konektivitas Sumatra:</p>

                <div class="infraTitle text-center"> Jalan Tol Bakauheni-Terbanggi Besar (BTB) serta transformasi
                    Belawan New
                    Container Terminal (BNCT).</div>
                <div class="infraList center-flex">
                    {{#each infraList}}
                    <div class="infraItem">
                        <picture>
                            <source srcset="./asset/images/infra-img-{{@index}}.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/infra-img-{{@index}}.png" media="(max-width: 767px)">
                            <img src="./asset/images/infra-img-{{@index}}.png" alt="{{title}}" loading="lazy"
                                class="articleImg">
                        </picture>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="articleDash"></div>
        </div>
        <div class="section btb bgColor__grey">
            <div class="btbBg">
                <div class="btbBgItem --top mobile-hide">
                    <picture>
                        <source srcset="./asset/images/btb-bg-1.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-bg-1-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-bg-1.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="btbBgItem --bottom mobile-hide">
                    <picture>
                        <source srcset="./asset/images/btb-bg-2.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-bg-2-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-bg-2.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="btbWrap container">
                <p>Tol Bakauheni-Terbanggi Besar (BTB) yang menghubungkan Pelabuhan Bakauheni dengan Lampung Tengah
                    hadir untuk mengurai simpul logistik dan mengakselerasi mobilitas.</p>

                <p>Kajian independen Lembaga Penyelidikan Ekonomi dan Masyarakat (LPEM) Universitas Indonesia (UI)
                    menunjukkan bahwa investasi berkelanjutan di jalan tol tersebut berpotensi melahirkan efek limpahan
                    (spillover effect) yang masif.</p>

                <div class="btbPic articlePic text-center">
                    <picture>
                        <source srcset="./asset/images/btb-img.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-img.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-img.png" alt="" loading="lazy" class="articleImg">
                    </picture>
                </div>
                <p>LPEM UI menemukan bahwa sepanjang masa konstruksi dan konsesi (2015-2067), Economic Benefit-Cost
                    Ratio (EBCR) proyek ini mencapai 2,59. Artinya, setiap IDR 1 yang diinvestasikan menghasilkan nilai
                    ekonomi sebesar IDR 2,59. Proyek ini pun diproyeksikan berkontribusi sekitar Rp 400 triliun pada
                    Produk Domestik Bruto (PDB).</p>

                <p>Kehadiran tol sepanjang 141 km itu juga mendefinisikan ulang makna "kecepatan" dan "efisiensi" dalam
                    logistik regional. Perjalanan yang sebelumnya memakan waktu 5 jam kini dapat dipangkas menjadi 2
                    jam, risiko kecelakaan menurun, dan pungutan liar dapat dihindari. Secara total, potensi penghematan
                    biaya logistik mencapai lebih dari Rp 170 triliun.</p>

                <p>Di tol BTB, teknologi Electronic Traffic Law Enforcement (ETLE), rumble strip, dan speed reducer
                    diperkenalkan untuk mendorong keselamatan dan tata kelola jalan. Inisiatif ini berpotensi menekan
                    pelanggaran batas kecepatan hingga 40 persen.</p>
            </div>
        </div>
        <div class="section btbImpact bgColor__white--grad">
            <div class="btbImpactBg">
                <div class="btbImpactBgItem">
                </div>
            </div>
            <div class="btbImpactWrap container">
                <h3 class="articleTitle">Proyeksi Dampak dari Jalan Tol Bakauheni-Terbanggi Besar</h3>
                <p>Analisis cost-benefit menunjukan potensi dampak yang signifikan sepanjang masa konstruksi dan konsesi
                    proyek (2015-2067)
                </p>
                <div class="btbImpactIntro">
                    <div class="doorstop1 icon-doorstop">
                        <img src="./asset/images/ico-doorstop.png" alt="" loading="lazy">
                    </div>
                    <picture class="icon-ratio">
                        <source srcset="./asset/images/btb-impact-cost.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-impact-cost.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-impact-cost.png" alt="" loading="lazy">
                    </picture>
                    <ul class="btbImpactList">
                        <li>Setiap IDR1 yang diinvestasikan pada BTB menghasilkan nilai ekonomi sebesar IDR2,59</li>
                        <li>Suatu investasi dianggap layak secara ekonomi apabila <strong>EBCR > 1</strong></li>
                    </ul>
                </div>
                <div class="btbImpactCaption">
                    <picture class="btbImpactIco">
                        <source srcset="./asset/images/btb-impact-eco-car.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-impact-eco-car-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-impact-eco-car.png" alt="" loading="lazy">
                    </picture>
                    <picture class="btbImpactTitlePic">
                        <source srcset="./asset/images/btb-impact-eco.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/btb-impact-eco-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/btb-impact-eco.png" alt="Ekonomi" loading="lazy">
                    </picture>
                </div>
                <div class="btbImpactEco impactList">
                    {{#each btb-impact-list}}
                    <div class="btbImpactItem impactItem">
                        <div class="btbImpactImg impactImg">
                            <picture>
                                <source srcset="./asset/images/btb-impact-{{@index}}.png" media="(min-width: 768px)">
                                <source srcset="./asset/images/btb-impact-{{@index}}.png" media="(max-width: 767px)">
                                <img src="./asset/images/btb-impact-{{@index}}.png" alt="" loading="lazy"
                                    class="articleImg">
                            </picture>
                        </div>
                        {{{title}}}
                    </div>
                    {{/each}}
                </div>
                <div class="btbImpactPro">
                    <div class="btbImpactIntro">
                        <picture>
                            <source srcset="./asset/images/btb-impact-pro-car.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/btb-impact-pro-car.png" media="(max-width: 767px)">
                            <img src="./asset/images/btb-impact-pro-car.png" alt="" loading="lazy">
                        </picture>
                        <div class="btbImpactTitle">Proyeksi Dampak Ekonomi | Meningkatkan Efisiensi Logistik</div>
                    </div>
                    <p>BTB memberikan efisiensi biaya yang signifikan melalui, antara lain, pengurangan waktu perjalanan
                        dan penghematan biaya operasional.</p>
                    <div class="btbImpactImg articlePic text-center">
                        <picture>
                            <source srcset="./asset/images/btb-impact-img.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/btb-impact-img-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/btb-impact-img.png" alt="" loading="lazy" class="articleImg">
                        </picture>
                    </div>
                </div>
            </div>
            {{!-- <div class="creditSection">
                {{!> credit}}
            </div> --}}
        </div>
        <div class="section bnct bgColor__grey--grad">
            <div class="bnctWrap container">
                <h3 class="articleTitle">Proyeksi Dampak dari Pelabuhan Belawan New Container Terminal</h3>
                <p>Sementara itu, Belawan New Container Terminal (BNCT) menjalani metamorfosis vital yang akan
                    mendefinisikan ulang peran Indonesia dalam rantai pasok global.
                </p>
                <p>BNCT mengusung visi layanan Direct Call pada 2030. Inisiatif ini akan memangkas ketergantungan pada
                    pelabuhan transshipment di Singapura dan Malaysia, memungkinkan kargo Indonesia berlayar langsung ke
                    pasar dunia tanpa transit.
                </p>

                <div class="bnctPic articlePic text-center">
                    <picture>
                        <source srcset="./asset/images/bnct-img.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/bnct-img.png" media="(max-width: 767px)">
                        <img src="./asset/images/bnct-img.png" alt="" loading="lazy" class="articleImg">
                    </picture>
                </div>
                <p>Selama periode konsesi (2030-2072), layanan Direct Call diproyeksikan menghasilkan penghematan biaya
                    logistik yang masif, mencakup Rp 20 triliun dari efisiensi waktu perjalanan dan Rp 40 triliun dari
                    penghindaran biaya Terminal Handling Charges (THC).</p>

                <p>BNCT juga mengadopsi digitalisasi dan standar operasional kelas dunia melalui implementasi Terminal
                    Operating System (TOS) yang terintegrasi dengan jembatan timbang digital (Weigh Bridge Integration).
                </p>

                <p>Sistem ini memungkinkan pemantauan kontainer secara real-time, meningkatkan produktivitas bongkar
                    muat, serta menjamin transparansi data. Protokol keamanan digital canggih turut diadopsi agar
                    pelabuhan lebih tangguh menghadapi ancaman siber.</p>

                <p>Dengan Economic Benefit-Cost Ratio (EBCR) sebesar 1,90, setiap investasi di BNCT menjanjikan
                    pengembalian nilai ekonomi hampir dua kali lipat, serta menyumbang Nilai Tambah Bruto sekitar Rp 82
                    triliun terhadap PDB selama masa konsesi.</p>

                <div class="bnctImpactIntro">
                    <div class="doorstop2 icon-doorstop">
                        <img src="./asset/images/ico-doorstop.png" alt="" loading="lazy">
                    </div>
                    <picture class="icon-ratio">
                        <source srcset="./asset/images/bnct-impact-cost.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/bnct-impact-cost.png" media="(max-width: 767px)">
                        <img src="./asset/images/bnct-impact-cost.png" alt="" loading="lazy">
                    </picture>
                    <ul class="bnctImpactList">
                        <li>Setiap IDR1 yang diinvestasikan pada BNCT menghasilkan nilai ekonomi sebesar IDR1,90</li>
                        <li>Suatu investasi dianggap layak secara ekonomi apabila <strong>ECBR > 1</strong></li>
                    </ul>
                </div>
                <div class="bnctImpactCaption">
                    <picture class="bnctImpactIco">
                        <source srcset="./asset/images/bnct-impact-eco-car.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/bnct-impact-eco-car-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/bnct-impact-eco-car.png" alt="" loading="lazy">
                    </picture>
                    <picture class="bnctImpactTitlePic">
                        <source srcset="./asset/images/bnct-impact-eco.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/bnct-impact-eco-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/bnct-impact-eco.png" alt="Ekonomi" loading="lazy">
                    </picture>
                </div>
                <div class="bnctImpactEco impactList">
                    {{#each bnct-impact-list}}
                    <div class="bnctImpactItem impactItem">
                        <div class="bnctImpactImg impactImg">
                            <picture>
                                <source srcset="./asset/images/bnct-impact-{{@index}}.png" media="(min-width: 768px)">
                                <source srcset="./asset/images/bnct-impact-{{@index}}.png" media="(max-width: 767px)">
                                <img src="./asset/images/bnct-impact-{{@index}}.png" alt="" loading="lazy"
                                    class="articleImg">
                            </picture>
                        </div>
                        {{{title}}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="articleDash"></div>
        </div>
        <div class="section study bgColor__teal--grad">
            <div class="studyWrap container">
                <p>Kajian LPEM UI juga mengungkap bahwa di balik triliunan rupiah nilai ekonomi, terdapat penciptaan
                    lapangan kerja serta peningkatan kesejahteraan petani dan Usaha Mikro, Kecil, dan Menengah (UMKM).
                </p>
                <ul class="studyList center-flex">
                    {{#each study-list}}
                    <li class="text-center">
                        <picture>
                            <source srcset="./asset/images/study-item-{{@index}}.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/study-item-{{@index}}.png" media="(max-width: 767px)">
                            <img src="./asset/images/study-item-{{@index}}.png" alt="{{title}}" loading="lazy"
                                class="articleImg">
                        </picture>
                        <div class="studyListTitle">{{title}}</div>
                    </li>
                    {{/each}}
                </ul>
                <p>Sepanjang masa konsesi, tol BTB berpeluang menciptakan <strong>20.000 pekerjaan per tahun</strong>
                    (langsung dan tidak langsung)</strong>. Pertumbuhan pendapatan rata-rata UMKM di sekitar wilayah tol
                    tercatat kurang lebih sebesar 12 persen, dengan potensi perluasan pasar hingga 46 persen.</p>

                <div class="studyBox">Di Belawan, dampak pemberdayaan ekonomi bisa lebih signifikan. Kajian menunjukkan
                    peluang peningkatan pendapatan pelaku usaha mencapai 50 persen, sementara 25 persen pelaku usaha
                    merasakan akses yang lebih mudah terhadap bahan baku. Proyek ini juga mendukung sekitar 4.400
                    lapangan kerja per tahun (langsung maupun tidak langsung).</div>

                <div class="studyRow row">
                    <div class="studyCol col-50">
                        <div class="studyTitle articleTitle--small">Proyeksi Dampak Ekonomi</div>
                        <p>Manfaat Makroekonomi</p>
                        <p><strong>BTB</strong> diperkirakan akan berkontribusi sebesar ~IDR400 T terhadap PDB selama
                            masa konsesi
                            dan mendukung ~20.000 lapangan kerja setiap tahun.</p>
                        <div class="studyImg text-center">
                            <img src="./asset/images/diagram1-1.png" alt="" loading="lazy" class="articleImg">
                            <p class="studyImgCaption">
                                <span><i>Spillover impact</i> terhadap output ekonomi: </span>
                                <br><strong>~IDR8 trilliun / tahun</strong>
                                <br>(Total IDR420 trilliun)
                            </p>
                            <p class="studyImgCaption">
                                <strong>Stimulus dari investasi INA: </strong><br>
                                ~IDR7 trilliun / tahun <br>
                                (IDR346 trilliun total)
                            </p>
                        </div>
                    </div>
                    <div class="studyCol col-50">
                        <div class="studyTitle">BTB Memberdayakan Dunia Usaha</div>
                        <p></p>
                        <p class="mobile-hide"><br></p>
                        <div class="studyImg text-center">
                            <img src="./asset/images/diagram1-2.png" alt="" loading="lazy" class="articleImg">
                        </div>
                    </div>
                </div>
                <div class="studyRow row">
                    <div class="studyCol col-50">
                        <div class="studyTitle articleTitle--small">Proyeksi Dampak Ekonomi</div>
                        <p>Manfaat Makroekonomi</p>
                        <p><strong>BNCT</strong> diperkirakan akan menghasilkan sekitar IDR82 trilliun dalam PDB selama
                            masa konsesi dan
                            mendukung 4.400 lapangan kerja setiap tahun</p>
                        <div class="studyImg text-center">
                            <img src="./asset/images/diagram2-1.png" alt="" loading="lazy" class="articleImg">
                            <p class="studyImgCaption">
                                <span><i>Spillover impact</i> terhadap output ekonomi: </span>
                                <br><strong>~IDR1,2 trilliun / tahun</strong>
                                <br>(Total IDR66 trilliun)
                            </p>
                            <p class="studyImgCaption">
                                <strong>Stimulus dari investasi INA: </strong><br>
                                ~IDR1,4 T / tahun (IDR81 T)
                            </p>
                        </div>
                    </div>
                    <div class="studyCol col-50">
                        <div class="studyTitle">BNCT Memberdayakan Dunia Usaha</div>
                        <p></p>
                        <p class="mobile-hide"><br></p>
                        <div class="studyImg text-center">
                            <img src="./asset/images/diagram2-2.png" alt="" loading="lazy" class="articleImg">
                        </div>
                    </div>
                </div>

                <div class="studyBox">Dari sisi lingkungan, penurunan emisi karbon dan PM10 di koridor BTB setara dengan
                    nilai ekonomi sekitar Rp 2,7 triliun. Sementara itu, efisiensi rute pelayaran di BNCT berkontribusi
                    pada penghindaran emisi dengan nilai ekonomi lingkungan hingga Rp 1,9 triliun.
                </div>
                <div class="studyTitle articleTitle--small --red">Infografik dampak lingkungan BTB</div>
                <div class="studyInfo">
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-emi.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Emisi CO2
                                    & Kualitas Udara</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <ul>
                                    <li>Jarak tempuh 11,7% lebih pendek dibandingkan jalan non-tol, menghasilkan
                                        pengurangan konsumsi bahan bakar dan emisi</li>
                                    <li>Pemantauan berkelanjutan terhadap PM2.5, PM10, getaran dan tingkat kebisingan
                                    </li>
                                </ul>
                            </div>
                            <div class="studyCol col-50">
                                <div class="text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <ul>
                                    <li><span class="icon icon-arrow"></span>1,6 juta ton (~31.000 ton/tahun) emisi CO2
                                    </li>
                                    <li><span class="icon icon-arrow"></span>4.600 ton emisi PM10</li>
                                    <li>Pengurangan emisi CO2 and PM10 setara dengan nilai ekonomi ~IDR2,7 trilliun</li>
                                    <li>(~IDR0,6 trilliun/tahun)</li>
                                    <li>Indikator kualitas udara dan tingkat kebisingan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-road.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Keselamatan Jalan
                                    & Tata Kelola</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <ul>
                                    <li>Penerapan teknologi Electronic Traffic Law Enforcement (ETLE)</li>
                                    <li>Patroli harian dan pemasangan rambu jalan reflektif</li>
                                    <li>Marka kejut (Rumble strips) dan pembatas kecepatan di 12 titik lokasi prioritas
                                    </li>
                                </ul>
                            </div>
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <ul>
                                    <li><span class="icon icon-arrow"></span>Pelanggaran batas kecepatan turun 40%</li>
                                    <li>Tingkat kecelakaan berada dalam ambang batas aman</li>
                                    <li>Rata-rata waktu tanggap darurat sekitar 12 menit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="studyTitle articleTitle--small --red">Infografik dampak lingkungan BNCT</div>
                <p>Melalui kemitraan dengan DP World dan dengan memanfaatkan keahlian mereka dalam pengelolaan terminal
                    internasional, INA berupaya meningkatkan tata kelola, keselamatan, dan efesiensi pelabuhan.</p>
                <div class="studyInfo">
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-emi.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Emisi CO2
                                    & Kualitas Udara</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <p>
                                    Penerapan layanan direct call pada 2030 akan memperpendek jarak pelayaran dan
                                    mengurangi konsumsi bahan bakar, sehingga berkontribusi terhadap penurunan total
                                    emisi CO2.
                                </p>
                            </div>
                            <div class="studyCol col-50">
                                <div class="text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <p>
                                    Proyek ini berkontribusi pada pengurangan emisi sekitar 3,4 juta ton CO2 dengan
                                    estimasi nilai ekonomi ~IDR1,9 triliun.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-cyber.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Cybersecurity</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <p>Penerapan sistem firewall, akses jarak jauh terbatas, dan mekanisme pemulihan data,
                                </p>
                            </div>
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <ul>
                                    <li>Melindungi operasional pelabuhan dari ancaman keamanan siber</li>
                                    <li>Mencegah kehilangan data serta gangguan operasional</li>
                                    <li>Keselamatan Operasional (Operational Safety)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-safety.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Keselamatan Operasional</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <p>Penerapan standar keselamatan kerja yang mencakup zona aman, jalur pejalan kaki, dan
                                    prosedur lockout-tagout (LOTO).
                                </p>
                            </div>
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <p>Integrasi langkah-langkah kesehatan dan keselamatan kerja (K3) sebagai bagian
                                    dari prosedur operasi bisnis standar Digitalisasi Sistem Terminal
                                    (Digitalization of Terminal Systems)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="studyInfoRow">
                        <div class="studyIcon text-center">
                            <img src="./asset/images/ico-system.png" alt="" loading="lazy" class="articleImg">
                            <div class="studyInfoCaption">
                                <strong>Digitalisasi Sistem Terminal</strong>
                            </div>
                        </div>
                        <div class="studyInfoContent row">
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Langkah</strong></span>
                                </div>
                                <p>Moderinisasi Terminal Operating System (Tos) dan Weight Bridge Integration untuk
                                    mendukung pemantauan kontainer secara waktu nyata serta meningkatan produktivitas
                                    siklus bongkar muat.
                                </p>
                            </div>
                            <div class="studyCol col-50">
                                <div class="desktop-hide text-center">
                                    <span class="--red"><strong>Hasil</strong></span>
                                </div>
                                <p>Sesuai dengan praktik terbaik dalam operasi pelabuhan internasional, yang mendukung
                                    otomatisasi sistem sebagai standar global
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articleDash"></div>
        </div>
        <div class="section invest bgColor__blue">
            <div class="investWrap container">
                <div class="investPic articlePic text-center">
                    <picture>
                        <source srcset="./asset/images/invest-img.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/invest-img.png" media="(max-width: 767px)">
                        <img src="./asset/images/invest-img.png" alt="" loading="lazy" class="articleImg">
                    </picture>
                </div>
                <p>Pembangunan tol BTB serta transformasi BNCT <strong>menunjukkan efektivitas intervensi investasi
                        jangka
                        panjang</strong> dengan pendekatan co-investment dan ESG.</p>

                <p>Proyek dua infrastruktur vital ini membuktikan, pembangunan yang berjalan beriringan dengan
                    pengembangan sumber daya manusia dan pelestarian alam itu mungkin.</p>

                <p>Indonesia kini selangkah lebih dekat menuju <strong>visi Indonesia Emas 2045</strong>. Sumatera
                    bukan
                    lagi raksasa
                    yang tertidur. Ia telah bangun, bergerak, dan siap terhubung dengan dunia.
                </p>
                <div class="investPic articlePic text-center">
                    <picture>
                        <source srcset="./asset/images/indo.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/indo-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/indo.png" alt="" loading="lazy" class="articleImg">
                    </picture>
                </div>
            </div>
        </div>

        {{> credit}}
        <!-- main -->
    </div>
    <!-- content -->

    {{> js}}

</body>

</html>