<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
            <div class="bgColor bgColor__blue--grad opac0">
                <div class="building opac0">
                    <div class="buildingTop text-center">
                        <div class="buildingImg buildingBg">
                        </div>
                    </div>
                    <div class="buildingBottom text-center">
                        <picture class="buildingImg">
                            <img srcset="./asset/images/map-bottom.png" alt="" loading="lazy" class="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgColor bgColor__grey--grad opac0"></div>
            <div class="bgColor bgColor__grey opac0"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="scroll-guide center-flex">
                    <span class="icon-scroll"></span>
                    scroll
                </div>
            </div>
            <div class="bgStatic">
                <div class="globe container center-flex dir-column heightFull">
                    <div class="globeImgWrap">
                        <picture class="globeImg opac0">
                            <img srcset="./asset/images/globe.png" alt="" loading="lazy" class="">
                        </picture>
                        <div class="globeAnimWrap">
                            <div class="globeAnim bombAnim animationBomb opac0" id="animationBomb"></div>
                            <div class="globeAnim stonkAnim animationStonk opac0" id="animationStonk"></div>
                            <div class="globeAnim debtAnim animationDebt opac0" id="animationDebt"></div>
                            <div class="globeAnim marketAnim animationMarket opac0" id="animationMarket"></div>
                            <div class="globeAnim cryptoAnim animationCrypto opac0" id="animationCrypto"></div>
                        </div>
                    </div>
                    <div class="globeTxtWrap">
                        <div class="globeTxt bombTxt artBox opac0">Berlanjutnya perang dan polarisasi perdagangan dan
                            investasi
                            antarnegara dalam mengatasi <span class="cl-red">ketidakseimbangan perdagangan global</span>
                        </div>
                        <div class="globeTxt stonkTxt artBox opac0">Pertumbuhan ekonomi dunia diperkirakan <span
                                class="cl-red">
                                melambat</span> dengan
                            fragmentasi antarnegara yang melebar
                        </div>
                        <div class="globeTxt debtTxt artBox opac0">Membengkaknya <span class="cl-red">utang publik
                                dunia,</span> baik di negara maju maupun berkembang
                        </div>
                        <div class="globeTxt marketTxt artBox opac0">Pasar keuangan global masih <span
                                class="cl-red">rentan
                                dan berisiko,</span>
                            khususnya dari lembaga keuangan nonbank
                        </div>
                        <div class="globeTxt cryptoTxt artBox opac0">Risiko pasar keuangan global meningkat seiring
                            maraknya
                            penerbitan dan <span class="cl-red">perdagangan aset</span> serta <span class="cl-red">mata
                                uang digital</span> oleh pihak swasta
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="bgStatic">
                <div class="sphereZoom container align-center heightFull">
                    <div class="sphereZoom__wrap">
                        <div class="spherePin sphereDay2 opac0 sphereDayPin" id="animationDayPin">
                            <div class="buttonClick sphereDayClick" aria-label="Trigger popup">
                                <span><img src="./asset/images/cursor.png" alt="" loading="lazy" width="30"
                                        height="37"></span>
                                <div class="buttonClick__txt">klik pada peta</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="bgStatic">
                <div class="night trend container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <ul class="trendList">
                            {{#each trend}}
                            <li class="trendItem trendItem{{add @index 1}} artBox">
                                <div class="trendTitle"><strong><i>{{title}}</i></strong></div>
                                <div class="trendDesc">{{desc}}</div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div> --}}
            <div class="bgStatic">
                <div class="aspectPop">
                    {{#each aspect}}
                    <div class="aspectPopup popup aspectPopup{{@index}}">
                        <div class="aspectPop__wrap">
                            <div class="aspectPop__content">
                                <div class="aspectPop__title text-center">{{{title}}}</div>
                                <ul class="aspectPop__txt">
                                    {{{list}}}
                                </ul>
                            </div>
                            <div class="aspectPop__anim aspectAnim animationDiagram{{@index}}"
                                id="animationDiagram{{@index}}"></div>
                            <button class="button aspectPop__close" aria-label="Close popup">
                                tutup
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="policyPop">
                    {{#each policy}}
                    <div class="policyPopup popup policyPopup{{add @index 1}}">
                        <div class="policyPop__wrap">
                            <img class="policyNum" src="./asset/images/policy-{{add @index 1}}.png" alt="" loading="lazy">
                            <div class="policyPop__content">
                                <div class="policyPop__title">
                                    {{title}}
                                </div>
                                <div class="policyPop__txt">
                                    {{{desc}}}
                                </div>
                            </div>
                            <button class="button policyPop__close" aria-label="Close popup">
                                <img src="./asset/images/close.png" alt="">
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section cover">
                <div class="container">
                    <div class="coverWrap center-flex dir-column text-center heightFull">
                        <div class="coverContent">
                            <h1 class="coverTxtWrap center-flex dir-column">
                                <picture class="coverTxt coverTxt--1">
                                    <img srcset="./asset/images/cover-txt-1.png" alt="Tangguh & Mandiri" class="">
                                </picture>
                                <picture class="coverTxt coverTxt--2">
                                    <img srcset="./asset/images/cover-txt-2.png" alt="Sinergi Mendorong Pertumbuhan Ekonomi
Lebih Tinggi dan Berdaya Tahan" class="">
                                </picture>
                            </h1>
                        </div>
                        <div class="coverAnim animationCover" id="animationCover"></div>
                    </div>
                </div>
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section mapSection text-center">
                <div class="container">
                    <div class="mapWrap center-flex dir-column text-center heightFull">
                        <h2 class="artCaption">Fondasi Indonesia</h2>
                        <h3 class="artTitle">Ekonomi Indonesia Tetap Stabil</h3>
                        <div class="mapAnim animationMap" id="animationMap"></div>

                        <div class="buttonClick mapClick opac0" aria-label="Trigger Content">
                            <span><img src="./asset/images/cursor.svg" alt="" loading="lazy" width="30"
                                    height="37"></span>
                            <div class="buttonClick__txt">klik pada map</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container baseContainer heightFull">
                    <div class="base1Wrap baseWrap dir-column text-center heightFull">
                        <div class="artTitle">Pertumbuhan ekonomi <br> Indonesia <span class="cl-yellow">stabil >5%*
                            </span>
                        </div>
                        <div class="cl-white">(*kecuali pada masa pandemi 2020-2021)</div>
                        <div class="base1Anim baseAnim animationBase1" id="animationBase1"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container baseContainer heightFull">
                    <div class="base2Wrap baseWrap dir-column text-center heightFull">
                        <div class="artTitle">Inflasi <span class="cl-yellow">terkendali <3% </span>
                        </div>
                        <div class="base2Anim baseAnim animationBase2" id="animationBase2"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container baseContainer heightFull">
                    <div class="base3Wrap baseWrap dir-column text-center heightFull">
                        <div class="artTitle">Nilai tukar <span class="cl-yellow">terjaga <Rp15.900* </span>
                        </div>
                        <div class="cl-white">(2019-2024)</div>
                        <div class="base3Anim baseAnim animationBase3" id="animationBase3"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container baseContainer heightFull">
                    <div class="base4Wrap baseWrap dir-column text-center heightFull">
                        <div class="artTitle">Perbankan<span class="cl-yellow"> kuat (CAR >20%)</span>
                        </div>
                        <div class="base4Anim baseAnim animationBase4" id="animationBase4"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container baseContainer heightFull">
                    <div class="base5Wrap baseWrap dir-column text-center heightFull">
                        <div class="artTitle">Kredit<span class="cl-yellow"> tumbuh >10%</span>
                        </div>
                        <div class="base5Anim baseAnim animationBase5" id="animationBase5"></div>
                    </div>
                </div>
            </section>
            <section class="section aspectSection text-center">
                <div class="container heightFull">
                    <div class="aspectWrap dir-column text-center heightFull">
                        <h2 class="artCaption">Aspek penting di 2026</h2>
                        <h3 class="artTitle">Prasayarat untuk Tangguh & Mandiri dengan <br> Pertumbuhan Lebih Tinggi dan
                            Berdaya Tahan</h3>
                        <div class="aspectAnim animationAspect opac0" id="animationAspect">

                            <div class="buttonClick aspectClick" aria-label="Trigger Content">
                                <span><img src="./asset/images/cursor.svg" alt="" loading="lazy" width="30"
                                        height="37"></span>
                                <div class="buttonClick__txt">klik pada icon</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section policySection">
                <div class="container heightFull">
                    <div class="policyWrap dir-column text-center heightFull">
                        <h2 class="artCaption">Bauran Kebijakan BI</h2>
                        <div class="policyAnim opac0">
                            <div class="policyPath">
                                {{>policy}}
                            </div>
                            <div class="buttonClick policyClick" aria-label="Trigger Content">
                                <span><img src="./asset/images/cursor.svg" alt="" loading="lazy" width="30"
                                        height="37"></span>
                                <div class="buttonClick__txt">klik pada pilar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container heightFull">
                    <div class="synergyWrap dir-column text-center heightFull">
                        <h2 class="artCaption artTitle cl-black">SINERGI PEMERINTAH–BI</h2>
                        <h3 class="artCaption artTitle cl-black">Transformasi Ekonomi Nasional</h3>
                        <div class="synergyAnim opac0">
                            <img src="./asset/images/synergy.png" alt="" loading="lazy">
                            <ul>
                                <li class="synergyItem">Stabilitas makroekonomi <br> dan sistem keuangan</li>
                                <li class="synergyItem"> Penciptaan <br> lapangan kerja</li>
                                <li class="synergyItem">Menjaga <br> pertumbuhan ekonomi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container heightFull">
                    <div class="directWrap dir-column text-center heightFull">
                        <h2 class="artCaption cl-black">ARAH 2026</h2>
                        <h3 class="artTitle cl-black">Menjaga Stabilitas, Mempercepat Pertumbuhan</h3>
                        <div class="directAnim opac0">
                            <img srcset="./asset/images/direct-anim.png" alt="" loading="lazy" class="">
                            {{!-- <ul>
                                {{#each direct}}
                                <li class="directItem directItem{{add @index 1}}">
                                    <div class="directCaption">
                                        <div class="directIcon"><img src="./asset/images/direct-{{add @index 1}}.png"
                                                alt="" loading="lazy"></div>
                                        <div class="directTitle"><span>{{title}}</span></div>
                                    </div>
                                    <div class="directDesc">{{{desc}}}</div>
                                </li>
                                {{/each}}
                            </ul> --}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="section quoteSection">
                <div class="container heightFull">
                    <div class="quoteWrap dir-column heightFull">
                        <div class="quoteAnim opac0">
                            <img srcset="./asset/images/quote-perry.png" alt="" loading="lazy" class="">

                            {{!-- <picture class="quoteImg">
                                <img srcset="./asset/images/perry-warjiyo.png" alt="" loading="lazy" class="">
                            </picture>
                            <div class="quoteTxt">
                                <i>
                                    "Indonesia menuju ekonomi yang lebih kuat, lebih inklusif, dan lebih berdaya saing
                                    global."
                            </div>
                            <div class="quoteAuthor">
                                Perry Warjiyo<br>
                                Gubernur Bank Indonesia
                            </div> --}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="section sectionCredit opac0">
                <div class="creditWrap display-flex">
                    <div class="credit center-flex">
                        <div class="creditCaption text-center titleCaption">Credits</div>
                        <div class="creditContent text-center">
                            <div class="creditCol">
                                <div class="creditTitle">Naskah & Editor</div>
                                <div class="creditName">Gajah Kusumo</div>
                            </div>
                            <div class="creditCol">
                                <div class="creditTitle">Ilustrasi & Animasi</div>
                                <div class="creditName">Muhammad Afandi</div>
                                <div class="creditName">Zoya Rasyidi Thoriq</div>
                            </div>
                            <div class="creditCol">
                                <div class="creditTitle">Developer</div>
                                <div class="creditName">Tim Teknologi Bisnis.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="creditBottom center-flex">
                        <a href="https://www.bisnis.com/" target="_self">
                            <picture class="creditBottom__logo">
                                <img srcset="./asset/images/logo-bisniscom.png" alt="Bisniscom" class="" width="169"
                                    height="38" loading="lazy">
                            </picture>
                        </a>
                        <div class="creditSp"></div>
                        <div class="creditSoc center-flex">
                            <a href="https://www.instagram.com/bisniscom/" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-ig.png" alt="Instagram" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                            <a href="https://twitter.com/Bisniscom" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-x.png" alt="X Twitter" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                            <a href="https://facebook.com/wwwbisniscom" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-fb.png" alt="Facebook" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                        </div>
                        <button class="button creditBack" onclick="window.location.reload(false)"
                            aria-label="Back to Top">
                            <picture>
                                <img srcset="./asset/images/icon-back.png" alt="" width="30" height="29" class="">
                            </picture>
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    <!-- footer -->

    {{> js}}

</body>

</html>