{{#eq type compare="filter"}}
<div class="formSelectWrap custom-select">
    <select name="sort" id="sort" class="formSelect" aria-label="Filter">
        {{#eachIndex filter}}
        <option value="{{index}}"{{#if item.active compare=true}} selected{{/if}}>{{item.title}}{{#eq index compare=1}} disimpan{{/eq}}{{#eq index compare=2}} disimpan{{/eq}}</option>
        {{/eachIndex}}
    </select>
</div>
{{/eq}}
{{#eq type compare="filter-mobile"}}
<ul class="sortFilter">
    {{#eachIndex filter}}
    <li>
        <input type="radio" id="sortmob{{index}}" name="sortmob" class="formPill" {{#if item.active compare=true}}
            checked="checked" {{/if}}>
        <label for="sortmob{{index}}" class="formPillLabel">
            {{item.title}}{{#eq index compare=1}} disimpan{{/eq}}{{#eq index compare=2}} disimpan{{/eq}}
        </label>
    </li>
    {{/eachIndex}}
</ul>
{{/eq}}
{{#eq type compare="review"}}
<div class="formSelectWrap custom-select">
    <select name="sort" id="sort" class="formSelect" aria-label="Filter">
        <option value="0">Semua Waktu</option>
        <option value="1">7 Hari Terakhir</option>
        <option value="2">Bulan ini</option>
        <option value="3" selected>3 Bulan Terakhir</option>
    </select>
</div>
{{/eq}}
{{#eq type compare="product"}}
<div class="formSelectWrap custom-select">
    <select name="sort" id="sort" class="formSelect" aria-label="Filter by catalog product">
        <option value="all">Semua Produk</option>
        {{#eachIndex catalogMenu}}
        <option value="{{index}}">{{item.title}}</option>
        {{/eachIndex}}
    </select>
</div>
{{/eq}}