<nav class="nav center-flex" aria-label="primarynavigation" id="nav">
    <div class="navWrap">
        <ul class="navList mobile display-flex">
            {{#each menu}}
            {{#eq child compare="product"}}
            <li class="navItem{{#eq ../page compare= title}} active{{/eq}}">
                <div aria-haspopup="true" tabindex="0">
                    <div class="navOpen">{{title}}
                        <span class="icon-chevron"></span>
                        <div class="navSub navSub--large">
                            {{#each ../submenu}}
                            <a href="{{link}}" class="navLink" tabindex="-1">{{title}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </li>
            {{else}}
            {{#eq child compare="info"}}
            <li class="navItem{{#eq ../page compare= title}} active{{/eq}}">
                <div aria-haspopup="true" tabindex="0">
                    <div class="navOpen">{{title}}
                        <span class="icon-chevron"></span>
                        <div class="navSub navSub--large">
                            {{#each ../submenuinfo}}
                            <a href="{{link}}" class="navLink" tabindex="-1">{{title}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </li>
            {{else}}
            <li class="navItem{{#eq ../page compare=title}} active{{/eq}}">
                <a href="{{link}}" class="navLink" tabindex="-1">{{title}}
                </a>
            </li>
            {{/eq}}
            {{/eq}}
            {{/each}}
            <li>
                <div class="searchbox mobile-only">
                    <form action="article-search.html">
                        <input type="text" name="" class="searchboxInput" aria-label="search" placeholder="SEARCH"
                            value="" inputmode="search">
                        <button type="submit" class="button searchboxBtn align-center" aria-label="search">
                            <span class="icon icon-search"></span>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <button class="button buttonTranslate" aria-label="Translate page">
        <span class="icon icon-translate"></span>
        <div id="google_translate_element"></div>
    </button>
    <div class="searchbox desktop-only">
        <form action="article-search.html">
            <input type="text" name="" class="searchboxInput" aria-label="search" placeholder="SEARCH" value=""
                inputmode="search">
            <button type="submit" class="button searchboxBtn align-center" aria-label="search">
                <span class="icon icon-search"></span>
            </button>
        </form>
    </div>
</nav>