<div class="headline">
    <ul class="headlineList" id="sheadline">
        {{#eachIndex headline}}
        <li class="headlineItem">
            <a href="{{item.link}}" class="headlineImg">
                <img src="{{item.img}}{{index}}.jpg" alt="" width="300" height="250" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">{{item.subtitle}}</div>
                <h1 class="headlineTitle"><a href="{{item.link}}" class="headlineLink">{{item.title}}</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="https://dummyimage.com/24x24/fff/000" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        {{/eachIndex}}
    </ul>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>