<div class="headline">
    <div class="headlineList" id="sheadline">
        {{#eachIndex headline}}
        <div class="headlineItem">
            <a href="{{item.link}}" class="headlineImg" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">{{item.subtitle}}</div>
                <h1 class="headlineTitle"><a href="{{item.link}}" class="headlineLink">{{item.title}}</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="{{item.user}}" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        {{/eachIndex}}
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>