<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>
    <!-- header -->
    {{> header page="Profile" active="Draft" login=true}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="profile container">
            <div class="articleCaption mt30">Draft</div>
            <div class="profileArticle__head display-flex jcontent-between">
                <div class="formWrap">
                    <input type="checkbox" id="checkAll" class="formCheck profileArticle__check">
                    <label for="checkAll" class="formText ml10">Pilih</label>
                </div>
                <button class="button profileArticle__action pink">Hapus</button>
            </div>
            <ul class="articleList">
                {{#eachIndex headline}}
                <li class="articleItem profileItem profileItem__check display-flex aitems-center">
                    <div class="formWrap">
                        <input type="checkbox" id="checkbox{{index}}" class="formCheck profileArticle__check"
                            aria-label="Pick Article">
                    </div>
                    <a href="{{item.link}}" class="profileItem__link flex-init">
                        <div class="profileArticle__wrap ml10">
                            <h2 class="articleTitle">{{item.title}}</h2>
                            <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                <div class="articleTime mr10">9 menit yang lalu</div>
                            </div>
                        </div>
                    </a>
                    <button type="button" class="button profileArticle__action ml10" aria-label="Edit Article"><span
                            class="icon icon-edit profileArticle__icon"></span></button>
                </li>
                {{/eachIndex}}
                {{#eachIndex headline}}
                <li class="articleItem profileItem profileItem__check display-flex aitems-center">
                    <div class="formWrap">
                        <input type="checkbox" id="checkbox{{index}}" class="formCheck profileArticle__check"
                            aria-label="Pick Article">
                    </div>
                    <a href="{{item.link}}" class="profileItem__link flex-init">
                        <div class="profileArticle__wrap ml10">
                            <h2 class="articleTitle">{{item.title}}</h2>
                            <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                <div class="articleTime mr10">9 menit yang lalu</div>
                            </div>
                        </div>
                    </a>
                    <button type="button" class="button profileArticle__action ml10" aria-label="Edit Article"><span
                            class="icon icon-edit profileArticle__icon"></span></button>
                </li>
                {{/eachIndex}}
            </ul>
            {{> paging active=false mt=30}}
        </section>
    </main>
    <!-- s: popup mail -->
    {{> profile/popup-mail}}
    <!-- e: popup mail -->

    <!-- footer -->
    {{> footer}}

    {{> js page="Profile"}}
    <script>

        $(document).ready(function () {
            //check all cart item
            $("#checkAll").click(function () {
                $('input.profileArticle__check:checkbox').not(this).prop('checked', this.checked);
            });
        })
    </script>

</body>

</html>