<div class="latest{{#if mt}} mt{{mt}}{{/if}}">
    <div class="latestWrap{{#if pos}} -{{pos}}{{/if}}">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <div class="latestItem">
            <a href="{{link}}" class="artLink{{#if ../type}} art--{{../type}}{{/if}}">
                <div class="latestImg artImg">
                    {{#eq ../pos compare="top"}}
                    {{#eq @index compare=0}}
                    {{#if ../subkanal}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=369&h=277" width="369" height="277"
                        alt="{{title}}">
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=369&h=277" width="369" height="277"
                        alt="{{title}}" loading="lazy">
                    {{/if}}
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=190&h=142" width="190" height="142"
                        alt="{{title}}" loading="lazy">
                    {{/eq}}
                    {{else}}
                    <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=190&h=142" width="190" height="142"
                        alt="{{title}}" loading="lazy">
                    {{/eq}}
                </div>
                <div class="artContent">
                    {{#if premium}}
                    <div class="artChannel -premium">
                        Premium<span class="icoInline icoPremium"></span>
                    </div>
                    {{else}}
                    <div class="artChannel">
                        {{channel}}
                    </div>
                    {{/if}}
                    {{#if live}}
                    <div class="artLive"><span>Live</span></div>
                    {{/if}}
                    <h4 class="latestTitle artTitle">
                        {{title}}
                    </h4>
                    <div class="latestDate artDate">
                        9 menit yang lalu
                    </div>
                </div>
            </a>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
</div>