<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
            <div class="bgColor bgColor__night opac0"></div>
            <div class="bgColor bgColor__grey opac0"></div>
            <div class="bgColor bgColor__dark opac0"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="coverImg">
                    <div class="coverAnim animationCover" id="animationCover"></div>
                </div>
                <div class="scroll-guide center-flex">
                    <span class="icon-scroll"></span>
                    scroll
                </div>
            </div>
            <div class="bgStatic">
                <div class="night heightFull">
                    <div class="nightStars opac0" id="starmap">
                        <span class="stars stars0"></span>
                        <span class="stars stars1"></span>
                        <span class="stars stars2"></span>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="sphere container heightFull">
                    <div class="sphereAnim animationSphere" id="animationSphere"></div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night challenge container center-flex heightFull">
                    <div class="nightWrap display-flex dir-column text-center">
                        <div class="ribbon ribbonNight opac0">
                            <span class="challengeRibbon opac0">Tantangan Utama</span>
                            <span class="event1Ribbon opac0">Peristiwa Penting</span>
                            <span class="risk1Ribbon opac0">Risiko Utama</span>
                            <span class="predictRibbon opac0">Prediksi Bank Indonesia</span>
                        </div>
                        <div class="challengeTitle artTxt opac0"><strong>Dinamika geopolitik cepat dan ketidakpastian
                                tinggi.</strong></div>
                        <div class="sphereArea">
                        </div>
                        <div class="challengeTxt artTxt opac0">Perekonomian dan pasar keuangan global pada 2024
                            menghadapi
                            <span>tantangan perubahan
                                dinamika geopolitik yang sangat cepat dan ketidakpastian yang tinggi.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="sphereZoom container align-center heightFull">
                    <div class="sphereZoom__wrap">
                        <div class="spherePin sphereEvent1 opac0 sphereEvent1Pin" id="animationEvent1"></div>
                        <div class="spherePic sphereEvent1 sphereEvent1Pic opac0 sphereEvent1Bomb"
                            id="animationEvent1Bomb"></div>
                        <div class="spherePic sphereEvent1 sphereEvent1Pic opac0 sphereEvent1Tank"
                            id="animationEvent1Tank"></div>

                        <div class="spherePin sphereEvent2 opac0 sphereEvent2Pin" id="animationEvent2"></div>
                        <div class="spherePic sphereEvent2 opac0 sphereEvent2Pic" id="animationEvent2Pic"></div>

                        <div class="spherePin sphereRisk2 opac0 sphereTele" id="animationTele">
                            {{!-- <button class="" aria-label=""></button> --}}
                        </div>

                        <div class="spherePic sphereTrend opac0">
                            <img src="./asset/images/trend-img.png" alt="" width="284" height="233" loading="lazy">
                        </div>

                        <div class="spherePin spherePredict opac0 spherePredictPin" id="animationPredict"></div>

                        <div class="spherePin sphereDay1 opac0 sphereDayFlag" id="animationDayFlag"></div>
                        <div class="spherePic sphereDay1 opac0 sphereDayPic" id="animationDayPic"></div>
                        
                        <div class="spherePin sphereDay2 opac0 sphereDayPin" id="animationDayPin"></div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night event1 container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="eventBox1 artBox">
                            Ketegangan geopolitik kembali meningkat di paruh pertama 2024. Konflik Rusia-Ukraina mereda
                            awal 2024; memanas kembali akibat serangan Israel ke Palestina.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night event2 container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="eventBox2 artBox">
                            Terpilihnya kembali Donald Trump di akhir 2024 membawa potensi perubahan besar melalui
                            kebijakan <i class="cl-orange">America First.</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night risk1 container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="riskBox1 artBox">
                            <div class="risk1Pic">
                                <canvas id="flag" width="42" height="25" style="width: 42px;"></canvas>
                                <img src="./asset/images/risk-pic-1.png" alt="" loading="lazy" width="257" height="164">
                            </div>
                            Dunia terus bergejolak. Terpilihnya kembali Presiden Trump di AS dengan kebijakan <i>America
                                First</i> dapat membawa perubahan besar pada lanskap geopolitik dan perekonomian dunia.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night risk2 container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="riskBox2 artBox">
                            <div class="spherePic sphereRisk2 opac0 sphereArrow" id="animationArrow"></div>
                            Perlambatan ekonomi dunia
                            <div class="risk2Pic">
                                <img src="./asset/images/risk-pic-2.png" alt="" width="299" height="71" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night trend container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <ul class="trendList">
                            {{#each trend}}
                            <li class="trendItem trendItem{{add @index 1}} artBox">
                                <div class="trendTitle"><strong><i>{{title}}</i></strong></div>
                                <div class="trendDesc">{{desc}}</div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night predict container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="predictBox artBox">
                            <div class="predictPic">
                                <img src="./asset/images/predict-pic.png" alt="" loading="lazy" width="293" height="260">
                            </div>
                            Bank Indonesia memperkirakan <span class="cl-orange">pertumbuhan ekonomi global melambat
                                dari
                                3,3% pada 2023 menjadi 3,2% pada 2024. Perlambatan berpotensi berlanjut menjadi 3,1%
                                pada 2025 dan 3,0% pada 2026.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night market container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="marketBox artBox">
                            <div class="dayPic">
                                <img src="./asset/images/day1-pic.png" alt="" width="252" height="299" loading="lazy">
                            </div>
                            Meski demikian, sejumlah negara <i>emerging markets</i> seperti Indonesia berpeluang tetap
                            berkinerja baik, didukung oleh permintaan domestik di tengah tantangan fragmentasi pasar
                            internasional.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="night how container center-flex text-center heightFull">
                    <div class="nightWrap align-center">
                        <div class="howBox artBox">
                            Bagaimana dengan Indonesia?
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingWrap heightFull opac0">
                    <div class="buildingCity container">
                        <div class="buildingSun opac0 top100vh"></div>
                        <picture class="buildingImg">
                            <source srcset="./asset/images/building-city-m.png" media="(max-width: 767px)" width="678"
                                height="474">
                            <img srcset="./asset/images/building-city.png" alt="" class="" width="1022" height="461"
                                loading="lazy">
                        </picture>
                    </div>
                    <div class="buildingBg">
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingBox econ container align-center dir-column text-center heightFull">
                    <div class="econImg">
                        <div class="econAnim buildingAnim animationEcon opac0" id="animationEcon"></div>
                    </div>
                    <div class="econWrap">
                        <div class="econ1 buildingTxt artTxt opac0 top100vh">
                            Pertumbuhan ekonomi RI pada 2025 tetap kuat pada kisaran <span
                                class="cl-red">4,8-5,6%</span>, dan akan terus meningkat menjadi <span
                                class="cl-red">4,9-5,7%</span> pada 2026 didukung oleh konsumsi pemerintah, konsumsi
                            swasta, investasi, dan kinerja ekspor.
                        </div>
                        <div class="econ2 buildingTxt artTxt opac0 top100vh">
                            Pertumbuhan ekonomi RI pada 2026 tetap kuat pada kisaran <span
                                class="cl-red">4,8-5,6%</span>, dan akan terus meningkat menjadi <span
                                class="cl-red">4,9-5,7%</span> pada 2026 didukung oleh konsumsi pemerintah, konsumsi
                            swasta, investasi, dan kinerja ekspor.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingBox infla container align-center dir-column text-center heightFull">
                    <div class="inflaImg">
                        <div class="inflaAnim buildingAnim animationInfla opac0" id="animationInfla"></div>
                    </div>
                    <div class="inflaWrap buildingTxt artTxt opac0 top100vh">
                        Inflasi akan tetap terkendali dalam rentang sasaran 2,5±1% pada 2025 dan 2026 didukung
                        konsistensi kebijakan moneter, kebijakan fiskal, dan Gerakan Nasional Pengendalian Inflasi
                        Pangan (GNPIP).
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingBox rate container align-center dir-column text-center heightFull">
                    <div class="rateImg">
                        <div class="rateAnim buildingAnim animationRate opac0" id="animationRate"></div>
                    </div>
                    <div class="rateWrap buildingTxt artTxt opac0 top100vh">
                        Nilai tukar Rupiah tahun 2025 diproyeksikan akan dijaga stabil, sejalan dengan fundamental
                        ekonomi yang terjaga dan komitmen Bank Indonesia dalam menjaga stabilitas.
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingBox stable container align-center dir-column text-center heightFull">
                    <div class="stableImg">
                        <div class="stableAnim buildingAnim animationStable opac0" id="animationStable"></div>
                    </div>
                    <div class="stableWrap buildingTxt artTxt opac0 top100vh">
                        Stabilitas eksternal terjaga, neraca pembayaran sehat dan cadangan devisa meningkat.
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="building buildingBox growth container align-center dir-column text-center heightFull">
                    <div class="growthImg">
                        <div class="growthAnim buildingAnim animationGrowth opac0" id="animationGrowth"></div>
                    </div>
                    <div class="growthWrap buildingTxt artTxt opac0 top100vh">
                        Pertumbuhan kredit ke 11%-13% pada 2025 dan 2026.</div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="quote opac0 container center-flex heightFull">
                    <div class="quoteImg -left">
                        <picture>
                            <source srcset="./asset/images/quote-top-m.png" media="(max-width: 767px)" width="495"
                                height="495">
                            <img srcset="./asset/images/quote-top.png" alt="" class="" width="495" height="495"
                                loading="lazy">
                        </picture>
                    </div>
                    <div class="quoteWrap display-flex dir-column">
                        <div class="quoteTxt opac0">
                            Ke depan, kita harus lebih waspada. Sekali lagi, dunia terus bergejolak. Akankah Indonesia
                            berdaya tahan seperti selama ini? Kita harus tetap <span
                                class="cl-orange">optimistis.</span> Mari kita makin perkuat
                            <span class="cl-orange">sinergi.</span>
                            Sinergi melindungi negara, bangsa, dan rakyat dari gejolak global.
                        </div>
                        <div class="quoteAttr opac0">
                            <div class="quoteTitle">Gubernur Bank Indonesia</div>
                            <div class="quoteName">Perry Warjiyo</div>
                            <div class="quotePlace">Pada Pertemuan Tahunan <br> Bank Indonesia (PTBI) 2024</div>
                        </div>
                    </div>
                    <div class="quoteImg -right">
                        <picture>
                            <source srcset="./asset/images/quote-perry-m.png" media="(max-width: 767px)" width="495"
                                height="495">
                            <img srcset="./asset/images/quote-perry.png" alt="" class="" width="495" height="495"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="synergy opac0 container center-flex dir-column text-center heightFull">
                    <div class="synergyCaption top100vh">Sinergi kebijakan transformasi ekonomi nasional semakin diperkuat di
                        <span class="cl-orange">5 area</span>
                    </div>
                    <div class="synergyImg">
                        {{> synergy}}
                    </div>
                    <div class="synergyCircle">
                        <div class="synergyIconCircle center-flex">
                            <img src="./asset/images/synergy-icon.png" alt="" width="207" height="89" loading="lazy">
                        </div>
                        <ul class="synergyList center-flex">
                            {{#each synergy}}
                            <li class="synergyTitle synergyTitle{{@index}} center-flex opac0">{{title}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="balance container center-flex dir-column text-center heightFull">
                    <div class="balanceImg">
                        <div class="balanceAnim animationBalance opac0" id="animationBalance"></div>
                    </div>
                    <div class="balanceWrap balanceTxt artTxt top100vh opac0">
                        Dengan berlanjutnya gejolak global pada 2025, kebijakan moneter akan tetap pada stabilitas
                        dengan terus mencermati ruang untuk mendorong pertumbuhan <span class="cl-orange">(pro-stability
                            and growth).</span> Sementara kebijakan makroprudensial dan lainnya diarahkan untuk
                        mendukung pertumbuhan <span class="cl-orange">(pro growth)</span>.
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="policy opac0 container center-flex dir-column text-center heightFull">
                    <div class="policyCaption top100vh">Diagram kebijakan-kebijakan <span class="cl-yellow">BI 2025</span></div>
                    <div class="policyWrap">
                        <div class="policyImg">
                            {{> diagram}}
                            {{!-- <object type="image/svg+xml" data="asset/images/diagram-bi.svg">
                                Diagram Image <!-- fallback image in CSS -->
                            </object> --}}
                        </div>
                        <ul class="policyList center-flex">
                            {{#each policy}}
                            <li class="policyTitle policyTitle{{@index}} center-flex">{{{caption}}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="policyPop">
                    {{#each policy}}
                    <div class="policyPopup popup policyPopup{{@index}}" id="popup">
                        <div class="policyPop__wrap">
                            <div class="policyPop__content">
                                <div class="policyPop__title text-center">{{{title}}}</div>
                                <ul class="policyPop__txt">
                                    {{{list}}}
                                </ul>
                            </div>
                            <div class="policyPop__anim policyAnim animationDiagram{{@index}}"
                                id="animationDiagram{{@index}}"></div>
                            <button class="button policyPop__close" aria-label="Close popup">
                                tutup
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="bgStatic">
                <div class="key container center-flex heightFull">
                    <div class="keyWrap display-flex dir-column">
                        <div class="ribbon ribbonKey opac0 text-center">
                            <span class="keyRibbon">Optimistis & Waspada</span>
                        </div>
                        <div class="keyTitle__wrap center-flex">
                            <div class="keyTitle opac0">Prospek ekonomi Indonesia 2025 akan menunjukkan stabilitas dan
                                pertumbuhan
                                yang membaik di tengah gejolak global yang terus berlanjut. Kuncinya terletak pada <span
                                    class="cl-yellow">“Sinergi”</span> Memperkuat Stabilitas dan Transformasi Ekonomi
                                Nasional.</div>
                            <div class="keyImg animationKey opac0" id="animationKey"></div>
                        </div>
                        <div class="keyMap animationIndo opac0" id="animationIndo"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section cover">
                <div class="container">
                    <div class="coverWrap center-flex text-center heightFull">
                        <div class="coverContent">
                            <h1 class="coverTxtWrap center-flex dir-column">
                                <picture class="coverTxt coverTxt--1">
                                    <source srcset="./asset/images/cover-txt-1-m.png" media="(max-width: 767px)"
                                        width="678" height="474">
                                    <img srcset="./asset/images/cover-txt-1.png" alt="Sinergi untuk Stabilitas" class=""
                                        width="945" height="112">
                                </picture>
                                <picture class="coverTxt coverTxt--2">
                                    <source srcset="./asset/images/cover-txt-2-m.png" media="(max-width: 767px)"
                                        width="678" height="474">
                                    <img srcset="./asset/images/cover-txt-2.png" alt="Sinergi untuk Stabilitas" class=""
                                        width="51" height="50">
                                </picture>
                                <picture class="coverTxt coverTxt--3">
                                    <source srcset="./asset/images/cover-txt-3-m.png" media="(max-width: 767px)"
                                        width="678" height="474">
                                    <img srcset="./asset/images/cover-txt-3.png" alt="Transformasi Ekonomi" class=""
                                        width="707" height="84">
                                </picture>
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
            </section>
            <section class="section event">
            </section>
            <section class="section">
            </section>
            <section class="section risk">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section indonesia">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section quot">
            </section>
            <section class="section">
            </section>
            <section class="section">
            </section>
            <section class="section diagram">
            </section>
            <section class="section">
            </section>
            <section class="section sectionCredit opac0">
                <div class="creditWrap display-flex">
                    <div class="credit center-flex">
                        <div class="creditCaption text-center titleCaption">Credits</div>
                        <div class="creditContent text-center">
                            <div class="creditCol">
                                <div class="creditTitle">Naskah</div>
                                <div class="creditName">Wibi Pangestu Pratama</div>
                            </div>
                            <div class="creditCol">
                                <div class="creditTitle">Editor</div>
                                <div class="creditName">Gajah Kusumo</div>
                            </div>
                            <div class="creditCol">
                                <div class="creditTitle">Ilustrasi & Layout</div>
                                <div class="creditName">Muhammad Afandi</div>
                                <div class="creditName">Zoya Rasyidi Thoriq</div>
                            </div>
                            <div class="creditCol">
                                <div class="creditTitle">Developer</div>
                                <div class="creditName">Tim Teknologi Bisnis.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="creditBottom center-flex">
                        <a href="https://www.bisnis.com/" target="_self">
                            <picture class="creditBottom__logo">
                                <img srcset="./asset/images/logo-bisniscom-w.svg" alt="Bisniscom" class="" width="169"
                                    height="38" loading="lazy">
                            </picture>
                        </a>
                        <div class="creditSp"></div>
                        <div class="creditSoc center-flex">
                            <a href="https://www.instagram.com/bisniscom/" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-ig.png" alt="Instagram" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                            <a href="https://twitter.com/Bisniscom" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-x.png" alt="X Twitter" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                            <a href="https://facebook.com/wwwbisniscom" target="_blank" class="creditSoc__item">
                                <picture class="creditSoc__logo">
                                    <img srcset="./asset/images/icon-fb.png" alt="Facebook" class="" width="30"
                                        height="29" loading="lazy">
                                </picture>
                            </a>
                        </div>
                        <button class="button creditBack" onclick="window.location.reload(false)"
                            aria-label="Back to Top">
                            <picture>
                                <img srcset="./asset/images/icon-back.png" alt="" width="30" height="29" class="">
                            </picture>
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    <!-- footer -->

    {{> js}}

</body>

</html>