<!DOCTYPE html>
<html lang="en">

{{> head page="access"}}

<body>
    <main role="main" class="access">
        <div class="accessHeader">
            <div class="container">
                <button class="button buttonBack" aria-label="Back to previous page"
                    onclick="window.history.back()"><span class="icon iconArrow"></span>Kembali</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="accessWrap col-12 col-md-8 col-lg-12 col-xl-9">
                    <h1 class="text-center">
                        <a href="index.html">
                            <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo"
                                width="195" height="54">
                        </a>
                    </h1>
                    <h2 class="accessTitle text-center">Daftar sebagai UMKM</h2>
                    <form action="#" class="accessForm accessForm--large">
                        <div class="accessFormRow row">
                            <div class="accessCaption col-12">Profil Usaha</div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="uname">Nama UMKM</label>
                                <input type="text" class="formInput" name="uname" id="uname" placeholder="Nama Umkm">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="oname">Nama Pemilik</label>
                                <input type="text" class="formInput" name="oname" id="oname" placeholder="Nama Pemilik">
                            </div>
                        </div>
                        <div class="accessFormRow row">
                            <div class="accessCaption col-12">Informasi Usaha</div>
                            <div class="accessFormCol col-xl-12">
                                <label class="formLabel" for="address">Alamat</label>
                                <input type="text" class="formInput" name="address" id="address" placeholder="Alamat">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="province">Provinsi*</label>
                                <div class="formSelectWrap custom-select">
                                    <select name="province" id="province" class="formSelect">
                                        <option value="" selected disabled="disabled">Provinsi</option>
                                        {{#eachIndex province}}
                                        <option value="{{index}}">
                                            {{item.name}}</option>
                                        {{/eachIndex}}
                                    </select>
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="city">Kota*</label>
                                <div class="formSelectWrap custom-select">
                                    <select name="city" id="city" class="formSelect">
                                        <option value="" selected disabled="disabled">Kota</option>
                                        {{#eachIndex city}}
                                        <option value="{{index}}">
                                            {{item.name}}</option>
                                        {{/eachIndex}}
                                    </select>
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="zipcode">Kode Pos</label>
                                <input type="text" class="formInput" inputmode="numeric" name="zipcode" id="zipcode"
                                    placeholder="Kode Pos">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="phone">Nomor Telepon*</label>
                                <input type="text" class="formInput" inputmode="numeric" name="phone" id="phone"
                                    placeholder="08">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="mail">Email*</label>
                                <input type="email" class="formInput" name="mail" id="mail" placeholder="Email">
                                <div class="formMsg -error">
                                    email sudah terpakai, gunakan email lain?
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="web">Website</label>
                                <input type="text" class="formInput" name="web" id="web" placeholder="Website">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="instagram">Akun Instagram</label>
                                <input type="text" class="formInput" name="instagram" id="instagram"
                                    placeholder="Akun Instagram">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="facebook">Akun Facebook</label>
                                <input type="text" class="formInput" name="facebook" id="facebook"
                                    placeholder="Akun Facebook">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="twitter">Akun Twitter (X)</label>
                                <input type="text" class="formInput" name="twitter" id="twitter"
                                    placeholder="Akun Twitter (X)">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="tiktok">Akun Tiktok</label>
                                <input type="text" class="formInput" name="tiktok" id="tiktok"
                                    placeholder="Akun Tiktok">
                            </div>
                            <div class="accessFormCol col-xl-12">
                                <label class="formLabel">Kategori UMKM*</label>
                                <div class="accessRadio">
                                    {{#eachIndex catalogMenu}}
                                    <label class="formRadioWrap formLabel">
                                        <input type="radio" class="formRadio" name="category" {{#eq index compare=0}}
                                            checked{{/eq}}>
                                        <span class="formRadiobox"></span>
                                        <span class="formRadioTitle">{{item.title}}</span>
                                    </label>
                                    {{/eachIndex}}
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="about">Sekilas tentang UMKM*</label>
                                <textarea class="formArea formInput" id="about" name="" cols="30" rows="5"
                                    inputmode="text"></textarea>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel">Unggah Foto Produk*</label>
                                <label class="formFile" for="photo">
                                    <input type="text" placeholder="Pilih file" class="formInput formFileTitle">
                                    <div class="buttonRect buttonRectGrad"><span>Pilih File</span></div>
                                    <input type="file" name="photo" id="photo" accept="image/*"
                                        class="formFileInput" onChange="onFileChange(this)" ref="inputFile">
                                </label>
                                <div class="formMsg">
                                    Unggah hanya 1 foto, ukuran maksimal 2MB
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="mpower">Jumlah Tenaga Kerja</label>
                                <input type="text" class="formInput" inputmode="numeric" name="mpower" id="mpower"
                                    placeholder="1">
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="revenue">Total Omzet Tahunan (Rp) *</label>
                                <input type="text" class="formInput" inputmode="numeric" name="revenue" id="revenue"
                                    placeholder="0">
                                <div class="formMsg">
                                    Jika belum ada bisa diisi 0
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="pass">Kata Sandi*</label>
                                <div class="formInputIcon">
                                    <button class="button buttonPass" aria-label="show or hide password" toggle="#pass"
                                        type="button" onclick="togglePassword(this)"><span
                                            class="icon iconEye"></span></button>
                                    <input type="password" class="formInput" name="pass" id="pass"
                                        placeholder="Buat Password">
                                    <div class="formMsg -error">
                                        password harus terdapat 8 karakter. Gunakan huruf kapital dan angka agar
                                        passwordmu
                                        lebih kuat.
                                    </div>
                                </div>
                            </div>
                            <div class="accessFormCol col-lg-6">
                                <label class="formLabel" for="rpass">Ulang Kata Sandi*</label>
                                <div class="formInputIcon">
                                    <button class="button buttonPass" aria-label="show or hide password" toggle="#rpass"
                                        type="button" onclick="togglePassword(this)"><span
                                            class="icon iconEye"></span></button>
                                    <input type="password" class="formInput" name="rpass" id="rpass"
                                        placeholder="Ketik Ulang Password">
                                </div>
                            </div>
                        </div>

                        <div class="accessFormWrap accessCheck accessTitle--small">
                            <div class="formInputIcon">
                                <input type="checkbox" id="agree" name="genre" class="formCheck">
                                <span class="formCheckbox"></span>
                            </div>
                            <label for="agree">Dengan mendaftar, saya menyetujui <a href="tnc.html"
                                    class="accessLink">Syarat dan Ketentuan</a> serta <a href="privacy.html"
                                    class="accessLink">Kebijakan Privasi.</a></label>
                        </div>
                        <div class="spacing-md">
                            <button class="button buttonRect buttonRectBlue" type="submit">
                                Daftar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    {{>js page="access" select=true template=false}}
    <script>
        function togglePassword(el) {
            //show hide password
            let input = el.getAttribute("toggle"),
                pass = document.querySelector(input)
            type = pass.getAttribute("type")
            if (type == "password") {
                pass.setAttribute("type", "text");
                el.classList.add("show")
            } else {
                el.classList.remove("show")
                pass.setAttribute("type", "password");
            }
        }

        function onFileChange(el) {
            let parent = el.parentNode,
                title = parent.querySelector('.formFileTitle')
            title.setAttribute('placeholder', el.value);
        }
    </script>

</body>

</html>