<div class="artIdx__list">
    {{#eachIndex article}}
    <div class="artIdx__item">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="{{item.link}}" class="artIdx__img">
                    {{#eq index compare=0}}
                    <img src="https://dummyimage.com/337x214/092947/fff&amp;amp;text=337x214" alt="" width="337"
                        height="214">
                    {{else}}
                    <img src="{{item.image}}" alt="" width="337" height="214">
                    {{/eq}}
                </a>
            </div>
            <div class="artIdx__content col-12 col-md-8">
                <div class="artIdx__head">
                    <div class="artCateg">Bisnis</div>
                    <a href="{{item.link}}">
                        <h2 class="titleArt">{{item.title}}</h2>
                    </a>
                </div>
                <div class="artWrap">
                    <div class="artMisc">
                        <div class="artWriter">
                            <img src="./asset/images/icon-saitrans.png" alt="" width="52" height="52">
                            <div class="artWriter__content flex-init">
                                <div class="artWriter__name">SAI Trans Admin</div>
                                <div class="artDatetime">
                                    <div class="artDate">09 - 09 - 2022</div>
                                    <div class="artTime">09:00 WIB</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="artShare">
                        {{>article/share}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/eachIndex}}
</div>