<div class="flashnews">
    <div class="flashnewsCaption">Breaking {{#if span}}<span>News</span>{{else}}News{{/if}}</div>
    <marquee class="flashnewsWrap" behavior="scroll" direction="left" onmouseover="this.stop();"
        onmouseout="this.start();" scrollamount="4">
        {{#each channel}}
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="{{link}}" class="flashnewsLink">
                {{#eq @index compare = 4}}
                <span class="flashnewsLive">Live : </span>{{title}}
                {{else}}
                {{title}}
                {{/eq}}
            </a>
        </div>
        {{/each}}
    </marquee>
</div>