<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {{#each channel}}
    <title>{{name}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{name}}" />
    <meta property="og:description" content="{{description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{name}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->
    {{/each}}

    
    <link rel="preload" as="image" href="./asset/images/icon/icon-bisniscom-circle.svg">
    <link rel="preload" as="image" href="./asset/images/icon/icon-bisniscom.svg">
    <link rel=icon type=image/png sizes=16x16 href="https://cdn.bisnis.com/bisnis/assets/images/favicon-circle.ico">
    {{#if slick}}
    <!-- slick CSS -->
    <link rel="stylesheet" href="./asset/css/slick.min.css" type="text/css">
    {{/if}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{#eq page compare="Lifestyle"}}
    {{#eq type compare="details"}}
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    </noscript>
    {{#if premium}}
    <link rel="stylesheet" href="./asset/css/style-lifestyle-details-premium.min.css" type="text/css">
    {{else}}
    <link rel="stylesheet" href="./asset/css/style-lifestyle-details.min.css" type="text/css">
    {{/if}}
    {{else}}
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap">
    </noscript>
    <link rel="stylesheet" href="./asset/css/style-lifestyle.min.css" type="text/css">
    {{/eq}}
    {{#if hl}}
    <link rel="preload" as="image"
        href="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg">
    {{/if}}
    {{#if latest}}
    <link rel="preload" as="image"
        href="https://images.bisnis.com/thumb/posts/2023/04/05/1643981/diabetes_1668425885.jpg?w=369&h=277">
    {{/if}}
    {{/eq}}
    {{#eq page compare="Tekno"}}
    {{#eq type compare="details"}}
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap">
    </noscript>
    {{#if premium}}
    <link rel="stylesheet" href="./asset/css/style-tekno-details-premium.min.css" type="text/css">
    {{else}}
    <link rel="stylesheet" href="./asset/css/style-tekno-details.min.css" type="text/css">
    {{/if}}
    {{else}}
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;1,600&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;1,600&display=swap">
    </noscript>
    <link rel="stylesheet" href="./asset/css/style-tekno.min.css" type="text/css">
    {{/eq}}
    {{#if hl}}
    <link rel="preload" as="image" href="https://images.bisnis.com/posts/2022/11/21/1600267/twitter-.jpg">
    {{/if}}
    {{#if latest}}
    <link rel="preload" as="image"
        href="https://images.bisnis.com/thumb/posts/2023/03/30/1642192/cyber_security.jpg?w=740&h=393">
    {{/if}}
    {{/eq}}
    {{#eq page compare="Ekonomi"}}
    {{#eq type compare="details"}}
    {{#if premium}}
    <link rel="stylesheet" href="./asset/css/style-ekonomi-details-premium.min.css" type="text/css">
    {{else}}
    <link rel="stylesheet" href="./asset/css/style-ekonomi-details.min.css" type="text/css">
    {{/if}}
    <link rel="preload" as="image"
        href="https://images.bisnis.com/thumb/posts/2023/06/05/1662334/14032023-bi-dul-23-komoditas_pangan-2_1680516502.jpg?w=384&h=216">
    {{else}}
    <link rel="stylesheet" href="./asset/css/style-ekonomi.min.css" type="text/css">
    {{/eq}}
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap">
    </noscript>
    {{#if hl}}
    <link fetchpriority="high" rel="preload" as="image" href="https://images.bisnis.com/thumb/posts/2023/06/19/1666608/mpv-shot0004-1-1.jpg?w=384&h=216">
    {{/if}}
    {{#if latest}}
    <link rel="preload" as="image"
        href="https://images.bisnis.com/thumb/posts/2023/06/20/1667092/20122022-bi-hil-21-garuda-5.jpg?w=384&h=216">
    {{/if}}
    {{/eq}}
    {{#eq page compare="Homepage"}}
    <link rel="stylesheet" href="./asset/css/style-home.css" type="text/css">
    <link rel="preload" href="./asset/images/logo/bisniscom-logo.svg" as="image" />
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap">
    </noscript>
    {{#if hl}}
    <link fetchpriority="high" rel="preload" as="image" href="https://images.bisnis.com/thumb/posts/2024/06/28/1777779/peluncuran_logo_baru_bank_tabungan_negara_bbtn_1709462290.jpg?w=384&h=216">
    {{/if}}
    {{/eq}}
    {{#if photozoom}}
    <link rel="stylesheet" type="text/css" href="./asset/css/photoswipe/photoswipe.min.css">
    {{/if}}

    <!--font menu & footer -->
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap">
    </noscript>
    {{#if font}}
    {{else}}
    <link rel="preload" href="./asset/images/logo/{{replace (lowercase page)}}-logo-m.svg" as="image" />
    {{/if}}

    <link rel="preconnect" href="https://images.bisnis.com/">
    <!-- s: css above the fold -->
    <style>
    .billboardPushdownWrap{top:0;width:100%;position:relative;z-index:0;background:#212121;height:480px;overflow:hidden}.billboardPushdownBig{position:relative}.billboardPushdownBig,.billboardPushdownInner{width:320px;height:480px;left:0;right:0;margin:0 auto}.billboardPushdownInner{position:fixed;top:0;transform:translateY(0)}.billboardPushdownInner:before{content:"";z-index:-1;top:-14px;background:url(./asset/images/icon/icon-bisniscom-circle.svg);background-repeat:no-repeat;background-position:50%}.billboardPushdownInner:after,.billboardPushdownInner:before{position:absolute;display:flex;justify-content:center;align-items:center;left:0;width:100%;height:100%}.billboardPushdownInner:after{background-color:#f4f4f4;content:"Advertisement";z-index:-2;top:0;padding-top:36px;letter-spacing:.03em;text-transform:uppercase;font:500 11px/1.6 Manrope,sans-serif;color:#939393}.billboardPushdownSwipe{position:relative;top:0;width:100%;height:20px;overflow:hidden;color:#fff;font:700 11px/1.819 Manrope,sans-serif;font-weight:700;text-align:center;letter-spacing:.6px;background:#174193;text-transform:uppercase}.billboardPushdownClose{position:absolute;right:0;top:0;width:24px;height:24px;border:0;background:#bcbcbc;cursor:pointer;z-index:99}.billboardPushdownClose:after,.billboardPushdownClose:before{content:"";display:block;position:absolute;width:17px;height:2px;background:#fff;transform:rotate(45deg);border-radius:5px;top:10px;left:4px}.billboardPushdownClose:after{transform:rotate(-45deg)}.billboardPushdown~.root .flashnews,.billboardPushdown~.root .main .menuPanel,.billboardPushdown~.root header .headerTop{position:absolute}.bp_scroll>.billboardPushdown~.root .flashnews,.bp_scroll>.billboardPushdown~.root .main .menuPanel,.bp_scroll>.billboardPushdown~.root header .headerTop{position:fixed}.sdsdss{font-size:20px}</style>
    <!-- e: css above the fold -->
</head>