{{!-- <a href="{{link}}" aria-label="Open detail's Product"> --}}
    <div class="productSwiper swiper">
        <div class="swiper-wrapper">
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="{{image}}" alt="{{title}}" width="200" height="297">
                </div>
            </div>
            {{#eq type compare="comic"}}
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-1.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-2.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            {{/eq}}
            {{#eq type compare="local"}}
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-7.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-8.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            {{/eq}}
            {{#eq type compare="children"}}
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-5.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-6.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            {{/eq}}
            {{#eq type compare="novel"}}
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-1.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-2.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            {{/eq}}
            {{#eq type compare="nonfiction"}}
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-3.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            <div class="productSlider__item swiper-slide">
                <div class="productSlider__img">
                    <img src="./asset/images/sample/slider-sample-4.png" alt="{{title}}" width="200" height="297" loading="lazy">
                </div>
            </div>
            {{/eq}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    {{!--
</a> --}}