<header class="header">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="menu">
                <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                    <span><i></i></span>
                </button>
            </div>
            <div class="headerLogoWrap">
                <div class="headerLogo headerLogo--kanal">
                    {{#if font}}
                    <a href="index-{{replace (lowercase kanal)}}.html">
                        {{kanal}}
                    </a>
                    {{else}}
                    {{#compare kanal "==" "Homepage"}}
                    <a href="index.html" aria-label="homepage Bisnis.com">
                        <img src="./asset/images/logo/bisniscom-logo-m.svg" alt="Bisnis.com logo"
                            width="{{#if width}}{{width}}{{else}}180{{/if}}"
                            height="{{#if height}}{{height}}{{else}}49{{/if}}">
                    </a>
                    {{else}}
                    <a href="index-{{replace (lowercase kanal)}}.html" aria-label="kanal {{kanal}}">
                        <img src="./asset/images/logo/{{replace (lowercase kanal)}}-logo-m.svg" alt=""
                            width="{{#if width}}{{width}}{{else}}104{{/if}}"
                            height="{{#if height}}{{height}}{{else}}42{{/if}}">
                    </a>
                    {{/compare}}
                    {{/if}}
                </div>
            </div>
            <div class="headerCta">
                <div class="headerSearch">
                    <a href="#" class="buttonSearch center-flex" aria-label="Cari berita terkini">
                        <span class="icoInline icoSearch"></span>
                    </a>
                </div>
            </div>
        </div>
        {{#if nav}}
        <div class="nav">

            {{>header/nav active=active}}

        </div>
        {{/if}}
        {{#if detailtitle}}
        <!-- detail title on fixed -->
        {{>header/detail-title kanal=kanal channel=channel}}
        {{/if}}
    </div>
</header>