<header class="header">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="menu">
                <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                    <span><i></i></span>
                </button>
            </div>
            <div class="headerLogoWrap">
                <div class="headerLogo headerLogo--kanal">
                    <a href="index-{{replace (lowercase kanal)}}.html" aria-label="kanal {{kanal}}">
                        <img src="./asset/images/logo/{{replace (lowercase kanal)}}-logo-m.svg" alt=""
                            width="{{#if width}}{{width}}{{else}}104{{/if}}"
                            height="{{#if height}}{{height}}{{else}}42{{/if}}">
                    </a>
                </div>
            </div>
            <div class="headerCta">
                <div class="headerSearch">
                    <a href="#" class="buttonSearch center-flex" aria-label="Cari berita terkini">
                        <span class="icoInline icoSearch"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>