<div class="detailsTitle{{#if pos}} -{{pos}}{{/if}}{{#if mt}} mt{{mt}}{{/if}}{{#if parallax}} -parallax{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{#if ../alert}}
    <div class="premium-alert premium-alert-green">Anda telah membaca 1 artikel Konten Premium.</div>
    <div class="premium-alert premium-alert-red">Kuota gratis membaca Konten Premium anda telah habis. Silakan berlanggangan untuk melanjutkan.
    </div>
    {{/if}}
    <div class="artChannel -premium">
        <span class="icoInline icoPremium"></span>Premium
    </div>
    <h1 class="detailsTitleCaption">{{title}}</h1>
    {{#if ../lead}}
    <div class="detailsLead">{{lead}}</div>
    {{/if}}
    <div class="detailsAttribute">
        {{#if ../photo}}
        <a href="#" class="detailsAttributeAuthor">
            <div class="profileImg{{#if ../default}} profileImgDefault{{/if}}">
                <img src="{{authorphoto}}" alt="{{author}}" loading="lazy" width="36" height="36">
            </div>
            <span class="detailsAttributeItem">
                <div class="authorName"><strong>{{author}}</strong> - Bisnis.com</div>
                <div class="detailsAttributeDates">
                    {{dates}}
                </div>
            </span>
        </a>
        {{else}}
        <span class="detailsAttributeItem detailsAttributeAuthor">
            <span class="icoInline icoProfile"></span>
            <div class="authorName">{{author}}</div>
        </span>
        <span class="detailsAttributeItem">
            <span class="icoInline icoCal"></span>
            {{dates}}
        </span>
        <span class="detailsAttributeItem">
            <span class="icoInline icoEye"></span>
            5 menit baca
        </span>
        {{/if}}
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
    {{#if share}}
    {{> detail/share caption="Share"}}
    {{/if}}
</div>