<div class="highlight mt30">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Video Terbaru</div>
    </div>
    <!-- s: video article -->
    <ul class="highlightList photoSidebar videoSidebar row mt10">
        {{#eachIndex headline}}
        {{#lt index compare = '3'}}
        <li class="highlightItem mt30">
            <a href="{{item.link}}" aria-label="{{item.title}}">
                <div class="highlightImg__wrap">
                    <img src="{{item.img}}{{index}}.jpg" class="highlightImg photoSidebar__img" alt="" width="300" height="225"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">{{item.title}}</h3>
                </div>
            </a>
        </li>
        {{/lt}}
        {{/eachIndex}}
    </ul>
    <!-- e: video article -->
</div>