<div class="trending{{#if mt}} mt{{mt}}{{/if}}">
    <div class="sidebarCaption">Top Stories</div>
    <ul class="trendingList mt10">
        {{#each trending}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <h3 class="trendingTitle">{{title}}</h3>
                <div class="display-flex aitems-center mt10">
                    <img loading="lazy" src="{{user}}" width="24" height="24" alt="" class="userAvatar mr10">
                    <div class="userName">
                        Nurulloh
                    </div>
            </a>
            </a>
        </li>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </ul>
    <div class="display-flex aitems-center jcontent-end">
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>