{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="categoryHl__item swiper-slide">
    {{#if ../nav}}
    <div class="artLink">
        <div href="{{link}}" class="artImg">
            <img src="{{image}}" alt="{{title}}" width="{{../width}}" height="{{../height}}">
        </div>
        <div class="artContent">
            {{#if ../label}}<a href="#" class="artLabel">{{../label}}</a>{{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="artTitle titleH5"><a href="{{link}}">{{title}}</a></{{.. /tag}}>
            {{else}}
            <a href="{{link}}" class="artTitle titleH5">{{title}}</a>
            {{/if}}
            <div class="artDates"><span class="ico icoCal"></span>{{publish}}</div>
            {{#if ../lead}}
            <div class="artLead">
                Salvia of organic pbr&b gastropub. Cred forage vinyl iceland selfies dreamcatcher. Franzen kitsch tile
                austin before. Out out portland migas ethical locavore man. Braid out meh paleo yolo tumeric put
                activated. It bag mi marfa schlitz. Baby pop-up it prism trust cold-pressed chic flannel yolo bun. Blog
                thundercats hexagon chia.
            </div>
            {{/if}}
        </div>
    </div>
    {{else}}
    {{#if ../artikel}}
    <a href="{{link}}" class="artLink">
        <div class="artImg">
            <img src="{{image}}" alt="{{title}}" width="{{../width}}" height="{{../height}}">
        </div>
        <div class="artContent">
            {{#if ../label}}<div class="artLabel">{{../label}}</div>{{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="artTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="artTitle titleH5">{{title}}</div>
            {{/if}}
            <div class="artDates"><span class="ico icoCal"></span>{{publish}}</div>
            {{#if ../lead}}
            <div class="artLead">
                Salvia of organic pbr&b gastropub. Cred forage vinyl iceland selfies dreamcatcher. Franzen kitsch tile
                austin before. Out out portland migas ethical locavore man. Braid out meh paleo yolo tumeric put
                activated. It bag mi marfa schlitz. Baby pop-up it prism trust cold-pressed chic flannel yolo bun. Blog
                thundercats hexagon chia.
            </div>
            {{/if}}
        </div>
    </a>
    {{else}}
    <div class="artLink" style="background-image: url({{image}})" ;>
        <div class="artContent">
            {{#if ../tag}}
            <{{.. /tag}} class="artTitle"><a href="{{link}}">{{title}}</a></{{.. /tag}}>
            {{else}}
            <a href="{{link}}" class="artTitle titleH5">{{title}}</a>
            {{/if}}
            <div class="categoryHl__wrap">
                <a href="#" class="artLabel">{{../label}}</a>
                <div class="artDates"><span class="ico icoCal"></span>{{publish}}</div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}