<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{!> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <div class="bgStatic bgStatic--warn">
        <div class="articleContent text-center">
            For better experience, rotate your screen or switch to bigger screen.
        </div>
    </div>

    <div class="preloader">
        <div class="preloader__icon">
            {{!-- <img src="images/electric.png"> --}}
        </div>
    </div>

    <div id="transition">
        <div class="base-layer"></div>
        <div class="base-layer base-layer--2"></div>
        <div class="base-layer base-layer--3"></div>
        <div class="base-layer base-layer--4"></div>
    </div>

    <!--popup-->
    <div class="videoPop popup center-flex" id="popupVideo">
        <div class="videoPop__wrap popupWrap">
            <button class="button buttonClose" aria-label="Close popup">
                <span class="icon iconClose"></span>
            </button>
            <div class="videoPop__content text-center">
                <video controls width="450" id="videocov">
                    <source src="./asset/images/KPR_PAK HUSNI_MERBOT.webm" type="video/webm" />
                    <source src="./asset/images/KPR_PAK HUSNI_MERBOT.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
    <!--popup-->

    <!-- content -->
    <div id="content" class="content">
        <div class="cover text-center" id="cover">
            <div class="coverWrap">
                <div class="coverCloud">
                    <div class="coverCloudImg coverCloud--1"></div>
                    <div class="coverCloudImg coverCloud--2"></div>
                    <div class="coverCloudImg coverCloud--3"></div>
                </div>
                <div class="coverContent">
                    <h2 class="coverCaption coverTitleSub">19 Tahun BTN Syariah</h2>
                    <h1 class="coverCaption coverTitle">Membangun Peradaban <br> & Masa Depan Bangsa</h1>
                </div>
                <div class="coverBg">
                    <picture class="coverBgBuilding">
                        <source srcset="./asset/images/cover-building-mob.png" media="(max-width: 768px)" alt="">
                        <img srcset="./asset/images/cover-building.png" alt="" class="" width="1630" height="420">
                    </picture>
                    <div class="coverBgRoad">
                        <div class="coverCar coverCar--1">
                            <img src="./asset/images/car-yellow.png" alt="" width="159" height="93">
                        </div>
                        <div class="coverCar coverCar--2">
                            <img src="./asset/images/car-bus.png" alt="" width="382" height="140">
                        </div>
                        <div class="coverCar coverCar--3">
                            <img src="./asset/images/car-police.png" alt="" width="158" height="94">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel__traffic">
            <div class="anim1 vehicle">
                <div id="animBus"></div>
            </div>
            <div class="anim2 vehicle">
                <div id="animTaxi"></div>
            </div>
            <div class="anim3 vehicle">
                <div id="animWhiteCar"></div>
            </div>
        </div>

        <div id="beginHorizonScroll">
            <section class="panel panel-1">
                <div class="panel-detail">
                    <div class="intro text-center">
                        {{!-- <button class="button introCta">Mulai</button> --}}
                        <div class="introContent">
                            <div class="introTxt ">Alhamdulillah, alhamdulillah, alhamdulillah. Seperti mimpi, tapi
                                ini
                                nyata bisa punya rumah lewat KPR BTN Syariah</div>
                            <div class="introName">Husni Ismail</div>
                            <div class="introTitle">Marbot Masjid Istiqlal Jakarta</div>
                            <div class="introArrow">
                                <img src="./asset/images/intro-arrow.svg" alt="" width="115" height="174"
                                    loading="lazy">
                            </div>
                        </div>
                        <div class="introImg">
                            <div class="introAnim" id="introAnim"></div>
                        </div>
                    </div>
                    <div class="panel-bg panel-bg-1">
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/intro-bg-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/intro-bg.png" alt="" class="" width="1450" height="437"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-1">
                    </div>
                </div>
            </section>
            <section class="panel panel-2">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-2">
                        <button class="button panel-video" onclick="openPopup('Video')">
                            <picture>
                                <source srcset="./asset/images/billboard-video-mob.png" media="(max-width: 768px)"
                                    alt="">
                                <img srcset="./asset/images/billboard-video.png" alt="" class="" width="825"
                                    height="583" loading="lazy">
                            </picture>
                            <picture class="panel-video-play">
                                <source srcset="./asset/images/billboard-video-play-mob.png" media="(max-width: 768px)"
                                    alt="">
                                <img srcset="./asset/images/billboard-video-play.png" alt="" class="" width="174"
                                    height="175" loading="lazy">
                            </picture>
                        </button>
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/scroll-bg-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/scroll-bg.png" alt="" class="" width="3272" height="224"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-2">
                    </div>
                </div>
            </section>
            <section class="panel panel-3">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-3">
                        <div class="panel-txt panel-txt-3 text-center p3-txt">
                            <p>Husni Ismail, Marbot Masjid Istiqlal, menjadi salah satu dari sekian banyak orang yang
                                menikmati pembiayaan BTN Syariah.
                            </p>
                            <p>
                                Dalam rangka mendukung <strong>Program Tiga Juta Rumah, BTN Syariah</strong> telah
                                membiayai lebih dari <strong class="cl-blue">350 ribu</strong> unit rumah selama 19
                                tahun. Dari total rumah tersebut, sebanyak lebih dari <strong class="cl-blue">250
                                    ribu</strong> unit rumah dinikmati kalangan Masyarakat Berpenghasilan Rendah (MBR)
                                melalui KPR Subsidi iB.
                            </p>
                        </div>
                        <div class="panel-bg-detail">
                        </div>
                    </div>
                    <div class="panel-road panel-road-3">
                    </div>
                </div>
            </section>
            <section class="panel panel-4">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-4">
                        <div class="panel-txt panel-txt-4 text-center">
                            <p class="p4-txt"><strong>BTN Syariah fokus</strong> pada penyaluran KPR Subsidi untuk
                                masyarakat
                                berpenghasilan rendah. <br>
                                Semangat BTN Syariah ialah menjangkau yang tak terjangkau.
                            </p>
                            <ul class="panel-pie center-flex">
                                <li class="panel-pie-item panel-pie-item1">
                                    <div id="panel-anim1"></div>
                                <li class="panel-pie-item panel-pie-item2">
                                    <div id="panel-anim2"></div>
                                </li>
                                <li class="panel-pie-item panel-pie-item3">
                                    <div id="panel-anim3"></div>
                                </li>
                                <li class="panel-pie-item panel-pie-item4">
                                    <div id="panel-anim4"></div>
                                </li>
                            </ul>
                            <div class="panel-info center-flex">
                                <div class="panel-info-item -btn"><img class="panel-info-txt"
                                        src="./asset/images/logo-btn-syariah.png" alt="Logo BTN Syariah"></div>
                                <div class="panel-info-item">
                                    <div class="panel-info-txt">Bank Syariah lainnya</div>
                                </div>
                            </div>
                            <div class="panel-info-add">Ket. dalam Rp miliar</div>
                        </div>
                        <div class="panel-bg-detail">
                        </div>
                    </div>
                    <div class="panel-road panel-road-3">
                    </div>
                </div>
            </section>
            <section class="panel panel-5">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-5">
                        <div class="panel-txt panel-txt-5">
                            <div class="panel-txt-5-wrap display-flex">
                                <div class="panel-txt-5-title p5-txt">
                                    <strong>Dominasi BTN Syariah</strong> pada KPR Subsidi ditopang oleh:
                                </div>
                                <div class="panel-txt-5-num p5-num">
                                    <img src="./asset/images/strategi-num.png" alt="5 strategi" width="188" height="287"
                                        loading="lazy">
                                </div>
                            </div>
                            <ul class="panel-strat display-flex">
                                {{#each strategy}}
                                <li class="panel-strat-item panel-strat-item{{@index}}">
                                    {{>arrow}}
                                    <div class="panel-strat-title">{{{title}}}</div>
                                    <div id="panel-strat-anim{{@index}}"></div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-bg-detail">
                        </div>
                    </div>
                    <div class="panel-road panel-road-5">
                    </div>
                </div>
            </section>
            <section class="panel panel-6">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-6 display-flex">
                        <div class="panel-txt panel-txt-6">
                            <div class="panel-txt-6-title p6-txt">Kinerja <strong>BTN Syariah</strong> juga berada
                                <strong>di
                                    atas rata-rata</strong> industri
                                perbankan syariah nasional.</div>
                            <div class="panel-txt-6-btn center-flex">
                                <button class="button" onclick="addActiveFunction('.panel-bar-item-1', '.panel-bar-item-2', 1)">
                                    <div class="button-wrap">
                                        <strong>Aset</strong>
                                        <span class="cursor">
                                            <img src="./asset/images/cursor.png" alt="" loading="lazy" width="48"
                                                height="58">
                                            Klik disini
                                        </span>
                                    </div>
                                </button>
                                <button class="button" onclick="addActiveFunction('.panel-bar-item-2', '.panel-bar-item-1', 2)">
                                    <div class="button-wrap">
                                        <strong>Laba</strong>
                                        <span class="cursor">
                                            <img src="./asset/images/cursor.png" alt="" loading="lazy" width="48"
                                                height="58">
                                        </span>
                                    </div>
                                </button>
                            </div>
                            <picture class="panel-bg-6-img">
                                <source srcset="./asset/images/kinerja-bg-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/kinerja-bg.png" alt="" class="" width="895" height="322"
                                    loading="lazy">
                            </picture>
                        </div>
                        <div class="panel-bar panel-bar-6">
                            <div class="panel-bar-item panel-bar-item-1">
                                <div id="bar-anim1"></div>
                            </div>
                            <div class="panel-bar-item panel-bar-item-2">
                                <div id="bar-anim2"></div>
                            </div>
                        </div>
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/scroll-bg-2-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/scroll-bg-2.png" alt="" class="" width="2662" height="186"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-6">
                    </div>
                </div>
            </section>
            <section class="panel panel-7">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-7 display-flex">
                        <div class="panel-txt panel-txt-7">
                            <div class="panel-txt-7-wrap">
                                <div class="panel-txt-7-title p7-txt"> <strong>BTN Syariah</strong> tumbuh dengan
                                    kinerja di
                                    atas
                                    industri perbankan syariah per September 2024.</div>
                                <div class="panel-info">
                                    <div class="panel-info-item -btn"><img class="panel-info-txt"
                                            src="./asset/images/logo-btn-syariah.png" alt="Logo BTN Syariah"></div>
                                    <div class="panel-info-item">
                                        <div class="panel-info-txt">Industri</div>
                                    </div>
                                </div>
                                <picture class="panel-bg-7-img">
                                    <source srcset="./asset/images/kinerja-bg-2-mob.png" media="(max-width: 768px)"
                                        alt="">
                                    <img srcset="./asset/images/kinerja-bg-2.png" alt="" class="" width="463"
                                        height="374" loading="lazy">
                                </picture>
                            </div>
                            <div class="panel-txt-7-btn center-flex">
                                {{#each industry}}
                                <button class="button" onclick="addActive('.panel-graph-item-{{@index}}')">
                                    <div class="button-wrap">
                                        <strong>{{title}}</strong>
                                        <span class="cursor">
                                            <img src="./asset/images/cursor.png" alt="" loading="lazy" width="48"
                                                height="58">
                                        </span>
                                    </div>
                                    <div class="panel-bar-item panel-graph-item-{{@index}}">
                                        {{>industry index=@index}}
                                    </div>
                                </button>
                                {{/each}}
                            </div>
                        </div>
                        <div class="panel-bg-detail">
                        </div>
                    </div>
                    <div class="panel-road panel-road-7">
                    </div>
                </div>
            </section>
            <section class="panel panel-8">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-8">
                        <div class="panel-txt panel-txt-8 text-center p8-txt">
                            <p><strong>BTN Syariah</strong> juga menggelar BTN Santri Developer dengan lebih dari
                                <strong class="cl-blue">1300 pelajar</strong> telah ikut dalam program tersebut.
                            </p>
                            <p>
                                <strong>BTN Santri Developer</strong> merupakan program pendidikan untuk para calon
                                pengembang unggulan
                                dari berbagai <strong>Islamic Boarding School.</strong>
                            </p>
                        </div>
                        <div class="panel-bg-detail">
                            <picture class="panel-bg-detail-pic">
                                <source srcset="./asset/images/scroll-bg-3-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/scroll-bg-3.png" alt="" class="" width="1514" height="312"
                                    loading="lazy">
                            </picture>
                            <picture class="panel-txt-8-img p8-img">
                                <source srcset="./asset/images/santri-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/santri.png" alt="" class="" width="388" height="180"
                                    loading="lazy">
                            </picture>                            
                        </div>
                    </div>
                    <div class="panel-road panel-road-8">
                    </div>
                </div>
            </section>
            <section class="panel panel-9">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-9">
                        <div class="panel-txt panel-txt-9 center-flex">
                            <div class="panel-txt-9-wrap">
                                <strong>BTN Syariah</strong> punya layanan yang lengkap untuk mendukung ekosistem
                                industri perumahan
                            </div>
                            <ul class="panel-eco">
                                {{#each ecosystem}}
                                <li class="panel-eco-item panel-eco-item{{add @index 1}}">
                                    <div class="panel-eco-num"><strong>{{add @index 1}}</strong></div>
                                    <div class="panel-eco-title"><strong>{{{title}}}</strong></div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-bg-detail">
                            <div class="panel-txt-9-anim" id="construction-anim"></div>
                            <div class="panel-bg-detail panel-bg-detail-wrap">
                                <picture>
                                    <source srcset="./asset/images/scroll-bg-4-mob.png" media="(max-width: 768px)"
                                        alt="">
                                    <img srcset="./asset/images/scroll-bg-4.png" alt="" class="" width="791"
                                        height="191" loading="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="panel-road panel-road-9">
                    </div>
                </div>
            </section>
            <section class="panel panel-credit">
                <div class="panel-detail">
                    <div class="panel-bg panel-bg-credit">
                        <div class="panel-txt panel-txt-credit text-center">
                            {{> credit}}
                        </div>
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/scroll-bg-5-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/scroll-bg-5.png" alt="" class="" width="1514" height="223"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-credit center-flex">
                        <div class="creditBottom center-flex">
                            <a href="https://www.bisnis.com/" target="_self">
                                <picture class="creditBottom__logo">
                                    <img srcset="./asset/images/logo-bisniscom.svg" alt="Bisniscom" class="" width="169"
                                        height="38" loading="lazy">
                                </picture>
                            </a>
                            <div class="creditSp"></div>
                            <div class="creditSoc center-flex">
                                <a href="https://www.instagram.com/bisniscom/" target="_blank" class="creditSoc__item">
                                    <picture class="creditSoc__logo">
                                        <img srcset="./asset/images/social-ig.png" alt="Instagram" class="" width="30"
                                            height="29" loading="lazy">
                                    </picture>
                                </a>
                                <a href="https://twitter.com/Bisniscom" target="_blank" class="creditSoc__item">
                                    <picture class="creditSoc__logo">
                                        <img srcset="./asset/images/social-x.png" alt="X Twitter" class="" width="30"
                                            height="29" loading="lazy">
                                    </picture>
                                </a>
                                <a href="https://facebook.com/wwwbisniscom" target="_blank" class="creditSoc__item">
                                    <picture class="creditSoc__logo">
                                        <img srcset="./asset/images/social-fb.png" alt="Facebook" class="" width="30"
                                            height="29" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <button class="button creditBack" onclick="window.location.replace(location.href);"
                                aria-label="Back to Top">
                                <picture>
                                    <img srcset="./asset/images/social-refresh.png" alt="" width="30" height="29"
                                        class="">
                                </picture>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- content -->

    <div class="fakePage"></div>
    <!-- main -->

    {{> js}}

</body>

</html>