<header class="header">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="menu">
                <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                    <span><i></i></span>
                </button>
            </div>
            <div class="headerLogoWrap">
                <div class="headerLogo headerLogo--kanal">
                    <a href="index-{{replace (lowercase kanal)}}.html" aria-label="kanal {{kanal}}">
                        <img src="./asset/images/logo/{{replace (lowercase kanal)}}-logo.svg" alt=""
                            width="{{#if width}}{{width}}{{else}}180{{/if}}"
                            height="{{#if height}}{{height}}{{else}}49{{/if}}">
                    </a>
                </div>
                <div class="headerLogo headerLogo--bisniscom">
                    <a href="https://bisnis.com/" aria-label="Bisnis.com">
                        <img src="./asset/images/logo/bisniscom-logo.svg" alt="" width="190" height="43" loading="lazy">
                    </a>
                </div>
            </div>
            {{#if nav}}
            <div class="nav">

                {{>header/nav channel=mainMenu.Tekno active=active}}

            </div>
            {{/if}}
            <div class="headerCta">
                <div class="headerSearch">
                    <a href="#" class="buttonSearch center-flex" aria-label="Cari berita terkini" title="Cari di sini">
                        <span class="icoInline icoSearch"></span>
                    </a>
                </div>
                <div class="headerLogin">
                    {{#if login}}
                    <a href="https://id.bisnis.com/user" class="buttonProfile" aria-label="Profile" title="Profil Bisnis ID">
                        <div class="profileImg profileImgDefault">
                            <img src="./asset/images/icon/icon-profile.png" alt="" width="37" height="37">
                        </div>
                    </a>
                    {{else}}
                    <a href="#" aria-label="Login" title="Login Bisnis ID">
                        <span class="icoInline icoLogin"></span>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>