<div class="menuPanel">
    <a href="https://www.bisnis.com"><img src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/logo.svg"
            class="menuPanelLogo" alt="Bisnis.com" title="Bisnis.com" loading="lazy" width="130" height="24"></a>
    <a href="https://www.bisnis.com/premium" class="premiumBoxBtn">
        <span class="icoInline icoPremium"></span>Konten Premium
    </a>
    <div class="menuPanelWrap menuPanelWrap--kanal">
        <ul class="menuPanelList">
            {{#each kanalMenu}}
            <li class="menuPanelItem"><a href="{{link}}" class="menuPanelLink">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="menuPanelWrap menuPanelWrap--network">
        <div class="menuPanelLabel">Bisnis <span>Network</span></div>
        <ul class="menuPanelList">
            {{#each networkMenu}}
            <li class="menuPanelItem">
                <a href="{{link}}" target="_blank" class="menuPanelLink">
                    <img src="{{img}}" alt="{{title}}" loading="lazy" width="{{width}}" height="{{height}}">
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="menuPanelWrap menuPanelWrap--regional">
        <div class="menuPanelLabel">Bisnis <span>Regional</span></div>
        <ul class="menuPanelList">
            {{#each regionalMenu}}
            <li class="menuPanelItem"><a href="{{link}}" class="menuPanelLink">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>