{{#each event}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="eventList__item{{#if ../col}} col-12 col-md-4 col-lg-4{{/if}}">
    <a href="{{link}}" class="eventList__link">
        <div class="eventList__img">
            <img src="{{image}}" alt="">
        </div>
        <div class="eventList__content">
            <h4 class="eventList__title">{{title}}</h4>
            {{#if ../desc}}
            <div class="eventList__desc">{{desc}}</div>
            {{/if}}
            <div class="eventDate">
                <span class="icoInline icoCal"></span>
                {{dateevent}}
            </div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}