<div class="menuList">
    <div class="menuProfile">
        {{#eq login compare=true}}
        <a href="profile-detail.html" class="menuProfile__item menuProfile__user">
            <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                class="userAvatar mr10">
            <div class="menuProfile__name">Shopie Anggita</div>
        </a>
        {{else}}
        <button class="menuProfile__item button buttonPrimary" onclick="triggerActive('.-pLogin')"><span
                class="icon icon-reg mr10"></span>Sign in</button>
        {{/eq}}
    </div>
    <ul>
        {{#eq login compare=true}}
        <li class="menuItem">
            <a href="#" class="menuLink menuProfile__logout">Logout</a>
        </li>
        {{/eq}}
        {{#each menu}}
        <li class="menuItem"><a href="{{link}}"
                class="menuLink{{#eq title compare=../page}} active{{/eq}}">{{title}}</a></li>
        {{/each}}
        <hr>
        {{#each footermenu}}
        <li class="menuItem">
            <a href="{{link}}" class="menuLink">{{title}}</a>
        </li>
        {{/each}}
        <li class="menuItem">
            <ul class="display-flex jcontent-center aitems-center">
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
            </ul>
        </li>
    </ul>
</div>