<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{site.description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{site.name}}" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=16x16 href="{{site.favicon}}">

    <link rel="stylesheet" href="./asset/css/style.min.css" type="text/css">
    {{!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/blackopsone/v11/qWcsB6-ypo7xBdr6Xshe96H3aDvbtxsis4I.woff2"
        as="font" type="font/woff2" crossorigin="anonymous"> --}}
    <style>
        @font-face {
            font-family: 'BCA';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3'),
                url('./asset/fonts/BCADRAFT2.3-Regular.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Regular.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Italic';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Italic'),
                url('./asset/fonts/BCADRAFT2.3-Italic.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Italic.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Italic.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Bold';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Bold'),
                url('./asset/fonts/BCADRAFT2.3-Bold.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Bold.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Bold.ttf') format('truetype');
        }

        /*preloader*/
        .preloader{top:0;background:linear-gradient(180deg,#fff,#efefef);background-image:url(asset/images/white-bg-mob.jpg);background-size:cover;background-repeat:no-repeat;background-position:bottom;transition:opacity .3s ease-in-out;height:100%;width:100%;z-index:1001;position:fixed;display:flex;justify-content:center;overflow:hidden}@media (min-width:1024px){.preloader{background:linear-gradient(180deg,#fff,#efefef);background-image:url(asset/images/white-bg.jpg);background-size:cover;background-repeat:no-repeat;background-position:bottom}}.preloaderWrap{width:100%;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative;font-family:BCA,sans-serif;font-size:14px;font-weight:400;line-height:1.24;color:#333}.preloaderMeter{background:#b7b7b7;width:282px;height:20px;margin:24px auto 18px;box-sizing:content-box}.preloaderMeter,.preloaderMeter>span{position:relative;border-radius:17px;overflow:hidden}.preloaderMeter>span{display:block;height:100%;background-color:#cfac68;box-shadow:inset 0 2px 9px hsla(0,0%,100%,.3),inset 0 -2px 6px rgba(0,0,0,.4)}.preloaderMeter .anim>span>span,.preloaderMeter>span:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-image:linear-gradient(-45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);z-index:1;background-size:50px 50px;animation:moveloading 2s linear infinite;border-radius:17px;overflow:hidden}.preloaderBar{width:0}.preloaderTxt{min-width:81px}.preloaderLogo{-moz-animation:fliploading 3s infinite;-o-animation:fliploading 3s infinite;-ms-animation:fliploading 3s infinite;-webkit-animation:fliploading 3s infinite;animation:fliploading 3s infinite}.preloaderLogo img{max-width:35px}@media (min-width:1024px){.preloaderLogo img{max-width:100%}}
        /*preloader*/
    </style>

    {{!-- <link rel="preload" as="image" href="./asset/images/loading-mob.png"
        imagesrcset="./asset/images/loading.png 768w, ./asset/images/loading.png 1600w"> --}}
    <link rel="preload" as="image" href="./asset/images/cover-bg-mob.png"
        imagesrcset="./asset/images/cover-bg.png 768w, ./asset/images/cover-bg.png 1600w">

</head>