{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="headlineItem{{#if ../type}} {{../type}}{{/if}}">
    <div class="headlineImg">
        <picture>
            <source srcset="{{images}}-m.png" media="(max-width: 767px)" alt="">
            <img srcset="{{images}}.png" alt="" class="" width="1440" height="750" pinger-seen="true">
        </picture>
    </div>
    <div class="container">
        <div class="headlineContent">
            {{#if ../tag}}
            <{{.. /tag}} class="headlineTitle titleD2">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="headlineTitle titleD2">{{title}}</div>
            {{/if}}
            <div class="headlineLead titleH6">{{{lead}}}</div>
            <a href="{{link}}" class="headlineLink">Read more</a>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}