<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.name}} - {{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{site.name}} - {{site.description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{site.name}}" />
    <meta name="twitter:description" content="{{site.name}} - {{site.description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=1x16 href="{{site.logo}}">
    {{#if swiper}}
    <!-- swiper plugin -->
    <link rel="stylesheet" href="./asset/css/swiper-bundle.css" />
    {{/if}}
    {{#if datepicker}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.css">
    {{/if}}
    {{#if page}}
    <link rel="stylesheet" href="./asset/css/style-{{page}}.css" type="text/css">
    {{else}}
    <link type="text/css" rel="stylesheet" href="./asset/css/style.css">
    {{/if}}
    <link rel="preload" href="./asset/images/logo-bank-sulselbar-saoraja-priority.svg" as="image" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Nunito Sans';
            font-style: italic;
            font-weight: 200 1000;
            font-stretch: 100%;
            font-display: swap;
            src: local('Nunito Sans Italic'), local('Nunito Sans Ital') url(https://fonts.gstatic.com/s/nunitosans/v18/pe0OMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t3NeCAAFOvV9SNjBznuBdlEl2g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 200 1000;
            font-stretch: 100%;
            font-display: swap;
            src: local('Nunito Sans'), url(https://fonts.gstatic.com/s/nunitosans/v18/pe0AMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfUVwoNnq4CLz0_kJ3xzHGGVFM.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
</head>