{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="promoItem{{#if ../col}} {{../col}}{{/if}}{{#if ../mt}} mt{{../mt}}{{/if}}">
    <a href="{{link}}" class="promoLink articleLink">
        <div class="promoImg borderedImg">
            <img src="{{images}}" alt="" width="340" height="183"
                onerror="this.onerror=null;this.src='asset/images/logo-thumbnail.jpg';">
        </div>
        <div class="promoContent">
            <div class="promoType">{{type}}</div>
            {{#if ../tag}}
            <{{.. /tag}} class="promoTitle articleTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="promoTitle articleTitle titleH5">{{title}}</div>
            {{/if}}
            <div class="promoPeriode"><span class="ico icoCal"></span>{{periode}}</div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}