{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="resultItem{{#if ../col}} {{../col}}{{/if}}{{#if ../mt}} mt{{../mt}}{{/if}}">
    <a href="{{link}}" class="resultLink">
        <div class="resultImg borderedImg">
            <img src="{{images}}" alt="" width="340" height="183"{{#if ../lazy}} loading="lazy"{{/if}}>
        </div>
        <div class="resultContent">
            {{#if ../tag}}
            <{{.. /tag}} class="resultTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="resultTitle titleH5">{{title}}</div>
            {{/if}}
            <div class="resultLead titleH7">{{lead}}</div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}