{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="toolsItem{{#if ../col}} {{../col}}{{/if}}">
    <a href="{{link}}" class="toolsLink">
        <div class="toolsImg">
            <img src="{{images}}" alt="" width="80" height="80" loading="lazy">
        </div>
        <div class="toolsContent">
            {{#if ../tag}}
            <{{.. /tag}} class="toolsTitle titleH5">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="toolsTitle titleH5">{{title}}</div>
            {{/if}}
            <div class="toolsLead titleP3">{{lead}}</div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}