{{#if pos}}
<div class="detailsCover{{#if pos}} -{{pos}}{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="detailsCoverImg artImg">
        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=740&h=420" alt="{{title}}" width="740" height="420"
            class="image" url="https://images.bisnis.com/posts/{{img}}">
        <button class="button detailsZoom" onclick="openModalImage('detail-modal-image', this)" aria-label="Zoom image">
            <span class="icoInline icoZoom"></span>
        </button>
    </div>
    <div class="detailsImgCaption caption">{{imgcap}}</div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>
{{else}}
<div class="detailsCover{{#if mt}} mt{{mt}}{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="detailsCoverImg artImg">
        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=740&amp;h=420" alt="{{title}}" width="740" height="420"
            class="image" url="https://images.bisnis.com/posts/{{img}}">
        <button class="button detailsZoom" onclick="openModalImage('detail-modal-image', this)" aria-label="Zoom image">
            <span class="icoInline icoZoom"></span>
            Perbesar
        </button>
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>
{{/if}}