<div class="detailsTag mt30">
    <h2 class="detailsTagCaption{{#if mt}} mt{{mt}}{{/if}}">{{#if caption}}{{caption}}{{else}}Tags :{{/if}}</h2>
    <ul class="detailsTagList display-flex">
        {{#each channel.tag}}
        <li><a href="{{link}}" class="detailsTagLink">{{title}}</a></li>
        {{/each}}
    </ul>
</div>