{{#each book}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem productItem--row col-lg-6">
    <div class="productBox">
        <div class="productWrap">
            <a href="{{link}}" aria-label="Open detail's Product" class="productImg">
                <img src="{{image}}" alt="{{title}}" width="100" height="150" loading="lazy">
            </a>
        </div>
        <div class="productContent">
            <a href="{{link}}">
                <h4 class="productTitle">{{title}}</h4>
            </a>
            <div class="productPrice">
                {{price}}
            </div>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}