{{#eq type compare="new"}}
<div class="swiper-wrapper">
    {{#each book.New}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{>component/feature-item-swiper col=../col}}
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}

    <!-- link more -->
    <div class="productItem swiper-slide">
        <div class="productBox">
            <div class="productWrap productMore__wrap">
                <a href="new-release.html" class="linkMore linkMore__arrow productMore"
                    aria-label="see more books on new release">
                    see more
                    <span class="icoBase icoInline icoArrow"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
{{/eq}}
{{#eq type compare="best"}}
<div class="swiper-wrapper">
    {{#each book.Best}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{>component/feature-item-swiper}}
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}

    <!-- link more -->
    <div class="productItem swiper-slide">
        <div class="productBox">
            <div class="productWrap productMore__wrap">
                <a href="new-release.html" class="linkMore linkMore__arrow productMore"
                    aria-label="see more books on best seller">
                    see more
                    <span class="icoBase icoInline icoArrow"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
{{/eq}}
{{#eq type compare="editor"}}
<div class="swiper-wrapper">
    {{#each book.Editor}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    {{>component/feature-item-swiper}}
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}

    <!-- link more -->
    <div class="productItem swiper-slide">
        <div class="productBox">
            <div class="productWrap productMore__wrap">
                <a href="new-release.html" class="linkMore linkMore__arrow productMore"
                    aria-label="see more books on editor's choice">
                    see more
                    <span class="icoBase icoInline icoArrow"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
{{/eq}}