<div class="productItem{{#if col}} col{{/if}}">
    <div class="productBox">
        <div class="productWrap">
            <a href="{{link}}" aria-label="Open detail's Product" class="productImg">
                <img src="{{image}}" alt="{{title}}" width="176" height="265" loading="lazy">
            </a>
            <div class="productCta display-flex">
                <a href="{{link}}" aria-label="Open detail's Product" class="productCta__item">
                    <span class="icoInline icoShow"></span>
                </a>
                <button aria-label="Like Product" class="button buttonLike productCta__item" onclick="likeButton(this)">
                    <span class="icoInline icoLike"></span>
                </button>
            </div>
        </div>
        <div class="productContent">
            <a href="{{link}}">
                <h4 class="productTitle">{{title}}</h4>
            </a>
            <div class="productAuthor__wrap">
                {{#if authors}}
                {{#each authors}}
                <a href="{{authorlink}}">
                    <div class="productAuthor">{{author}}</div>
                </a>
                {{/each}}
                {{else}}
                <a href="{{authorlink}}">
                    <div class="productAuthor">{{author}}</div>
                </a>
                {{/if}}
            </div>
            <div class="productPrice">
                {{price}}
            </div>
        </div>
    </div>
</div>