{{#each author}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="teamItem sortContent col-6 col-md-4" data-cat="{{replace (lowercase title)" " ""}}">
    <a href="{{link}}" class="">
        <div class="teamItem__img teamImg">
            <img src="{{propic}}" alt="{{name}}" width="150" height="150">
        </div>
        <h4 class="teamName teamItem__name">{{name}}</h4>
        <a href="#" class="teamLink"><span class="icoInline icoLn"></span> Get in touch</a>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}