<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">
        <section class="section cover">
            <div class="coverBg">
                <picture class="coverBg__img">
                    <source srcset="./asset/images/cover/cover-bg-mob.jpg" media="(max-width: 767px)" alt="">
                    <img srcset="./asset/images/cover/cover-bg.jpg" alt="" class="" width="1920" height="1080">
                </picture>
            </div>
            <div class="coverContent container">
                <div class="coverCaption">
                    <h1>
                        <picture class="coverCaption__title">
                            <source srcset="./asset/images/cover/cover-title-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/cover/cover-title.png" alt="Green Jobs" class="" width="430"
                                height="73">
                        </picture>
                    </h1>
                    <h2>
                        <picture class="coverCaption__txt">
                            <source srcset="./asset/images/cover/cover-txt-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/cover/cover-txt.png"
                                alt="Mengubah Minat Kaum Muda Jadi Aksi Nyata" class="" width="1402" height="68">
                        </picture>
                    </h2>
                </div>
            </div>
        </section>
        <section class="section intro">
            <div class="container">
                <div class="articleTitle">
                    Prolog
                </div>
                <div class="articleTxt">
                    <p>
                        Setelah sekian lama menjadi wacana, konsep keberlanjutan kini semakin nyata dalam strategi
                        bisnis.
                    </p>
                    <p>Bahkan, Survei Workiva dan Capgemini Research Institute menunjukkan:</p>
                    <p>bahwa di tengah ketidakpastian politik global, keberlanjutan tetap menjadi prioritas bagi banyak
                        perusahaan.</p>
                    <p>Fokus pada keberlanjutan membuka peluang besar bagi <strong><i>green jobs</i></strong>—pekerjaan
                        yang berdampak positif
                        bagi lingkungan sekaligus mendorong pertumbuhan ekonomi.</p>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section linkedin">
            <div class="container">
                <div class="articleTxt">
                    <p>Laporan LinkedIn 2023 mengungkapkan bahwa antara <strong>2022 dan 2023</strong>,
                        jumlah lowongan yang membutuhkan
                        <strong><i>green skills</i> meningkat hingga 22,4 persen.</strong>
                    </p> Tenaga kerja dengan <i>green skills</i> memiliki peluang
                    direkrut <strong>29 persen lebih tinggi.</strong></p>
                </div>
                <div class="articleImg">
                    <div class="articleImg--img">
                        <img src="./asset/images/linkedin/percent-img.png" alt="" class="" width="430" height="73">
                    </div>
                    <div class="articleImg--thumb">
                        <img src="./asset/images/linkedin/percent-thumb.png" alt="" class="" width="430" height="73">
                    </div>
                    <div class="articleImg--percent">
                        <span class="counter" data-target="29">29</span>
                    </div>
                </div>
                <div class="articleTxt">
                    <p>Dalam kondisi ekonomi yang penuh tantangan, <i>green jobs</i> menjadi harapan baru bagi
                        ketenagakerjaan sekaligus solusi bagi perbaikan lingkungan.</p>
                    <p>Laporan Koaksi Indonesia pada 2022 memperkirakan bahwa transisi energi <strong>dapat menciptakan
                            432.000
                            <i>green jobs</i></strong> dengan keahlian teknik pada 2030, dan berpotensi meningkat hingga
                        <strong>1,12 juta pada 2050.</strong>
                    </p>
                    <p>Namun, bagaimana kaum muda melihat masa depan mereka dalam dunia kerja yang semakin mengarah pada
                        keberlanjutan? Apakah mereka melihat peluang dalam sektor hijau, bukan hanya pada transisi
                        energi, melainkan juga konservasi, inovasi hijau, serta <i>intersection</i> antara sektor hijau
                        dengan
                        sektor kesehatan, pendidikan, dan bidang lain? <strong>Dan yang terpenting, bagaimana
                            menjembatani
                            ketertarikan itu menjadi langkah konkret?</strong></p>
                </div>
            </div>
            <div class="linkedinBg">
                <picture class="linkedinBg__img">
                    <source srcset="./asset/images/linkedin/bg-mob.jpg" media="(max-width: 767px)" alt="">
                    <img srcset="./asset/images/linkedin/bg.jpg" alt="" class="" width="1920" height="336">
                </picture>
            </div>
        </section>
        <section class="section tantangan">
            <div class="container">
                <div class="articleTitle">
                    Kaum Muda Tertarik, tetapi Masih Ada Tantangan
                </div>
                <div class="articleTxt">
                    <p>
                        Koaksi Indonesia melakukan studi dengan melibatkan responden muda <strong>(berusia 17-35
                            tahun)</strong> dari 10
                        kota di Indonesia pada Oktober-November 2024.
                    </p>
                    <p>
                        <strong>Hasilnya, 76 persen kaum muda yang telah bekerja merasa pekerjaan mereka sudah beririsan
                            dengan <i>green jobs</i>. Lebih dari 25 persen menyatakan, tempat kerja mereka sudah punya
                            divisi keberlanjutan.</strong>
                    </p>
                </div>
                <div class="articleImg">
                    <div class="articleImg--img">
                        <img src="./asset/images/tantangan/percent-img.png" alt="" class="" width="269" height="301">
                    </div>
                    <div class="articleImg--thumb">
                        <img src="./asset/images/tantangan/percent-thumb.png" alt="" class="" width="72" height="72">
                    </div>
                    <div class="articleImg--percent">
                        <span class="counter" data-target="76">76</span>
                    </div>
                    <div class="articleImg--txt">kaum muda merasa pekerjaan mereka <br> sudah beririsan dengan green
                        jobs</div>
                </div>
                <div class="articleTxt">
                    <p>
                        Namun, pemahaman tentang <i>green jobs</i> masih terbatas. <strong>52 persen</strong> mengaku
                        masih ragu-ragu, kurang
                        paham, dan tidak paham sama sekali soal <i>green jobs</i>.
                    </p>
                    <p>
                        Meski demikian, setelah mendapatkan informasi yang lebih jelas, <strong>76 persen responden
                            mengaku
                            tertarik bekerja di sektor ini.</strong> Daya tarik utama bagi mereka adalah peluang untuk
                        memberikan
                        dampak positif bagi lingkungan.
                    </p>
                </div>
                <div class="emot">
                    <ul class="emotList">
                        <li class="emotItem">
                            <div class="emotTxt">Sangat Tertarik</div>
                            <div class="emotWrap">
                                <div class="emotPercent articleImg--percent">
                                    <span class="counter" data-target="27">27</span>
                                </div>
                                <div class="emotImg">
                                    <img src="./asset/images/emot-5.png" alt="" loading="lazy" width="" height="">
                                </div>
                            </div>
                        </li>
                        <li class="emotItem">
                            <div class="emotTxt">Tertarik</div>
                            <div class="emotWrap">
                                <div class="emotPercent articleImg--percent">
                                    <span class="counter" data-target="49">49</span>
                                </div>
                                <div class="emotImg">
                                    <img src="./asset/images/emot-4.png" alt="" loading="lazy" width="" height="">
                                </div>
                            </div>
                        </li>
                        <li class="emotItem">
                            <div class="emotTxt">Netral</div>
                            <div class="emotWrap --orange">
                                <div class="emotPercent articleImg--percent">
                                    <span class="counter" data-target="18">18</span>
                                </div>
                                <div class="emotImg">
                                    <img src="./asset/images/emot-2.png" alt="" loading="lazy" width="" height="">
                                </div>
                            </div>
                        </li>
                        <li class="emotItem">
                            <div class="emotTxt">Tidak terlalu tertarik/ <br> tidak tertarik sama sekali</div>
                            <div class="emotWrap --red">
                                <div class="emotPercent articleImg--percent">
                                    <span class="counter" data-target="6">6</span>
                                </div>
                                <div class="emotImg">
                                    <img src="./asset/images/emot-1.png" alt="" loading="lazy" width="" height="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="articleTxt">
                    <p>Minat yang tinggi terhadap <i>green jobs</i> tidak serta-merta berujung pada peningkatan jumlah
                        tenaga
                        kerja di sektor ini.</p>
                    <p>Seperti yang terjadi di industri teknologi, faktor seperti <strong>gaji, kestabilan pekerjaan,
                            keterampilan yang dibutuhkan, dan ketersediaan lapangan kerja</strong> menjadi pertimbangan
                        utama bagi
                        kaum muda sebelum benar-benar terjun ke dalamnya.</p>
                    <p>Butuh usaha untuk menyulap minat menjadi aksi nyata. Sulit memang, tetapi sudah ada modalnya.</p>
                </div>
                <div class="articleImg">
                    <picture>
                        <source srcset="./asset/images/tantangan/img1-mob.png" media="(max-width: 767px)" alt="">
                        <img srcset="./asset/images/tantangan/img1.png" alt="" class="" width="390" height="320">
                    </picture>
                </div>
                <div class="articleTxt">
                    <p>Selain minat, modal dasar menggaet generasi muda masuk pada <i>green jobs</i> adalah perhatian
                        pada
                        masalah lingkungan dan pengalaman mereka merasakan dampak kerusakan lingkungan pada kehidupan
                        sehari-hari.</p>
                    <p>Riset pada <strong>10.000 kaum muda dunia</strong> yang diterbitkan di <i>The Lancet</i> pada
                        2021 menunjukkan bahwa
                        mereka sangat peduli dengan krisis iklim. <strong>Lebih dari separuh merasa marah, cemas,
                            sekaligus tak
                            berdaya menghadapi ancaman ini.</strong></p>
                </div>
                <div class="articleImg">
                    <picture>
                        <source srcset="./asset/images/tantangan/img2-mob.png" media="(max-width: 767px)" alt="">
                        <img srcset="./asset/images/tantangan/img2.png" alt="" class="" width="366" height="256">
                    </picture>
                </div>
            </div>
        </section>
        <section class="section tren">
            <div class="container">
                <div class="articleTxt">
                    <p>Di Indonesia, tren serupa terlihat dalam survei Koaksi Indonesia.</p>
                    <div class="articleGraph__wrapper">
                        <div class="articleGraph__gridLines">
                            <span style="left: 0%"></span>
                            <span style="left: 25%"></span>
                            <span style="left: 50%"></span>
                            <span style="left: 75%"></span>
                            <span style="left: 100%"></span>
                        </div>
                        <div class="articleGraph" data-max="40">
                            {{#each prioritas}}
                            <div class="articleGraph__item" data-value="{{data}}">
                                <div class="articleGraph__txt">{{txt}}</div>
                                <div class="articleGraph__data">
                                    <div class="bar"><span class="bar__value">0</span></div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!-- X-axis numbers -->
                        <div class="articleGraph__labels">
                            <span>0</span>
                            <span>10</span>
                            <span>20</span>
                            <span>30</span>
                            <span>40</span>
                        </div>
                    </div>
                    <p>Isu lingkungan menempati posisi kedua dalam daftar prioritas kaum muda setelah ekonomi,
                        mengungguli isu kesehatan. Perubahan iklim juga masuk lima besar isu yang paling mereka
                        perhatikan.</p>
                    <div class="articleImg">
                        <picture>
                            <source srcset="./asset/images/tren/img1-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/tren/img1.png" alt="" class="" width="253" height="266">
                        </picture>
                    </div>

                    <div class="articleGraph__wrapper">
                        <div class="articleGraph__gridLines">
                            <span style="left: 0%"></span>
                            <span style="left: 20%"></span>
                            <span style="left: 40%"></span>
                            <span style="left: 60%"></span>
                            <span style="left: 80%"></span>
                            <span style="left: 100%"></span>
                        </div>
                        <div class="articleGraph" data-max="50">
                            {{#each dampak-muda}}
                            <div class="articleGraph__item" data-value="{{data}}">
                                <div class="articleGraph__txt">{{txt}}</div>
                                <div class="articleGraph__data">
                                    <div class="bar"><span class="bar__value">0</span></div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!-- X-axis numbers -->
                        <div class="articleGraph__labels">
                            <span>0</span>
                            <span>10</span>
                            <span>20</span>
                            <span>30</span>
                            <span>40</span>
                            <span>50</span>
                        </div>
                    </div>
                    <p>Isu lingkungan yang menjadi perhatian utama adalah sampah dan polusi udara, mungkin dipicu karena
                        pemberitaan media soal Indonesia penghasil sampah plastik ketiga terbesar dunia serta pengalaman
                        menyaksikan udara kota yang berkabut debu.</p>
                    <div class="articleImg">
                        <div class="articleImg--img">
                            <img src="./asset/images/tren/percent-img.png" alt="" class="" width="310" height="297">
                        </div>
                        <div class="articleImg--percent">
                            <span class="counter" data-target="50">50</span>
                        </div>
                        <div class="articleImg--txt">Kaum muda merasakan <br> betul dampak lingkungan</div>
                    </div>
                    <p>Lebih dari <strong>50 persen</strong> kaum muda merasakan betul dampak lingkungan. Gagal panen
                        dan masalah
                        pertanian adalah yang paling utama, disusul limbah industri dan polusi udara.</p>
                    <div class="articleGraph__wrapper">
                        <div class="articleGraph__gridLines">
                            <span style="left: 0%"></span>
                            <span style="left: 20%"></span>
                            <span style="left: 40%"></span>
                            <span style="left: 60%"></span>
                            <span style="left: 80%"></span>
                            <span style="left: 100%"></span>
                        </div>
                        <div class="articleGraph" data-max="100">
                            {{#each dampak}}
                            <div class="articleGraph__item" data-value="{{data}}">
                                <div class="articleGraph__txt">{{txt}}</div>
                                <div class="articleGraph__data">
                                    <div class="bar"><span class="bar__value">0</span></div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!-- X-axis numbers -->
                        <div class="articleGraph__labels">
                            <span>0</span>
                            <span>20</span>
                            <span>40</span>
                            <span>60</span>
                            <span>80</span>
                            <span>100</span>
                        </div>
                    </div>
                    <p>Pengelolaan sampah yang tidak optimal merupakan yang paling sering dialami kaum muda, disusul
                        polusi dan bencana.</p>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section stabil">
            <div class="container">
                <div class="articleTitle">Kestabilan Pekerjaan sebagai Faktor Penentu</div>
                <div class="articleTxt">
                    <p>Jika ingin menyulap minat generasi muda menjadi aksi nyata pada <i>green jobs</i>, maka
                        mengupayakan
                        kestabilan pekerjaan pada sektor tersebut adalah hal utama yang perlu dilakukan.</p>
                    <p>Pasalnya, sebanyak <strong>60 persen kaum muda yang sudah bekerja dan 52 persen yang belum
                            bekerja</strong>
                        sama-sama menginginkan status pekerjaan tetap.</p>
                    <p>Keinginan ini, sayangnya, agak berbeda dengan tren saat ini. Studi oleh London School
                            of
                            Economics and Political Science mengungkapkan, pekerjaan masa depan banyak
                        berstatus lepas.
                        Kalau banyak green jobs di Indonesia punya status lepas, maka peminatnya bisa jadi akan sedikit.
                    </p>
                    <div class="articleList">
                        <div class="articleImg">
                            <picture>
                                <source srcset="./asset/images/stabil/focus-mob.png" media="(max-width: 767px)" alt="">
                                <img srcset="./asset/images/stabil/focus.png" alt="" class="" width="226" height="226">
                            </picture>
                        </div>
                        <ul class="articleList__content">
                            <li class="articleList__item">Gaji</li>
                            <li class="articleList__item">Lingkungan Kerja</li>
                            <li class="articleList__item">Peluang Karir</li>
                            <li class="articleList__item">Keseimbangan Hidup</li>
                        </ul>
                    </div>
                    <p>Kaum muda memang perhatian pada isu lingkungan. Namun, mereka jauh lebih perhatian pada
                        <strong>gaji,
                            lingkungan kerja, peluang karier, dan keseimbangan hidup saat memilih pekerjaan.</strong>
                    </p>
                    <p>Dengan demikian, meskipun <strong>sepertiga kaum muda</strong> memperhatikan dampak lingkungan
                        ketika memilih
                        pekerjaan, remunerasi yang layak sekaligus lingkungan pekerjaan yang kompetitif dan inklusif
                        tetap harus diperhatikan.</p>
                    <p>Di sini, Pemerintah Indonesia perlu mengkaji lagi <strong>Undang-Undang Cipta Kerja,</strong>
                        misalnya <strong>terkait
                            remunerasi,</strong> agar dapat mendorong minat kaum muda ke sektor <i>green jobs</i>.</p>
                    <div class="articleImg">
                        <div class="articleImg--img">
                            <img src="./asset/images/stabil/percent-img.png" alt="" class="" width="243" height="288">
                        </div>
                        <div class="articleImg--percent">
                            <span class="counter" data-target="49">49</span>
                        </div>
                    </div>
                    <p>Di atas semua itu, kaum muda menilai bahwa pemerintah masih perlu menciptakan <i>green jobs</i>
                        lebih
                        banyak. Sebanyak <strong>49 persen kaum muda mengatakan, menciptakan lowongan <i>green jobs</i>
                            adalah langkah
                            yang sangat perlu dilakukan pemerintah.</strong></p>
                    <p>Di mana sektor yang harus ditingkatkan? Berdasarkan survei, agroindustri adalah salah satu yang
                        perlu dieksplorasi.</p>
                    <p>Sektor agroindustri dipandang memiliki keberlanjutan tinggi di mata kaum muda, diikuti makanan
                        dan minuman serta pariwisata. Hasil riset Greenpeace dan Celios pada 2023 mengungkapkan,
                        agroindustri merupakan sektor yang paling menyerap banyak <i>green jobs</i>.</p>
                    <p>Di sisi lain, <strong>Pemerintah perlu mendorong agar generasi muda melirik sektor energi,
                            keuangan, dan
                            ritel yang saat ini belum dianggap prospek untuk keberlanjutan.</strong></p>
                    <p>Di antara banyak sektor pekerjaan, kaum muda menilai <strong>pertanian, perikanan, dan kehutanan
                            merupakan yang paling potensial mendukung keberlanjutan.</strong></p>
                    <div class="articleGraph__wrapper">
                        <div class="articleGraph__gridLines">
                            <span style="left: 0%"></span>
                            <span style="left: 25%"></span>
                            <span style="left: 50%"></span>
                            <span style="left: 75%"></span>
                            <span style="left: 100%"></span>
                        </div>
                        <div class="articleGraph" data-max="40">
                            {{#each sektor}}
                            <div class="articleGraph__item" data-value="{{data}}">
                                <div class="articleGraph__txt">{{txt}}</div>
                                <div class="articleGraph__data">
                                    <div class="bar"><span class="bar__value">0</span></div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <!-- X-axis numbers -->
                        <div class="articleGraph__labels">
                            <span>0</span>
                            <span>10</span>
                            <span>20</span>
                            <span>30</span>
                            <span>40</span>
                        </div>
                    </div>
                    <div class="articleImg stabilBg">
                        <picture>
                            <source srcset="./asset/images/stabil/bg-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/stabil/bg.png" alt="" class="" width="1192" height="354">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section key">
            <div class="keyBg">
                <div class="keyBg__wrap --left">
                    <div class="--left"></div>
                </div>
                <div class="keyBg__wrap --right">
                    <div class="--right"></div>
                </div>
            </div>
            <div class="container">
                <div class="articleTitle">Peningkatan Keterampilan: Kunci Keberhasilan</div>
                <div class="articleTxt">
                    <p>Selain kestabilan, keterampilan juga menjadi tantangan utama.</p>
                    <p>Sebanyak <strong>72 persen kaum muda merasa perlu meningkatkan pengetahuan mereka mengenai
                            lingkungan dan
                            keberlanjutan,</strong> sedangkan lainnya menginginkan penguatan keterampilan teknis serta
                        pemahaman
                        kebijakan pemerintah terkait isu ini.</p>
                    <div class="emot">
                        <ul class="emotList">
                            <li class="emotItem">
                                <div class="emotTxt">Sangat Paham</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="12">12</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/emot-5.png" alt="" loading="lazy" width="" height="">
                                    </div>
                                </div>
                            </li>
                            <li class="emotItem">
                                <div class="emotTxt">Cukup Paham</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="36">36</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/emot-4.png" alt="" loading="lazy" width="" height="">
                                    </div>
                                </div>
                            </li>
                            <li class="emotItem">
                                <div class="emotTxt">Ragu-ragu</div>
                                <div class="emotWrap --orange">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="26">26</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/emot-3.png" alt="" loading="lazy" width="" height="">
                                    </div>
                                </div>
                            </li>
                            <li class="emotItem">
                                <div class="emotTxt">Kurang Paham</div>
                                <div class="emotWrap --red">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="21">21</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/emot-2.png" alt="" loading="lazy" width="" height="">
                                    </div>
                                </div>
                            </li>
                            <li class="emotItem">
                                <div class="emotTxt">Tidak Paham Sama Sekali</div>
                                <div class="emotWrap --red">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="5">5</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/emot-1.png" alt="" loading="lazy" width="" height="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>Menariknya, ada perbedaan preferensi dalam peningkatan keterampilan berdasarkan gender.
                        <strong>Perempuan
                            lebih menitikberatkan pada pengetahuan soal keberlanjutan, sedangkan laki-laki mengutamakan
                            kemampuan komunikasi.</strong>
                    </p>
                    <div class="articleImg">
                        <picture>
                            <source srcset="./asset/images/key/img1-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/key/img1.png" alt="" class="" width="440" height="318">
                        </picture>
                    </div>
                    <p class="articleBox"><strong>Oleh karena itu, program <i>re-skilling</i> dan <i>up-skilling</i>
                            perlu
                            diperkuat.</strong></p>
                    <p>Di sektor energi, misalnya, <i>engineer</i> yang saat ini bekerja di industri batu bara bisa
                        dilatih
                        ulang menjadi ahli tenaga surya.</p>
                    <p>Dalam sektor agrobisnis, program peningkatan keterampilan seperti yang diterapkan dalam
                        <strong><i>European
                                Union Common Agricultural Policy (CAP) Network</i></strong> bisa menjadi inspirasi untuk
                        membangun pelatihan
                        yang komprehensif.
                    </p>
                    <p>Selain itu, sektor <i>EdTech</i> dapat memainkan peran penting dalam peningkatan keterampilan
                        melalui
                        <strong><i>Massive Online Open Courses (MOOC)</i></strong> dan program sertifikasi mikro untuk
                        mendorong penguasaan
                        <i>green skills</i>.
                    </p>
                    <div class="articleImg">
                        <picture>
                            <source srcset="./asset/images/key/img2-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/key/img2.png" alt="" class="" width="220" height="228Ï">
                        </picture>
                    </div>
                    <p><strong>Rencana Pembangunan Jangka Panjang Nasional (RPJMN) 2025 - 2045</strong> yang mengangkat
                        ekonomi hijau
                        sebagai fondasi transformasi ekonomi merupakan kebijakan mendasar yang penting.</p>
                    <p>Kementerian Ketenagakerjaan bekerja sama dengan <strong>International Labor Organization
                            (ILO)</strong> berupaya
                        mengembangkan kurikulum pelatihan pekerjaan hijau. Selain itu, ada pula upaya untuk Standar
                        Kompetensi Kerja Nasional Indonesia (SKKNI) untuk pekerjaan hijau.</p>
                    <p>Program <strong>Startup4Industry</strong> dari Kementerian Perindustrian juga kini menyasar
                        sektor-sektor hijau,
                        menciptakan peluang bagi banyak pihak untuk ikut berperan serta.</p>
                    <p>Dengan keunggulannya masing-masing, sektor pemerintah dan swasta bisa berkolaborasi untuk
                        mempercepat pengembangan kompetensi pekerjaan hijau.</p>
                    <p><strong>Peningkatan <i>green skills</i> ini akan menentukan</strong> apakah peluang <i>green
                            jobs</i> betul-betul dapat
                        mendorong perubahan dan menyejahterakan.</p>
                    <p>Fenomena yang terjadi di sektor teknologi, di mana slot pekerjaan teknis dialihdayakan ke tenaga
                        kerja asing bisa menjadi pelajaran.</p>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section social">
            <div class="container">
                <div class="articleTitle">Media Sosial sebagai Sarana Promosi “Green Jobs”</div>
                <div class="articleTxt">
                    <p>Riset Koaksi Indonesia menemukan bahwa <strong>91 persen kaum muda</strong> menggunakan media
                        sosial sebagai sumber informasi utama, termasuk dalam mencari pekerjaan. <strong>WhatsApp,
                            Instagram, dan TikTok menjadi medium komunikasi utama mereka.</strong></p>
                    <div class="articleImg">
                        <div class="articleImg--img">
                            <img src="./asset/images/social/percent-img.png" alt="" class="" width="332" height="351">
                        </div>
                        <div class="articleImg--percent">
                            <span class="counter" data-target="91">91</span>
                        </div>
                    </div>
                    <p><strong>Fenomena ini bisa dimanfaatkan untuk meningkatkan kesadaran dan minat terhadap <i>green
                                jobs</i>.</strong></p>
                    <p>Akun media sosial khusus yang mempromosikan <i>green jobs</i> dapat dibuat, seperti halnya akun
                        yang menginformasikan peluang kerja di sektor non-profit dan <i>startup</i>.</p>
                    <p>Studi Prosple, meskipun dengan responden yang terbatas, menunjukkan bahwa citra
                        perusahaan di media sosial berperan dalam menarik kaum muda untuk bekerja di <i>startup</i>.
                        Pendekatan serupa dapat diterapkan untuk memopulerkan green jobs.</p>
                    <div class="socialGraph">
                        <div class="socialGraph__wrap --big">
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Media Sosial</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="91">91</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-1.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Televisi</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="49">49</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-2.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="socialGraph__wrap --small">
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Teman/keluarga</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="38">38</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-3.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Website berita</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="29">29</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-4.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Komunitas/organisasi lingkungan</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="19">19</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-5.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Podcast</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="13">13</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-6.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Surat kabar/magazine</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="12">12</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-7.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                            <div class="socialGraph__item emotItem">
                                <div class="socialGraph__txt emotTxt">Webinar/
                                    seminar online</div>
                                <div class="emotWrap">
                                    <div class="emotPercent articleImg--percent">
                                        <span class="counter" data-target="8">8</span>
                                    </div>
                                    <div class="emotImg">
                                        <img src="./asset/images/social/graph-8.png" alt="" loading="lazy" width=""
                                            height="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="socialGraph__txt">Media sosial (91%) adalah sumber informasi utama untuk isu-isu
                            umum dan diikuti oleh televisi (49%) yang juga cukup banyak digunakan orang muda. Surat
                            kabar/koran dan webinar online sangat jarang digunakan oleh orang muda untuk mencari
                            informasi seputar isu-isu umum.</div>
                    </div>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section interest">
            <div class="container">
                <div class="articleTitle">Memanfaatkan Minat Wirausaha</div>
                <div class="articleTxt">
                    <p>Semangat kewirausahaan di kalangan kaum muda Indonesia cukup tinggi. Survei <i>World Economic
                            Forum</i>
                        menemukan bahwa <strong>34,1 persen kaum muda di Indonesia sudah bekerja untuk diri sendiri, dan
                            1,5
                            persen lainnya ingin mencoba.</strong></p>
                    <div class="articleImg">
                        <div class="articleImg--img">
                            <img src="./asset/images/interest/percent-img.png" alt="" class="" width="428" height="317">
                        </div>
                        <div class="articleImg--percent">
                            <span class="counter" data-target="34.1">34,1</span>
                        </div>
                    </div>
                    <p><strong><i>Green jobs</i></strong> dapat dikaitkan dengan tren ini melalui pengembangan
                        kewirausahaan hijau.
                        <i>Bootcamp</i> dan
                        kompetisi bisnis dapat digelar untuk mendorong anak muda mengembangkan ide bisnis berbasis
                        keberlanjutan, mulai dari pengolahan sampah hingga energi terbarukan.
                    </p>
                    <p>Saat ini, Pemerintah telah memiliki Danantara, platform pendanaan untuk mendorong perubahan dan
                        inovasi. Pemanfaatan Danantara untuk mendukung <i>green entrepreneurship</i> bisa menjadi
                        langkah
                        strategis untuk mengubah minat kaum muda terhadap <i>green jobs</i> menjadi aksi nyata.</p>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>
        <section class="section epilog">
            <div class="container">
                <div class="articleTitle">Epilog</div>
                <div class="articleTxt">
                    <p>Riset Koaksi Indonesia menunjukkan bahwa kaum muda memiliki kesadaran lingkungan dan pengetahuan
                        tentang <i>green jobs</i>, meski masih perlu ditingkatkan melalui media sosial. Untuk mendorong
                        partisipasi mereka, pemerintah dan sektor swasta harus membuka lebih banyak peluang dan
                        membekali mereka dengan keterampilan yang dibutuhkan. Partisipasi mereka pada <i>green jobs</i>
                        berperan penting dalam menjaga lingkungan, mencegah kelangkaan sumber daya, serta mendukung
                        transisi energi Indonesia menuju emisi nol bersih pada 2060 atau lebih cepat.</p>
                    <div class="articleImg">
                        <picture>
                            <source srcset="./asset/images/epilog/img1-mob.png" media="(max-width: 767px)" alt="">
                            <img srcset="./asset/images/epilog/img1.png" alt="" class="" width="294" height="381">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="section--zebra"></div>
        </section>

        <!-- credit -->
        {{>credit}}
        <!-- credit -->
    </main>
    <!-- main -->

    <!-- footer -->
    {{!> credit}}

    {{> js}}

</body>

</html>