<div class="art{{#if mt}} mt{{mt}}{{/if}}{{#if mod}} -{{mod}}{{/if}}">
    <div class="artWrap{{#if type}} -{{type}}{{/if}}{{#if pos}} -{{pos}}{{/if}}{{#if col}} {{col}}{{/if}}">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <div class="artItem">
            <div class="{{#if ../type}}art--{{../type}}{{/if}}">
                {{#eq ../images compare = false}}
                {{else}}
                {{#if ../images_top}}
                {{#compare @index "==" "0"}}
                <a href="{{link}}" class="artLink artLinkImg">
                    <div class="artImg">
                        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w={{../w}}&h={{../h}}" width="{{../w}}"
                            height="{{../h}}" alt="{{title}}" {{#if ../lcp}}{{else}}loading="lazy" {{/if}}>
                        {{#if ../video}}
                        <div class="artDuration">
                            <span class="icoInline icoPlay"></span>
                        </div>
                        {{/if}}
                    </div>
                </a>
                {{/compare}}
                {{else}}
                <a href="{{link}}" class="artLink artLinkImg">
                    <div class="artImg">
                        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w={{../w}}&h={{../h}}" width="{{../w}}"
                            height="{{../h}}" alt="{{title}}" {{#if ../lcp}}{{else}}loading="lazy" {{/if}}>
                        {{#if ../video}}
                        <div class="artDuration">
                            <span class="icoInline icoPlay"></span>
                        </div>
                        {{/if}}
                    </div>
                </a>
                {{/if}}
                {{/eq}}
                <div class="artContent">
                    {{#compare ../dates "==" false}}
                    <a href="{{link}}" class="artLink">
                        <h4 class="artTitle">
                            {{title}}
                        </h4>
                    </a>
                    {{else}}
                    {{#compare ../pos "==" "center"}}
                    {{#compare ../channels "==" false}}
                    {{else}}
                    <div class="artContentWrap">
                        {{#if premium}}
                        <div class="artChannel -premium">
                            <a href="#">
                                <span class="icoInline icoPremium"></span>Premium
                            </a>
                        </div>
                        {{else}}
                        <div class="artChannel">
                            <a href="#">
                                {{channel}}
                            </a>
                        </div>
                        {{/if}}
                    </div>
                    {{/compare}}
                    <a href="{{link}}" class="artLink">
                        {{#if live}}
                        <div class="artLive"><span>Live</span></div>
                        {{/if}}
                        <h4 class="artTitle">
                            {{title}}
                        </h4>
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                    </a>
                    {{else}}
                    <div class="artContentWrap">
                        {{#compare ../channels "==" false}}
                        {{else}}
                        {{#if premium}}
                        <div class="artChannel -premium">
                            <a href="#">
                                <span class="icoInline icoPremium"></span>Premium
                            </a>
                        </div>
                        {{else}}
                        <div class="artChannel">
                            <a href="#">
                                {{channel}}
                            </a>
                        </div>
                        {{/if}}
                        {{/compare}}
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                    </div>
                    <a href="{{link}}" class="artLink">
                        <h4 class="artTitle">
                            {{title}}
                        </h4>
                    </a>
                    {{/compare}}
                    {{/compare}}
                </div>
            </div>
        </div>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </div>
</div>