<!-- article -->
<div class="article{{#eq mt compare=30}} mt30{{/eq}}">
    <ul class="articleList">
        {{#eachIndex headline}}
        {{#gt index compare = '0'}}
        <li class="articleItem mt20 display-flex">
            <a href="{{item.link}}" class="articleImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.webp" class="articleImg" alt="" width="87" height="87" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">{{item.subtitle}}</div>
                <h3 class="articleTitle mt5"><a href="{{item.link}}">{{item.title}}</a></h3>
                <div class="articleDetail user display-flex aitems-center mt5">
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
</div>
<!-- article -->