<div class="headline mt30">
    <div class="headlineList" id="sheadline">
        {{#eachIndex headline}}
        <div class="headlineItem">
            <a href="{{item.link}}" class="headlineImg" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">{{item.subtitle}}</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="{{item.link}}" class="headlineLink">{{item.title}}</a></h1>
            </div>
        </div>
        {{/eachIndex}}
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>