<div class="highlight highlight--col1 mt30">
        <div class="articleCaption">Video</div>
    <div class="highlightList row mt10" id="svideo">
        {{#eachIndex headline}}
        <div class="highlightItem">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="{{item.link}}" class="articleLink">{{item.title}}</a></h2>
            </div>
        </div>
        {{/eachIndex}}
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtvideo">
        </div>
    </div>
</div>