<div class="highlight mt20">
    <ul class="highlightList row">
        {{#eachIndex headline}}
        {{#gt index compare = '2'}}
        <li class="highlightItem col-gd10-5">
            <a href="{{item.link}}" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="152" height="113" loading="lazy">
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">{{item.subtitle}}</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="{{item.link}}" class="highlightLink">{{item.title}}</a></h2>
            </div>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
</div>