<div class="detailsCover{{#if mt}} mt{{mt}}{{/if}}">
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="detailsCoverImg artImg">
        <img src="https://images.bisnis.com/thumb/posts/{{img}}?w=1080&h=606" alt="{{title}}" width="1080" height="606">
        {{#eq ../kanal compare=" tekno"}}
        {{else}}
        <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
        {{/eq}}
    </div>
    <div class="detailsTitle{{#eq ../kanal compare=" tekno"}} center-flex{{/eq}}">
        <h1 class="detailsTitleCaption">{{title}}</h1>
        {{#eq ../kanal compare=" tekno"}}
        <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
        <div class="detailsAttribute">
            <span class="detailsAttributeItem detailsAttributeAuthor">
                <span class="icoInline icoProfile"></span>
                <div class="authorName">{{author}}</div>
            </span>
        </div>
        <div class="detailsAttribute">
            <span class="detailsAttributeItem">
                <span class="icoInline icoCal"></span>
                {{dates}}
            </span>
            <span class="detailsAttributeItem">
                <span class="icoInline icoEye"></span>
                5 menit baca
            </span>
        </div>
        {{/eq}}
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
</div>