{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="detailsLead{{#if ../mt}} mt{{../mt}}{{/if}}">{{lead}}</div>
{{#eq ../kanal compare=" tekno"}}
{{else}}
<div class="detailsAttribute center-flex">
    <div class="detailsAttributeAuthor display-flex">
        <div class="profileImg{{#if ../default}} profileImgDefault{{/if}}">
            <img src="{{authorphoto}}" alt="{{author}}" loading="lazy" width="26" height="26">
        </div>
        <div class="authorName">{{author}}</div>
    </div>
</div>
<div class="detailsAttribute center-flex">
    <span>{{dates}}</span>
    <span>5 menit baca</span>
</div>
{{/eq}}
{{/gte}}
{{else}}
{{/gte}}
{{/each}}