{{#each book.New}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem productItem--row col-12">
    <div class="productBox row">
        <div class="profileReview__mob -titlerevm col-12">
            <a href="{{link}}" class="profileReview__link titleWrap display-flex -link">
                <h3 class="productTitle">{{title}}</h3>
                <div class="productMisc">Go to product</div>
            </a>
        </div>
        <div class="productWrap col-5 col-md-2">
            <a href="{{link}}" aria-label="Open detail's Product" class="productImg">
                <img src="{{image}}" alt="{{title}}" width="100" height="150" loading="lazy">
            </a>
        </div>
        <div class="productContent col-12">
            <div class="profileReview__desk -titlerev"></div>
            {{#eq @index compare=0}}
            <div class="reviewTxt">
                <p>Came in great condition. Love the content</p>
            </div>
            <div class="reviewImg">
                <img src="./asset/images/sample/upload-1.png" alt="" width="121" height="120" loading="lazy">
                <img src="./asset/images/sample/upload-2.png" alt="" width="121" height="120" loading="lazy">
            </div>
            {{else}}
            <div class="reviewTxt">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Enim habitant enim ullamcorper quis urna semper pulvinar.
                    Fames
                    mollis maecenas sodales augue vulputate faucibus ut at. Orci malesuada enim vitae fermentum. Vel sed
                    nullam
                    sed molestie venenatis lacus sed tincidunt id. In urna pharetra nec est viverra aliquam lectus.
                    Volutpat
                    elit mauris laoreet lobortis porta aliquam sociis in mattis. Porta eget dui scelerisque ut mattis
                    neque
                    elit.</p>
            </div>
            {{/eq}}
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}