{{#each product}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="detailFlash">
    <img src="./asset/images/icon-flash.png" alt="" width="31" height="31">
    Flash Sale
</div>
<h2 class="detailTitle">{{title}}</h2>
<div class="productAttr">
    <div class="productRating">
        <span class="icon iconStar"></span>
        4.8
    </div>
    <span class="product--dash">|</span>
    <div class="productSold">Terjual 15</div>
</div>
<div class="detailPrice">{{price}}</div>
<div class="productDisc">
    <span class="priceDisc">-45%</span>
    <span class="priceNet">{{pricenet}}</span>
    <div class="mobile-only">
        <div class="detailCtaWrap">
            <button class="button detailCta detailCtaLove" onclick="triggerActiveButton(this, 'Favorit', 'Favoritkan')" aria-label="Favorite"></button>
            <button class="button detailCta" onclick="triggerPopup('.-pShare')" aria-label="Share"><span
                    class="icon iconShare"></span></button>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}