{{#each product}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="detailImageList">
    {{#each detail.varian}}
    <div class="detailImageItem">
        <div class="detailImageWrap -zoom">
            <img data-zoom="{{image}}" src="{{image}}" alt="{{title}}" width="500" height="448" class="detailImage">
        </div>
    </div>
    {{/each}}
</div>

<div class="detailImageNav">
    {{#eachIndex detail.varian}}
    <div class="detailImageItem" value="{{item.value}}">
        <div class="detailImageWrap detailImage--small">
            <img src="./asset/images/dummy/product/xs/{{index}}.png" alt="{{item.title}}" width="102" height="105"
                class="detailImage">
        </div>
    </div>
    {{/eachIndex}}
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}