{{#if photo}}
<div class="reviewPhotoItem">
    <img src="./asset/images/dummy/photo/review.png" alt="" loading="lazy"{{#if w}}  width="{{w}}"{{/if}}{{#if h}}  height="{{h}}"{{/if}}>
</div>
{{/if}}
{{#if button}}
<button class="button reviewPhotoItem" aria-label="Go to image review" onclick="navSlickPopupRev({{idx}})">
    <img src="./asset/images/dummy/photo/review.png" alt="" loading="lazy"{{#if w}}  width="{{w}}"{{/if}}{{#if h}}  height="{{h}}"{{/if}}>
</button>
{{/if}}