<!DOCTYPE html>
<html lang="en">
{{> head page="section-1"}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section1">
        <div class="sectionCover section1Cover">
            <div class="section1CoverImage">
            </div>
            <div class="container">
                <div class="section1CoverContent">
                    <h1 class="section1Caption articleCaption">Apa Itu Kemiskinan Ekstrem?
                    </h1>
                </div>
            </div>
        </div>
        <div class="section1Content">
            <div class="sectionDash --top"></div>
            <div class="container">
                <div class="articleText articleTitleSpacing--small">Menurut Bank Dunia, kemiskinan ekstrem terjadi
                    ketika seseorang hidup dengan
                    pendapatan di bawah standar
                    minimum atau <i>Purchasing Power Parity (PPP)</i>. Mereka yang masuk kategori ini biasanya kesulitan
                    memenuhi
                    kebutuhan dasar seperti makanan, air bersih, tempat tinggal, dan sanitasi.</div>
                <div class="needs needsList sectionSpacing center-flex">
                    {{#each needs}}
                    <div class="needsItem text-center">
                        <img src="./asset/images/section-1/kebutuhan-{{add @index 1}}.png" alt="" loading="lazy">
                        <div class="articleText">{{title}}</div>
                    </div>
                    {{/each}}
                </div>

                <div class="section1Group">
                    <picture>
                        <source srcset="./asset/images/section-1/poverty.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/poverty-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/poverty.png" alt="" loading="lazy">
                    </picture>
                    <div class="articleText">Pada tahun 2020, sekitar 2,25 persen penduduk Indonesia hidup dalam
                        kemiskinan ekstrem. Namun empat tahun kemudian, angka itu berhasil ditekan menjadi hanya 0,60
                        persen. Bahkan, dalam laporan Indonesia Poverty Assessment (2023), Bank Dunia mencatat Indonesia
                        telah memenuhi target penghapusan kemiskinan ekstrem sejak 2022 dengan capaian di bawah 1,5
                        persen.</div>
                </div>
            </div>
            <div class="section1Diagram sectionSpacing sectionSpacingDouble">
                <div class="sectionDash --top"></div>
                <div class="container text-center">
                    <h2 class="graphTitle">Keberhasilan ini didorong oleh pertumbuhan ekonomi inklusif dan program
                        perlindungan sosial yang kuat.</h2>
                    <picture class="graph section1DiagramPic">
                        <source srcset="./asset/images/section-1/infografis-pemanfaatan-data.png"
                            media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/infografis-pemanfaatan-data.png"
                            media="(max-width: 767px)">
                        <img src="./asset/images/section-1/infografis-pemanfaatan-data.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="sectionDash"></div>
            </div>
            <div class="sectionSpacing sectionSpacingDouble section1BoxWrap">
                <div class="scroll-area">
                    <div class="section1ScrollContainer">
                        <h2 class="graphTitle text-center articleTitleSpacing">Dari Soeharto hingga Prabowo: Estafet
                            Jargon Anti Kemiskinan</h2>
                        <div class="section1Scroll">
                            {{#each jargon}}
                            <div class="section1ScrollBox section1ScrollBox{{add @index 1}} text-center">
                                <img src="./asset/images/section-1/{{pres}}.png" alt="" loading="lazy">
                                <div class="articleText">{{title}}</div>
                                <div class="section1ScrollContent"><img src="./asset/images/section-1/{{jargon}}.png"
                                        alt="" loading="lazy">
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="section1Pasal sectionSpacing">
                <div class="sectionDash --top"></div>
                <div class="container">
                    <div class="articleTitleSpacing articleText">Upaya menghapus kemiskinan ekstrem bukan semata
                        kebijakan politik, tapi
                        amanat konstitusi.
                        <strong>Pasal 34 ayat (1) UUD 1945</strong> menyatakan bahwa “fakir miskin dan anak-anak
                        terlantar dipelihara
                        oleh negara.” Sementara <strong>Pasal 27 ayat (2)</strong> menegaskan bahwa setiap warga negara
                        berhak atas
                        pekerjaan dan penghidupan yang layak.
                        Konstitusi juga menegaskan hak atas pendidikan dan kesehatan.
                        <strong> Pasal 28H</strong> menyebutkan bahwa setiap orang berhak hidup sejahtera lahir dan
                        batin, memiliki tempat
                        tinggal, lingkungan yang sehat, dan layanan kesehatan. <strong>Pasal 31</strong> menjamin hak
                        pendidikan dasar
                        yang wajib disediakan dan dibiayai oleh negara.
                        Tiga pilar utama untuk menciptakan kehidupan yang layak pun ditegaskan, yaitu pekerjaan,
                        pendidikan dan kesehatan, serta jaminan sosial.
                    </div>
                    <div class="section1Float sectionFloat text-center">
                        <ul>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/float-0.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/float-0.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/float-0.png" alt="" loading="lazy">
                                </picture>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/float-1.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/float-1.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/float-1.png" alt="" loading="lazy">
                                </picture>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/float-2.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/float-2.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/float-2.png" alt="" loading="lazy">
                                </picture>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/float-3.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/float-3.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/float-3.png" alt="" loading="lazy">
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section1Edu sectionSpacing">
                <div class="sectionDash --top"></div>
                <div class="container">
                    <div class="articleTitle articleTitleSpacing">Dari Pendidikan hingga Pemberdayaan</div>
                    <div class="articleText">Penghapusan kemiskinan ekstrem tidak cukup dengan memberi bantuan.
                        Masyarakat harus diberdayakan. Karena itu, pemerintah menjalankan beragam program untuk
                        meningkatkan kemampuan dan kapabilitas rakyat.</div>
                    <div class="sectionSpacingDouble articleTitleSpacing">
                        <h2 class="graphTitle articleTitleSpacing">Program Andalan Penghapusan
                            Kemiskinan Indonesia</h2>
                        <ul class="section1EduList">
                            {{#each program}}
                            <li class="section1EduItem">
                                <img src="./asset/images/section-1/program-{{add @index 1}}.png" alt="" loading="lazy">
                                <div class="articleText"><strong>{{title}}</strong></div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="articleText">Di sisi lain, pembangunan wilayah, baik desa maupun kota, diarahkan untuk
                        meningkatkan kualitas permukiman dan akses ke hak-hak dasar: infrastruktur pendidikan,
                        kesehatan, air bersih, sanitasi, perumahan, hingga jalan penghubung antarwilayah.
                        Pengendalian inflasi, terutama harga pangan, juga menjadi bagian penting. Kenaikan harga yang
                        tinggi bisa langsung menurunkan daya beli masyarakat berpenghasilan rendah.</div>
                </div>
            </div>
            <div class="section1Story sectionSpacing">
                <div class="sectionDash --top"></div>
                <div class="container">
                    <div class="articleTitle articleTitleSpacing">Kisah Nyata dari Warga</div>
                    <div class="articleText">
                        Keberhasilan kebijakan terlihat nyata lewat kisah warga.
                        Ada Ibu Julaiha (75 tahun), penerima bantuan sosial dan pangan bergizi harian melalui program
                        “rantang kasih” yang melibatkan warung lokal dan lembaga seperti BAZNAS.</div>
                    <div class="articleText">Lalu Fauzi (46 tahun), yang usahanya berkembang setelah menerima
                        bantuan modal lewat program “Kanggo Riko.”
                        Atau Ibu Sa’adi (62 tahun), yang meningkatkan pendapatan berkat pembiayaan usaha dari PNM
                        Mekaar.</div>
                    <div class="articleText articleTitleSpacing">Cerita-cerita ini menegaskan bahwa sinergi antara pemerintah, daerah, BUMN,
                        dan swasta mampu
                        memberdayakan masyarakat secara berkelanjutan.</div>
                        <ul class="section1StoryImg center-flex">
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/story-img1.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/story-img1.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/story-img1.png" alt="" loading="lazy">
                                </picture>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/story-img2.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/story-img2.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/story-img2.png" alt="" loading="lazy">
                                </picture>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/section-1/story-img3.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/section-1/story-img3.png" media="(max-width: 767px)">
                                    <img src="./asset/images/section-1/story-img3.png" alt="" loading="lazy">
                                </picture>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="section1Arah sectionSpacing">
                <div class="sectionDash --top"></div>
                <div class="container">
                    <div class="articleTitle articleTitleSpacing">Konsistensi dan Arah Kebijakan ke Depan</div>
                    <div class="articleText">
                        Selama 2020–2024, percepatan penghapusan kemiskinan ekstrem menjadi bagian penting dari strategi
                        transformasi ekonomi nasional. Hal ini ditegaskan dalam <strong>Instruksi Presiden No. 4 Tahun
                            2022</strong>,
                        serta pidato Nota Keuangan RAPBN 2022–2024. Fokus anggaran diarahkan pada perlindungan sosial,
                        penurunan stunting, pengendalian inflasi, dan penciptaan lapangan kerja.
                        Ke depan, strategi pengentasan kemiskinan harus bersifat multidimensional, mencakup pendidikan,
                        kesehatan, ketenagakerjaan, perlindungan sosial, hingga pemanfaatan teknologi dan data.
                    </div>
                    <div class="articleText articleTitleSpacing">
                        Dalam dunia yang berubah cepat, metode pengukuran kemiskinan pun perlu ditinjau ulang.
                        Pendekatan <i>basic needs</i> yang selama ini digunakan, hanya mengukur kemampuan memenuhi
                        kebutuhan
                        dasar, perlu bertransformasi ke pendekatan <i>basic rights</i> yang lebih holistik: menilai hak
                        atas
                        pendidikan, kesehatan, pekerjaan, dan kehidupan layak.</div>
                    <div class="text-center">
                        <picture>
                            <source srcset="./asset/images/section-1/arah.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-1/arah.png" media="(max-width: 767px)">
                            <img class="" src="./asset/images/section-1/arah.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="section1Visi sectionSpacing">
                <div class="sectionDash --top"></div>
                <div class="container">
                    <div class="articleTitle articleTitleSpacing">Menuju Indonesia yang Adil dan Sejahtera</div>
                    <div class="articleText articleTitleSpacing">
                        Dengan menempatkan keadilan sosial, hak dasar warga negara, dan sinergi lintas sektor sebagai
                        fondasi, Indonesia dapat terus memperkuat upaya menuju kesejahteraan berkelanjutan.
                        Seperti Ibu Aruni yang kini tersenyum di depan warung kecilnya, hasil kerja keras dan kebijakan
                        yang tepat menunjukkan bahwa keluar dari kemiskinan bukan lagi impian, melainkan kenyataan yang
                        bisa dicapai bersama.
                         </div>
                    <div class="text-center">
                        <picture class="ibu">
                            <source srcset="./asset/images/section-1/ibu-aruni.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-1/ibu-aruni-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-1/ibu-aruni.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Content -->

    {{> credit}}

    <!-- main -->

    {{> js page="section-1"}}

</body>

</html>