<nav class="nav" aria-label="primarynavigation">
    <div class="navList center-flex">
        {{#each mainMenu}}
        <div class="navItem">
            {{#if submenu}}
            <div class="navLink">{{title}}</div>
            <ul class="navSub headerDropdown">
                {{#each submenu}}
                <li class="navSubItem">
                    <a href="{{link}}" class="navLink">{{title}}</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <a href="{{link}}" class="navLink">{{title}}</a>
            {{/if}}
        </div>
        {{/each}}
    </div>
</nav>