<div class="headerDrop navSub">
    {{#each userMenu}}
    {{#if icon compare=true}}
    <a href="{{link}}" class="navLink navLink--red">
        {{title}}
        <span class="icoInline icoLogout"></span>
    </a>
    {{else}}
    <a href="{{link}}" class="navLink">
        {{title}}
    </a>
    {{/if}}
    {{/each}}
</div>