<nav class="nav" aria-label="primarynavigation">
    <div class="navList center-flex">
        {{#each mainMenu}}
        <div class="navItem">
            {{#if submenu}}
            <button type="button"
                class="button navLink{{#eq title compare=../page}} active{{/eq}} titleH7">{{title}}</button>
            <ul class="navSub headerDropdown">
                {{#each submenu}}
                <li class="navSubItem">
                    {{#if subchild}}
                    <button class="button navLink{{#eq title compare=../../page}} active{{/eq}} titleH7">{{title}}
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
                    <ul class="navSubChild headerDropdown">
                        {{#each subchild}}
                        <li class="navSubItem">
                            <a href="{{link}}"
                                class="navLink{{#eq title compare=../../page}} active{{/eq}} titleH7">{{title}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <a href="{{link}}" class="navLink{{#eq title compare=../../page}} active{{/eq}} titleH7">{{title}}
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{else}}
            <a href="{{link}}" class="navLink{{#eq title compare=../page}} active{{/eq}} titleH7">{{title}}</a>
            {{/if}}
        </div>
        {{/each}}
    </div>
</nav>