<header class="header header--fixed{{#if trans}} header--trans{{/if}}">
	<div class="logo">
		<h1 class="clearfix">
			<a href="https://vik.kompas.com/" class="logo-title">
				<span class="title-text">VIK</span>
				<span class="block-logo">
					<span class="title-break">Visual</span>
					<span class="title-break">Interaktif</span>
					<span class="title-break">Kompas</span>
				</span>
			</a>
		</h1>
	</div>
	<!-- share -->
	<div class="share">
		{{!-- <!-- Language toggle switch -->
		<label class="switch">
			<input type="checkbox" id="langToggle">
			<span class="switchSlider"></span>
			<span class="switchTxt">ID</span>
		</label> --}}
		<ul class="share__wrap js-share-wrap">
			<li class="share__item">
				<a target="_blank" rel="noopener" aria-label="Share to facebook"
					href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}"
					class="share__link share__link--fb"><span class="icon-fb"></span></a>
			</li>
			<li class="share__item">
				<a target="_blank" rel="noopener" aria-label="Share to twitter"
					href="https://x.com/intent/post?text={{site.name}} Selengkapnya di:%0a%0a&url={{site.url}}"
					class="share__link share__link--tw"><span class="icon-tw"></span></a>
			</li>
			<li class="share__item js-share__item--wa">
				<a target="_blank" rel="noopener" aria-label="Share to whatsapp"
					href="https://wa.me/?text={{site.name}} Selengkapnya di {{site.url}}"
					data-action="share/whatsapp/share" class="share__link share__link--wa"><span
						class="icon-wa"></span></a>
			</li>
		</ul>
	</div>
	<!-- share -->

	{{!> menu}}

</header>