<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{site.description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="{{site.name}}" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="@Bisniscom">
    <meta name="twitter:title" content="{{site.name}}" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=16x16 href="{{site.favicon}}">

    <link rel="stylesheet" href="./asset/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <style>

        /*preloader*/
        /*.preloader{top:0;height:100%;width:100%;z-index:1001;position:fixed;display:flex;justify-content:center;overflow:hidden;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.7s;background:linear-gradient(180deg,#e1f8fe -28.34%,#a8e7f8 37.76%,#5bc4e2 103.86%)}.preloader.done{opacity:0;pointer-events:none}.preloaderWrap{width:100%;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative}.preloaderAnim{max-width:500px}
*/
    </style>
    
    {{!-- <link rel="preload" as="image" href="./asset/images/cover-indo-m.png"
        imagesrcset="./asset/images/cover-indo.png 768w"> --}}

</head>