{{#each headline}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<li class="articleItem mt20 display-flex">
    {{#if ../tag}}
    <{{.. /tag}} class="articleTitle">
        <a href="{{link}}" class="articleLink">
            {{title}}
        </a>
    </{{.. /tag}}>
    {{else}}
    <div class="articleTitle">
        <a href="{{link}}" class="articleLink">
            {{title}}
        </a>
    </div>
    {{/if}}
    <a href="{{link}}" class="articleImg__wrap mt10" aria-label="{{title}}">
        <img src="{{img}}{{@index}}.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
    </a>
    <div class="articleBox">
        {{#if ../sub}}
        <div class="articleSubtitle">{{subtitle}}</div>
        {{/if}}
        {{#if ../time}}
        <div class="articleTime">Minggu, 18 Mei 2025</div>
        {{/if}}
        {{#if ../lead}}
        <div class="articleLead">{{lead}}</div>
        {{/if}}
        {{#if ../next}}<a href="{{link}}" class="buttonNext">Selanjutnya <span class="icon icon-next"></span></a>{{/if}}
        {{#if ../user}}
        <div class="articleDetail user display-flex aitems-center mt10">
            <a href="#" class="display-flex aitems-center">
                <img loading="lazy" src="{{user}}" width="24" height="24" alt="" class="userAvatar mr10">
                <div class="userName">
                    Salma Farida
                </div>
            </a>
        </div>
        {{/if}}
    </div>
</li>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}