<div class="headline">
    <div class="headlineList">
        {{#each headline}}
        <a href="{{link}}" class="headlineItem">
            <div class="headlineImg">
                <img src="{{img}}{{@index}}.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
            <div class="headlineBox">
                <div class="headlineSubtitle">{{subtitle}}</div>
                <h1 class="headlineTitle">{{title}}</h1>
                {{#eq @index compare = 2}}
                <div class="headlineLead">{{lead}}</div>
                <div class="buttonNext">Selanjutnya <span class="icon icon-next"></span></div>
                {{/eq}}
            </div>
        </a>
        {{/each}}
    </div>
</div>