<div class="headline">
    <div class="headlineList" id="sheadline">
        {{#each headline}}
        <a href="{{link}}" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">{{subtitle}}</div>
                <h1 class="headlineTitle">{{title}}</h1>
            </div>
            <div class="headlineImg">
                <img src="{{img}}{{@index}}.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
        {{/each}}
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>