<div class="highlight">
    {{#if title}}
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">{{title}}</div>
        {{#if more}}<a href="#" class="buttonMore display-flex aitems-center">+ More</a>{{/if}}
    </div>
    {{/if}}
    <ul class="highlightList row">
        {{#each headline}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <li class="highlightItem mt20{{#if ../col}} {{../col}}{{/if}}">
            <a href="{{link}}" class="highlightImg__wrap" aria-label="{{title}}">
                <img src="{{img}}{{@index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">{{subtitle}}</div>
                </div>
                <h2 class="highlightTitle mt10"><a href="{{link}}" class="highlightLink">{{title}}</a></h2>
                {{#if ../lead}}<div class="highlightLead">{{lead}}</div>{{/if}}
            </div>
        </li>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </ul>
</div>