<div class="highlight highlight--col3 mt40">
    <div class="highlightCaption">+Vibes</div>
    <div class="highlightCaption--sub">Memberi makna dan inpsirasi bisa saja dengan serius maupun gelak tawa, asal
        jangan cemberut.</div>
    <div class="highlightList row">
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">{{item.title}}</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        {{/gt}}
        {{/eachIndex}}
        {{#eachIndex headline}}
        {{#gt index compare = '1'}}
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="{{item.title}}">
                <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h3 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">{{item.title}}</a></h3>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        {{/gt}}
        {{/eachIndex}}
    </div>
    <div class="display-flex aitems-center jcontent-end">
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>