<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Photo"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <div class="channelCaption mt30">Photo</div>
        </div>
        {{> ads/skin}}
        {{> ads/billboard}}
        <section class="container">
            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    <div class="photoRow">
                        <div class="photoCol photoBig col-gd12-7">
                            {{#eachIndex headline}}
                            {{#lt index compare = '1'}}
                            <div class="highlightItem photoBig__item">
                                <a href="read-photo.html" class="photoBig__link" aria-label="{{item.title}}">
                                    <div class="highlightImg__wrap">
                                        <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="424"
                                            height="500" loading="lazy">
                                        <div class="photoCount display-flex aitems-center"><span
                                                class="icon icon-photo mr10"></span>5 foto
                                        </div>
                                    </div>
                                    <div class="highlightBox photoBox photoBig__box">
                                        <div class="photoCount display-flex aitems-center"><span
                                                class="icon icon-photo mr10"></span>5 foto
                                        </div>
                                        <div class="highlightDetail display-flex aitems-center mt10">
                                            <div class="highlightSubtitle">Foto</div>
                                            <div class="highlightTime">9 menit yang lalu</div>
                                        </div>
                                        <h1 class="highlightTitle photoLink mt10">{{item.title}}</h1>
                                    </div>
                                </a>
                            </div>
                            {{/lt}}
                            {{/eachIndex}}
                        </div>
                        <div class="photoCol photoSmall col-gd12-5">
                            {{#eachIndex headline}}
                            {{#gt index compare = '2'}}
                            <div class="highlightItem photoSmall__item">
                                <a href="read-photo.html" class="photoSmall__link" aria-label="{{item.title}}">
                                    <div class="highlightImg__wrap">
                                        <img src="{{item.img}}{{index}}.jpg" class="highlightImg" alt="" width="297"
                                            height="237" loading="lazy">
                                        <div class="photoCount display-flex aitems-center"><span
                                                class="icon icon-photo mr10"></span>5 foto
                                        </div>
                                    </div>
                                    <div class="highlightBox photoBox photoSmall__box">
                                        <div class="photoCount display-flex aitems-center"><span
                                                class="icon icon-photo mr10"></span>5 foto
                                        </div>
                                        <div class="highlightDetail display-flex aitems-center mt10">
                                            <div class="highlightSubtitle">Foto</div>
                                            <div class="highlightTime">9 menit yang lalu</div>
                                        </div>
                                        <h2 class="highlightTitle photoLink mt10">{{item.title}}</h2>
                                    </div>
                                </a>
                            </div>
                            {{/gt}}
                            {{/eachIndex}}
                        </div>
                    </div>
                    {{> ads/middle}}
                    {{> index-photo}}
                    <button class="button buttonMore mt40">Indeks Berita</button>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/new-photo}}
                        {{> ads/right mt=40}}
                        {{> sidebar/recomm}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page=""}}

</body>

</html>