<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        <div class="flex-center dir-column">
                            <img src="asset/images/user.png" alt="" class="profileAvatar" width="108" height="108">
                            <h1 class="profileName mt10">Sophie Anggita</h1>
                            <a href="#" class="button buttonPink buttonPink--small text-center mt20">Lihat profil</a>
                        </div>
                        {{> profile/profile-nav active="Draft"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Draft</div>
                    <div class="profileArticle__head display-flex jcontent-between mt30">
                        <div class="formWrap">
                            <input type="checkbox" id="checkAll" class="formCheck profileArticle__check">
                            <label for="checkAll">Pilih</label>
                        </div>
                        <button class="button profileArticle__action pink">Hapus</button>
                    </div>
                    <ul class="articleList">
                        {{#eachIndex headline}}
                        <li class="articleItem profileItem display-flex">
                            <div class="formWrap">
                                <input type="checkbox" id="checkbox{{index}}" class="formCheck profileArticle__check"
                                    aria-label="Pick Article">
                            </div>
                            <a href="{{item.link}}" class="profileItem__link flex-init">
                                <h2 class="profileTitle">{{item.title}}</h2>
                                <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                    <div class="articleTime mr10">9 menit yang lalu</div>
                                </div>
                            </a>
                            <button type="button" class="button profileArticle__action ml10 -bMail"
                                aria-label="Open Notification"><span
                                    class="icon icon-edit profileArticle__icon"></span></button>
                        </li>
                        {{/eachIndex}}
                        {{#eachIndex headline}}
                        <li class="articleItem profileItem display-flex">
                            <div class="formWrap">
                                <input type="checkbox" id="checkbox{{index}}" class="formCheck profileArticle__check"
                                    aria-label="Pick Article">
                            </div>
                            <a href="{{item.link}}" class="profileItem__link flex-init">
                                <h2 class="profileTitle">{{item.title}}</h2>
                                <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                    <div class="articleTime mr10">9 menit yang lalu</div>
                                </div>
                            </a>
                            <button type="button" class="button profileArticle__action ml10 -bMail"
                                aria-label="Open Notification"><span
                                    class="icon icon-edit profileArticle__icon"></span></button>
                        </li>
                        {{/eachIndex}}
                    </ul>
                    {{> paging}}
                </div>
            </div>
        </section>
    </main>

    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js}}
    <script>
        $(document).ready(function () {
            //check all cart item
            $("#checkAll").click(function () {
                $('input.profileArticle__check:checkbox').not(this).prop('checked', this.checked);
            });
        })
    </script>

</body>

</html>