<!DOCTYPE html>
<html lang="en">
{{> head page="Read" photozoom=true slick=true}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <div class="container">
            <ul class="breadcrumb display-flex mt40 mb40">
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Foto</a></li>
            </ul>
        </div>
        <section class="container">
            <div class="row display-flex mt40">
                <div class="read col-gd-740 images-container">
                    <article>
                        <h1 class="readTitle text-center">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                        </h1>
                        <div class="flex-center jcontent-between mt20">
                            <div class="readWriter"><b><a href="#">Alphonse Elric</a></b> | 11 September 2021 | 12.23
                                WIB</div>
                            {{> read/share}}
                        </div>
                        <div class="photoBig photoSlider mt20">
                            <div class="js-photo-slider-for">
                                {{#eachIndex headline}}
                                {{!-- <div class="photoSlider__item">
                                    <div class="readImg__expand">
                                        <img src="{{item.img}}{{index}}.jpg" class="photoSlider__img photoBig__img"
                                            alt="" width="740" height="436" loading="lazy">
                                        <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                            Perbesar</button>
                                    </div>
                                </div> --}}
                                <figure class="readFigure" itemprop="associatedMedia" itemscope
                                    itemtype="http://schema.org/ImageObject">
                                    <a href="{{item.img}}{{index}}.jpg" itemprop="contentUrl" data-size="947x633">
                                        <img src="{{item.img}}{{index}}.jpg" class="photoSlider__img photoBig__img"
                                            itemprop="thumbnail" alt="" width="740" height="436" />
                                    </a>
                                    <figcaption itemprop="caption description"
                                        class="readImg__thumb text-center mt10">
                                        {{item.title}}</figcaption>
                                    <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                        Perbesar</button>
                                </figure>

                                {{/eachIndex}}
                                {{#eachIndex headline}}
                                <figure class="readFigure" itemprop="associatedMedia" itemscope
                                    itemtype="http://schema.org/ImageObject">
                                    <a href="{{item.img}}{{index}}.jpg" itemprop="contentUrl" data-size="947x633">
                                        <img src="{{item.img}}{{index}}.jpg" class="photoSlider__img photoBig__img"
                                            itemprop="thumbnail" alt="" width="740" height="436" />
                                    </a>
                                    <figcaption itemprop="caption description"
                                        class="readImg__thumb text-center mt10">
                                        {{item.title}}</figcaption>
                                    <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                        Perbesar</button>
                                </figure>
                                {{/eachIndex}}
                            </div>
                        </div>
                        <div class="photoSmall photoSlider">
                            <div class="js-photo-slider-nav">
                                {{#eachIndex headline}}
                                <div class="photoSlider__item">
                                    <div class="readImg__expand photoSmall__wrap">
                                        <img src="{{item.img}}{{index}}.jpg" class="photoSlider__img photoSmall__img"
                                            alt="" width="148" height="134" loading="lazy">
                                    </div>
                                </div>
                                {{/eachIndex}}
                                {{#eachIndex headline}}
                                <div class="photoSlider__item">
                                    <div class="readImg__expand photoSmall__wrap">
                                        <img src="{{item.img}}{{index}}.jpg" class="photoSlider__img photoSmall__img"
                                            alt="" width="148" height="134" loading="lazy">
                                    </div>
                                </div>
                                {{/eachIndex}}
                            </div>
                        </div>
                        <div class="readContent mt30">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Mi mattis id
                                    proinet</a> cras id
                                eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                                faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                                pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                                massa.</p>
                        </div>
                        <div class="readTag mt20">
                            Tags :
                            <ul class="display-flex">
                                <li><a href="#" class="readTag__link">#Relationship</a></li>
                                <li><a href="#" class="readTag__link">#Zodiak</a></li>
                                <li><a href="#" class="readTag__link">#Love</a></li>
                                <li><a href="#" class="readTag__link">#Tips</a></li>
                            </ul>
                        </div>
                    </article>
                    <div class="readWriter__box display-flex mt30">
                        <img loading="lazy" src="https://api.lorem.space/image/face?w=125&amp;h=125&amp;hash=8B7BCDC2"
                            alt="" class="readWriter__avatar" width="125" height="125">
                        <div class="readWriter__wrap">
                            <div class="readWriter--big">
                                Alphonse Elric
                            </div>
                            <div class="readWriter__desc">
                                Jurnalis di Aramula.com. Menulis konten di Aramula.com, Kompas.com, Bisnis.com, dll.
                            </div>
                            <a href="#" class="readWriter__more mt10">Lihat artikel saya lainnya</a>
                            {{> read/social}}
                        </div>
                    </div>
                    <div class="readBottom display-flex aitems-center jcontent-between mt40">
                        {{> read/share-footer}}
                        <div class="commentCount">
                            4 Komentar
                        </div>
                    </div>
                    <div class="readCaption--big mt30">Apa Reaksimu?</div>
                    {{> read/react}}
                    <div class="readCaption--big mt40">Tambahkan Komentar</div>
                    {{> read/comment-no-paging}}
                    <div class="readCaption--big readCaption--mg mt40">Foto Terkait</div>
                    {{> read/more-photo}}
                    <div class="readCaption--big readCaption--mg mt40">Baca Juga</div>
                    {{> read/more}}
                    <button class="button buttonMore mt40">Indeks Berita</button>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/new-photo title="terpopuler"}}
                        {{> sidebar/trending}}
                        {{> ads/halfpage}}
                        {{> sidebar/recomm}}
                        {{> sidebar/hashtag}}
                        {{> sidebar/highlight}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    <!-- s: popup photo element -->
    {{> read/pswp}}
    <!-- e: popup photo element -->
    <!-- s: popup report -->
    {{> read/popup-report}}
    <!-- e: popup report -->

    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Read" photozoom=true slick=true}}
    <script>
        // photo slider
        $(document).ready(function () {
            // slick carousel
            $('.js-photo-slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: !0,
                fade: !0,
                asNavFor: '.js-photo-slider-nav'
            });
            $('.js-photo-slider-nav').slick({
                dots: 0,
                arrows: 0,
                slidesToShow: 5,
                slidesToScroll: 1,
                infinite: !0,
                speed: 1000,
                autoplay: !0,
                asNavFor: '.js-photo-slider-for',
                focusOnSelect: true
            });
        });
    </script>

</body>

</html>