<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header-stories page="Stories"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <ul class="storiesRow row mt40">
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
                {{#eachIndex stories}}
                <li class="storiesItem col-gd12-3">
                    <a href="{{item.link}}" class="storiesLink{{#eq index compare= 0}} storiesVer1{{/eq}}">
                        <img src="{{item.img}}{{index}}.png" class="storiesImg" alt="" width="239" height="426"
                            loading="lazy">
                        <div class="storiesBox{{#eq index compare= 0}} storiesVer1__box{{/eq}}">
                            {{#eq item.subtitle compare=""}}{{else}}
                            <div class="storiesSubtitle">{{item.subtitle}}</div>
                            {{/eq}}
                            <h4 class="storiesTitle{{#eq index compare= 0}} storiesVer1__title{{/eq}} mt10">
                                {{item.title}}
                            </h4>
                        </div>
                    </a>
                </li>
                {{/eachIndex}}
            </ul>
            {{> paging active=false}}
        </section>
    </main>

    <!-- footer -->
    {{> footer page="Stories"}}

    {{> js page=""}}

</body>

</html>