<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Video"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <div class="channelCaption mt30">Video</div>
        </div>
        {{> ads/skin}}
        {{> ads/billboard}}
        <section class="container">
            <div class="videoRow display-flex mt40">
                <div class="videoCol videoBig col-gd-740">
                    <div class="js-vid-slider-for">
                        {{#eachIndex headline}}
                        <div class="videoBig__item">
                            <a href="{{item.link}}" aria-label="{{item.title}}">
                                <img src="{{item.img}}{{index}}.jpg" class="videoImg videoBig__img" alt="" width="740"
                                    height="521" loading="lazy">
                                <span class="icon icon-play"></span>
                            </a>
                        </div>
                        {{/eachIndex}}
                        {{#eachIndex headline}}
                        <div class="videoBig__item">
                            <a href="{{item.link}}" aria-label="{{item.title}}">
                                <img src="{{item.img}}{{index}}.jpg" class="videoImg videoBig__img" alt="" width="740"
                                    height="521" loading="lazy">
                                <span class="icon icon-play"></span>
                            </a>
                        </div>
                        {{/eachIndex}}
                    </div>
                </div>
                <div class="videoCol videoSmall">
                    <div class="js-vid-slider-nav">
                        {{#eachIndex headline}}
                        <div class="videoSmall__item">
                            <a href="{{item.link}}" class="display-flex aitems-center">
                                <div class="videoSmall____wrap">
                                    <img src="{{item.img}}{{index}}.jpg" class="videoImg videoSmall__img" alt=""
                                        width="107" height="81" loading="lazy">
                                </div>
                                <h1 class="videoSmall__title">{{item.title}}</h1>
                            </a>
                        </div>
                        {{/eachIndex}}
                        {{#eachIndex headline}}
                        <div class="videoSmall__item">
                            <a href="{{item.link}}" class="display-flex aitems-center">
                                <div class="videoSmall____wrap">
                                    <img src="{{item.img}}{{index}}.jpg" class="videoImg videoSmall__img" alt=""
                                        width="107" height="81" loading="lazy">
                                </div>
                                <h1 class="videoSmall__title">{{item.title}}</h1>
                            </a>
                        </div>
                        {{/eachIndex}}
                    </div>
                </div>
            </div>
            {{> ads/middle}}
            {{> index-video}}
            <div class="flex-center">
                <button class="button buttonMore mt40">Indeks Berita</button>
            </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js slick=true}}
    <script>
        // video slider
        $(document).ready(function () {
            // slick carousel
            $('.js-vid-slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: 0,
                fade: !0,
                asNavFor: '.js-vid-slider-nav'
            });
            $('.js-vid-slider-nav').slick({
                dots: 0,
                arrows: 0,
                vertical: !0,
                slidesToShow: 5,
                slidesToScroll: 1,
                verticalSwiping: !0,
                infinite: !0,
                speed: 1000,
                autoplay: !0,
                asNavFor: '.js-vid-slider-for',
            });
        });
    </script>

</body>

</html>