{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem swiper-slide">
    <a href="{{link}}" class="productLink">
        <div class="productImg">
            <img src="{{image}}" alt="{{title}}" width="154" height="231" loading="lazy">
        </div>
        {{#if ../tag}}
        <{{.. /tag}} class="productTitle">{{title}}</{{.. /tag}}>
        {{else}}
        <div class="productTitle">{{title}}</div>
        {{/if}}
        <div class="productAuthor">{{author}}</div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}