{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="eventItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}">
    <a href="{{link}}" class="eventLink">
        <div class="eventImg">
            <img src="{{image}}" alt={{title}}" width="{{../width}}" height="{{../height}}">            
            <div
                class="eventTag{{#eq tag compare='Past Event'}} -past{{/eq}}{{#eq tag compare='On Going'}} -going{{/eq}}">
                {{tag}}
            </div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}