<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.name}} - {{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{site.name}}" />
    <meta property="og:description" content="{{site.name}} - {{site.description}}" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="{{site.name}}" />
    <meta name="twitter:description" content="{{site.name}} - {{site.description}}" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=1x16 href="{{site.logo}}">
    {{#if swiper}}
    <!-- swiper CSS -->
    <link rel="stylesheet" href="./asset/css/swiper-bundle.min.css" />
    {{/if}}
    {{#eq page compare="home"}}
    <link rel="stylesheet" href="./asset/css/style-home.min.css" type="text/css">
    {{!--
    <link rel="preload" as="image" href="./asset/images/loader-mob.gif"
        imagesrcset="./asset/images/loader.gif 800w, ./asset/images/loader.gif 1600w" imagesizes="50vw">
    <link rel="preload" as="image" href="./asset/images/loader-vid.gif"> --}}
    {{else}}
    <link rel="preload" href="./asset/images/logo-elex-sm.svg" as="image" />
    <link type="text/css" rel="stylesheet" href="./asset/css/style.min.css">
    {{/eq}}
    <style>
        @font-face {
            font-family: 'Author-Bold';
            src: local('Author Bold'), local('Author-Bold'),
                url('./asset/fonts/Author-Bold.woff2') format('woff2'),
                url('./asset/fonts/Author-Bold.woff') format('woff'),
                url('./asset/fonts/Author-Bold.ttf') format('truetype');
            font-weight: 700;
            font-display: swap;
            font-style: normal;
        }

        /*@font-face {
            font-family: 'Author-SemiboldItalic';
            src: url('./asset/fonts/Author-SemiboldItalic.woff2') format('woff2'),
                url('./asset/fonts/Author-SemiboldItalic.woff') format('woff'),
                url('./asset/fonts/Author-SemiboldItalic.ttf') format('truetype');
            font-weight: 600;
            font-display: swap;
            font-style: italic;
        }*/

        @font-face {
            font-family: 'Author-Semibold';
            src: local('Author Bold'), local('Author-Bold'),
                url('./asset/fonts/Author-Semibold.woff2') format('woff2'),
                url('./asset/fonts/Author-Semibold.woff') format('woff'),
                url('./asset/fonts/Author-Semibold.ttf') format('truetype');
            font-weight: 600;
            font-display: swap;
            font-style: normal;
        }

        @font-face {
            font-family: 'Author-Medium';
            src: local('Author Medium'), local('Author-Medium'),
                url('./asset/fonts/Author-Medium.woff2') format('woff2'),
                url('./asset/fonts/Author-Medium.woff') format('woff'),
                url('./asset/fonts/Author-Medium.ttf') format('truetype');
            font-weight: 500;
            font-display: swap;
            font-style: normal;
        }

        @font-face {
            font-family: 'Author-Regular';
            src: local('Author'), local('Author'),
                url('./asset/fonts/Author-Regular.woff2') format('woff2'),
                url('./asset/fonts/Author-Regular.woff') format('woff'),
                url('./asset/fonts/Author-Regular.ttf') format('truetype');
            font-weight: 400;
            font-display: swap;
            font-style: normal;
        }
    </style>
</head>