{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem swiper-slide">
    <div class="productLink --row">
        <a href="{{link}}" class="productImg">
            <img src="{{image}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}}
                loading="lazy" {{/if}}>
        </a>
        <div class="productContent">
            {{#if ../label}}
            <a href="#" class="productLabel"> {{../label}}</a>
            {{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="productTitle"><a href="{{link}}">{{title}}</a></{{.. /tag}}>
            {{else}}
            <a href="{{link}}" class="productTitle">{{title}}</a>
            {{/if}}
            <a href="author-detail.html" class="productAuthor">{{author}}</a>
            <div class="productCta">
                <a href="{{link}}" class="button buttonPrimary -icon">View Detail <span class="ico icoMore"></span></a>
            </div>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}