{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}">
    <div class="productLink{{#if ../direction}} {{../direction}}{{/if}}">
        <a href="{{link}}" class="productImg">
            <img src="{{image}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}} loading="lazy"
                {{/if}}>
            {{#if tag}}
            <div class="productTag">{{tag}}</div>
            {{/if}}
        </a>
        <div class="productContent">
            {{#eq ../label compare=false}}{{else}}
            {{#if label}}
            <a href="#" class="productLabel">{{label}}</a>
            {{/if}}{{/eq}}
            {{#if label}}
            {{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="productTitle"><a href="{{link}}">{{title}}</a></{{.. /tag}}>
            {{else}}
            <a href="{{link}}" class="productTitle">{{title}}</a>
            {{/if}}
            <a href="author-detail.html" class="productAuthor">{{author}}</a>
            {{#if ../cta}}
            <div class="productCta">
                <button class="button productWish{{#if ../wish}} {{../wish}}{{/if}}" aria-label="favorite this product"
                    onclick="event.preventDefault(); triggerActiveButton(false,false,false,this)"><span
                        class="icoWishlist"></span></button>
                <a href="{{link}}" class="button buttonPrimary -icon">View Detail <span class="ico icoMore"></span></a>
                {{!-- <button class="button buttonPrimary productBuy -icon"
                    onclick="event.preventDefault(); event.stopPropagation(); triggerActiveButton(false,'.productCard',false,this, '.productCommerce')">Buy
                    From
                    <span class="ico icoMore"></span></button> --}}
            </div>
            {{/if}}
        </div>
    </div>
    {{#if widget}}{{else}}
    {{!-- <div class="productCommerce">
        <a href="#" class="productCommerce__link" target="_blank" rel="noopener noreferrer">
            <img src="./asset/images/icon/ico-gramedia.png" alt="" width="20" height="20" loading="lazy">
            <span>Gramedia.com</span>
        </a>
        <a href="#" class="productCommerce__link" target="_blank" rel="noopener noreferrer">
            <img src="./asset/images/icon/ico-tokped.png" alt="" width="20" height="20" loading="lazy">
            <span>Tokopedia.com</span>
        </a>
        <a href="#" class="productCommerce__link" target="_blank" rel="noopener noreferrer">
            <img src="./asset/images/icon/ico-shopee.png" alt="" width="20" height="20" loading="lazy">
            <span>Shopee.com</span>
        </a>
    </div> --}}
    {{/if}}
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}