{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem swiper-slide">
    <a href="{{link}}" class="productLink --row">
        <div class="productImg">
            <img src="{{image}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}}
                loading="lazy" {{/if}}>
        </div>
        <div class="productContent">
            {{#if ../label}}
            <div class="productLabel"> {{../label}}</div>
            {{/if}}
            {{#if ../tag}}
            <{{.. /tag}} class="productTitle">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="productTitle">{{title}}</div>
            {{/if}}
            <div class="productAuthor">{{author}}</div>
            <div class="productCta">
                <button class="button buttonPrimary -icon">View Detail <span class="ico icoMore"></span></button>
            </div>
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}