{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}">
    <a href="{{link}}" class="productLink{{#if ../direction}} {{../direction}}{{/if}}">
        <div class="productImg">
            <img src="{{image}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}} loading="lazy"
                {{/if}}>
            {{#if tag}}
            <div class="productTag">{{tag}}</div>
            {{/if}}
        </div>
        <div class="productContent">
            {{#if ../tag}}
            <{{.. /tag}} class="productTitle">{{title}}</{{.. /tag}}>
            {{else}}
            <div class="productTitle">{{title}}</div>
            {{/if}}
            {{#if ../review}}
            <div class="productTimestamp">2 jam lalu</div>
            <div class="productLead">Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit
                in lorem eget vitae. Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim
                fames.</div>
            {{/if}}
            {{#if ../cta}}
            <div class="productCta">
                <button class="button productWish" aria-label="favorite this product"
                    onclick="event.preventDefault(); triggerActiveButton(false,false,false,this)"><span
                        class="icoWishlist"></span></button>
                <button class="button buttonPrimary productBuy -icon"
                    onclick="event.preventDefault(); event.stopPropagation(); triggerActiveButton(false,'.productCard',false,this, '.productCommerce')">Buy
                    From
                    <span class="ico icoMore"></span></button>
            </div>
            {{/if}}
        </div>
    </a>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}