{{#each channel}}
<a href="{{link}}" class="socmedItem center-flex" aria-label="{{title}}">
    {{#if images}}
    <img src="./asset/images/icon/{{images}}" alt="" width="{{../width}}" height="{{../height}}" {{#if ../lazy}} loading="lazy" {{/if}}>
    {{else}}
    <span class="ico ico{{replace (capitalize icon)}}"></span>
    {{/if}}
    {{#if txt}}
    <span class="socmedItem__txt titleH5">{{txt}}</span>
    {{/if}}
</a>
{{/each}}