{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="productItem swiper-slide{{#if ../type}} {{../type}}{{/if}}">
    <div class="productWrap">
        <a href="{{link}}" class="productLink productImg__wrap">
            <div class="productImg">
                <img src="{{image}}" alt="{{title}}" width="162" height="243"{{#if ../lazy}} loading="lazy"{{/if}}>
            </div>
            {{#compare ../type "==" "specialItem"}}
            <div class="productDisc"><span>50% Off</span></div>
            {{/compare}}
        </a>
        <div class="productContent">
            <a href="{{link}}" class="productLink">
                {{#if ../tag}}
                <{{.. /tag}} class="productTitle">{{title}}</{{.. /tag}}>
                {{else}}
                <div class="productTitle">{{title}}</div>
                {{/if}}
                <div class="productAuthor">{{author}}</div>
                <div class="productLead">{{lead}}</div>
                <div class="productMore">
                    Selengkapnya
                    <span class="icoArrow"></span>
                </div>
            </a>
            <button class="button buttonPrimary productBuy">Buy From <span class="icoMore"></span></button>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}