{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="artItem{{#if ../col}} {{../col}}{{/if}}{{#if ../type}} {{../type}}{{/if}}">
    <div class="artLink">
        <a href="{{link}}" class="artImg">
            <img src="{{image}}" alt="" width="273" height="163" {{#if ../lazy}} loading="lazy" {{/if}}>
        </a>
        <div class="artContent">
            <a href="{{linklanding}}" class="artLabel">{{label}}</a>
            {{#if ../tag}}
            <{{.. /tag}} class="artTitle"><a href="{{link}}">{{title}}</a></{{.. /tag}}>
            {{else}}
            <a href="{{link}}" class="artTitle">{{title}}</a>
            {{/if}}
            <div class="artDates"><span class="ico icoCal"></span>{{publish}}</div>
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}